In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy
from sklearn import *
import statsmodels.api as sm
import networkx as nx
import requests
from flask import Flask
import sqlalchemy
import pytest
import tkinter as tk
import openpyxl

In [3]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\achu narayan\appdata\roaming\python\python311\site-packages (2.0.20)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

1 Write a query  to retrieve all shoe names and their corresponding prices for men's shoes:

In [5]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('Table1.db')
csv_file_path = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 1.csv'
df = pd.read_csv(csv_file_path)
table_name = 'Table1.db'
df.to_sql(table_name, conn, if_exists='replace', index=False)
conn.commit()

In [9]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('your_database_name.db')  
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS shoes (
        ShoeName TEXT,
        Price REAL,
        category TEXT
    );
''')
conn.commit()
csv_file_path = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 1.csv'
df = pd.read_csv(csv_file_path)
df.to_sql('shoes', conn, if_exists='replace', index=False)
query = "SELECT ShoeName, Price FROM shoes WHERE category = 'Men';"
result_df = pd.read_sql(query, conn)
print(result_df)

                                              ShoeName      Price
0    Bestseller\nNike Dunk Low Retro Premium\nMen's...   9 695.00
1             Nike Blazer Low '77 Vintage\nMen's Shoes   7 195.00
2        Bestseller\nNike Air Force 1 '07\nMen's Shoes   7 495.00
3    Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...  13 995.00
4                   Nike Court Vision Low\nMen's Shoes   5 695.00
..                                                 ...        ...
107                        Woodland OLIVE hiking boots       4295
108                                 Grey boots for men       5995
109                                     Excursion NTAN       3221
110                    Tan Leather Chukka Boot for Men      12995
111                         Black Chelsea Boot for Men      13995

[112 rows x 2 columns]

2 Write a query to retrieve the number of different colors available for each category.

In [10]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('your_database_name.db') 
query = '''
    SELECT category, COUNT(DISTINCT no_of_colors) AS NumColors
    FROM shoes
    GROUP BY category;
'''
result_df = pd.read_sql(query, conn)
print(result_df)
conn.close()

  category  NumColors
0     None          1
1      Men          7
2     Men           9
3    Women          8
4   Women           6

Write a query to find the most expensive men's shoe.

In [11]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('your_database_name.db')
query = '''
    SELECT ShoeName, Price
    FROM shoes
    WHERE category = 'Men'
    ORDER BY Price DESC
    LIMIT 1;
'''
result_df = pd.read_sql(query, conn)
print(result_df)
conn.close()

                             ShoeName  Price
0  Columbia Men Brown Plateau Venture  9,999

1 Write a query that retrieves the count of sizes for all styles.

In [17]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('color.db')
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS colors_data (
        "Count of sizes" TEXT,
        ProductCode TEXT,
        StyleCode TEXT,
        Color1 TEXT,
        Color2 TEXT,
        Color3 TEXT,
        Color4 TEXT,
        Color5 TEXT
    );
''')
conn.commit()
csv_file_path = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 2(AutoRecovered).csv'  
df = pd.read_csv(csv_file_path)
df.to_sql('colors_data', conn, if_exists='replace', index=False)
conn.close()

In [18]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('color.db')
cursor = conn.cursor()
query = '''
    SELECT "StyleCode" AS Style, COUNT(DISTINCT "Count of sizes") AS SizeCount
    FROM colors_data
    GROUP BY "StyleCode";
'''
result_df = pd.read_sql(query, conn)
print(result_df)
conn.close()

             Style  SizeCount
0      FN3722-801           1
1     FQ8147-104            1
2           IE3079          1
3       104339-PCH          1
4       111413-PCH          1
..             ...        ...
281         ID9423          1
282         IF9995          1
283         IG1062          1
284         IG6001          1
285     YM8651-010          1

[286 rows x 2 columns]

In [19]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('color.db') 
cursor = conn.cursor()
query = '''
    SELECT "StyleCode" AS Style, "Count of sizes" AS SizeCount
    FROM colors_data;
'''
result_df = pd.read_sql(query, conn)
print(result_df)
conn.close()

             Style                   SizeCount
0     FB8896-300    UK 6 (EU 40)\UK 6.5\...
1       DA6364-115  UK 6 (EU 40)\UK 6.5\...
2     CW2288-111    UK 5.5\UK 6 (EU 39)\...
3     FB8875-002    UK 5.5\UK 6 (EU 39)\...
4       FQ8075-133  UK 5.5\UK 6 (EU 39)\...
..             ...                         ...
289  FLC0BU028831A        35\36\37\38\39\40\41
290  FLC0310S2542A        35\36\37\38\39\40\41
291  FLC0180R4192B        35\36\37\38\39\40\41
292  FLC0180R4182B        35\36\37\38\39\40\41
293  FLC0H40U6452A        35\36\37\38\39\40\41

[294 rows x 2 columns]

2  Write a query to list all styles with their associated colors.

In [20]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('color.db') 
cursor = conn.cursor()
query = '''
    SELECT DISTINCT "Style Code" AS Style, Color1, Color2, Color3, Color4, Color5
    FROM colors_data;
'''
result_df = pd.read_sql(query, conn)
print(result_df)
conn.close()

          Style                    Color1               Color2  \
0    Style Code              Deep Jungle          Light Silver
1    Style Code                     White                 Sail
2    Style Code                     White                White
3    Style Code   Light Silver                           Clear
4    Style Code                      Sail  Light Orewood Brown
..          ...                       ...                  ...
214  Style Code             RUSSIA DBROWN                 None
215  Style Code               BRIGHT GREY                 None
216  Style Code               DROYAL BLUE                 None
217  Style Code                     BEIGE                 None
218  Style Code                 RUSTY RED                 None

             Color3         Color4 Color5
0       Deep Jungle          White   None
1             Black  Pine Green      None
2              None           None   None
3    Light Silver             None   None
4             White          Black   None
..              ...            ...    ...
214            None           None   None
215            None           None   None
216            None           None   None
217            None           None   None
218            None           None   None

[219 rows x 6 columns]

3 Write a to find styles that have more than one color.

In [23]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('color.db') 
cursor = conn.cursor()
query = '''
    SELECT "StyleCode" AS Style
    FROM colors_data
    WHERE Color2 IS NOT NULL
       OR Color3 IS NOT NULL
       OR Color4 IS NOT NULL
       OR Color5 IS NOT NULL
    GROUP BY "StyleCode"
    HAVING COUNT(DISTINCT Color1) + COUNT(DISTINCT Color2) + COUNT(DISTINCT Color3) + COUNT(DISTINCT Color4) + COUNT(DISTINCT Color5) > 1;
'''
result_df = pd.read_sql(query, conn)
print(result_df)
conn.close()

             Style
0      FN3722-801
1     FQ8147-104
2           IE3079
3        190305_10
4        191667_02
..             ...
198         ID9423
199         IF9995
200         IG1062
201         IG6001
202     YM8651-010

[203 rows x 1 columns]

4  Write a query to find the count of sizes available for each color for a specific style code.

In [24]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('color.db') 
cursor = conn.cursor()
style_code = 'StyleCode' 
query = f'''
    SELECT "{style_code}" AS Style,
           Color1,
           COUNT(DISTINCT "Count of sizes") AS SizeCount1,
           Color2,
           COUNT(DISTINCT "Count of sizes") AS SizeCount2,
           Color3,
           COUNT(DISTINCT "Count of sizes") AS SizeCount3,
           Color4,
           COUNT(DISTINCT "Count of sizes") AS SizeCount4,
           Color5,
           COUNT(DISTINCT "Count of sizes") AS SizeCount5
    FROM colors_data
    WHERE "StyleCode" = "{style_code}"
    GROUP BY "StyleCode", Color1, Color2, Color3, Color4, Color5;
'''
result_df = pd.read_sql(query, conn)
print(result_df)
conn.close()

             Style                 Color1  SizeCount1           Color2  \
0      FN3722-801            Sky J Orange           1          Sail
1     FQ8147-104    Light Orewood Brown             1  Gum Light Brown
2           IE3079                   Talc           1       Core Black
3       104339-PCH                   None           1             None
4       111413-PCH                   None           1             None
..             ...                    ...         ...              ...
288         ID9423             Core Black           1       Core Black
289         IF9995            Cloud White           1       Core Black
290         IG1062             Glory Red            1       Off White
291         IG6001            Core Black            1       Core Black
292     YM8651-010                  Black           1              Owl

     SizeCount2            Color3  SizeCount3 Color4  SizeCount4 Color5  \
0             1              None           1   None           1   None
1             1              None           1   None           1   None
2             1   Pulse Olive F22           1   None           1   None
3             1              None           1   None           1   None
4             1              None           1   None           1   None
..          ...               ...         ...    ...         ...    ...
288           1  Coral Fusion S23           1   None           1   None
289           1     Gold Metallic           1   None           1   None
290           1       Cream White           1   None           1   None
291           1       Cloud White           1   None           1   None
292           1              None           1   None           1   None

     SizeCount5
0             1
1             1
2             1
3             1
4             1
..          ...
288           1
289           1
290           1
291           1
292           1

[293 rows x 11 columns]

In [25]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('color.db') 
cursor = conn.cursor()
style_code = 'StyleCode' 
query = f'''
    SELECT "{style_code}" AS Style,
           Color1,
           "Count of sizes" AS SizeCount1,
           Color2,
           "Count of sizes" AS SizeCount2,
           Color3,
           "Count of sizes" AS SizeCount3,
           Color4,
           "Count of sizes" AS SizeCount4,
           Color5,
           "Count of sizes" AS SizeCount5
    FROM colors_data
    WHERE "StyleCode" = "{style_code}";
'''
result_df = pd.read_sql(query, conn)
print(result_df)
conn.close()

             Style                    Color1                  SizeCount1  \
0     FB8896-300                Deep Jungle   UK 6 (EU 40)\UK 6.5\...
1       DA6364-115                     White  UK 6 (EU 40)\UK 6.5\...
2     CW2288-111                       White  UK 5.5\UK 6 (EU 39)\...
3     FB8875-002     Light Silver             UK 5.5\UK 6 (EU 39)\...
4       FQ8075-133                      Sail  UK 5.5\UK 6 (EU 39)\...
..             ...                       ...                         ...
289  FLC0BU028831A                     BLACK        35\36\37\38\39\40\41
290  FLC0310S2542A                     CAMEL        35\36\37\38\39\40\41
291  FLC0180R4192B                     BLACK        35\36\37\38\39\40\41
292  FLC0180R4182B                     BLACK        35\36\37\38\39\40\41
293  FLC0H40U6452A                     BLACK        35\36\37\38\39\40\41

                  Color2                  SizeCount2          Color3  \
0           Light Silver  UK 6 (EU 40)\UK 6.5\...        Deep Jungle
1                   Sail  UK 6 (EU 40)\UK 6.5\...              Black
2                  White  UK 5.5\UK 6 (EU 39)\...               None
3                  Clear  UK 5.5\UK 6 (EU 39)\...     Light Silver
4    Light Orewood Brown  UK 5.5\UK 6 (EU 39)\...              White
..                   ...                         ...             ...
289                 None        35\36\37\38\39\40\41            None
290                 None        35\36\37\38\39\40\41            None
291                 None        35\36\37\38\39\40\41            None
292                 None        35\36\37\38\39\40\41            None
293                 None        35\36\37\38\39\40\41            None

                     SizeCount3         Color4                  SizeCount4  \
0    UK 6 (EU 40)\UK 6.5\...             White  UK 6 (EU 40)\UK 6.5\...
1    UK 6 (EU 40)\UK 6.5\...     Pine Green     UK 6 (EU 40)\UK 6.5\...
2    UK 5.5\UK 6 (EU 39)\...              None  UK 5.5\UK 6 (EU 39)\...
3    UK 5.5\UK 6 (EU 39)\...              None  UK 5.5\UK 6 (EU 39)\...
4    UK 5.5\UK 6 (EU 39)\...             Black  UK 5.5\UK 6 (EU 39)\...
..                          ...            ...                         ...
289        35\36\37\38\39\40\41           None        35\36\37\38\39\40\41
290        35\36\37\38\39\40\41           None        35\36\37\38\39\40\41
291        35\36\37\38\39\40\41           None        35\36\37\38\39\40\41
292        35\36\37\38\39\40\41           None        35\36\37\38\39\40\41
293        35\36\37\38\39\40\41           None        35\36\37\38\39\40\41

    Color5                  SizeCount5
0     None  UK 6 (EU 40)\UK 6.5\...
1     None  UK 6 (EU 40)\UK 6.5\...
2     None  UK 5.5\UK 6 (EU 39)\...
3     None  UK 5.5\UK 6 (EU 39)\...
4     None  UK 5.5\UK 6 (EU 39)\...
..     ...                         ...
289   None        35\36\37\38\39\40\41
290   None        35\36\37\38\39\40\41
291   None        35\36\37\38\39\40\41
292   None        35\36\37\38\39\40\41
293   None        35\36\37\38\39\40\41

[294 rows x 11 columns]

5  Write a query to find styles that have a specific color.

In [26]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('color.db')
cursor = conn.cursor()
specific_color = 'White' 
query = f'''
    SELECT DISTINCT "StyleCode" AS Style
    FROM colors_data
    WHERE Color1 = "White"
       OR Color2 = "Sail"
       OR Color3 = "Pine Green";
'''
result_df = pd.read_sql(query, conn)
print(result_df)
conn.close()

          Style
0    DA6364-115
1  CW2288-111
2  DH3162-100
3  DA6364-101
4  DR5540-102
5   FB2269-103
6    FB9893-101
7    FD8683-100

1 Write a query calculates the average comfort rating for a specific product based on its reviews.

In [27]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('product_ratings.db') 
cursor = conn.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS product_ratings (
        Reviews TEXT,
        Size INTEGER,
        Comfort TEXT,
        Performance INTEGER,
        StarRating REAL
    );
''')
conn.commit()
csv_file_path = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 3.csv'
df = pd.read_csv(csv_file_path)
df.to_sql('product_ratings', conn, if_exists='replace', index=False)
conn.close()

In [33]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('product_ratings.db') 
specific_product = 'Best'  
query = f'''
    SELECT Comfort
    FROM product_ratings
    WHERE Reviews LIKE '%{specific_product}%';
'''
result_df = pd.read_sql(query, conn)
print(result_df)
conn.close()

             Comfort
0   very comfortable
1    not comfortable
2        Comfortable
3   Very Comfortable
4        Comfortable
5   Very Comfortable
6        Comfortable
7        Comfortable
8   Very Comfortable
9   Very Comfortable
10  Very Comfortable
11  Very Comfortable
12  Very Comfortable
13       Comfortable
14       Comfortable
15       Comfortable
16  Very Comfortable
17       Comfortable
18       Comfortable
19  Very Comfortable
20       Comfortable
21  Very Comfortable
22  Very Comfortable
23       Comfortable
24  Very Comfortable
25       Comfortable
26  Very Comfortable
27       Comfortable
28       Comfortable
29   Not Comfortable
30   Not Comfortable
31   Not Comfortable

2  Write a query to retrieve products with high star ratings (e.g., 4 stars or above)

In [34]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('product_ratings.db') 
query = '''
    SELECT *
    FROM product_ratings
    WHERE starrating >= 4;
'''
result_df = pd.read_sql(query, conn)
print(result_df)
conn.close()

                                               Reviews  \
0        Good shoes great fit recommend you buy some .
1    Best I ever had lol n a sneaker\nGot these bef...
2    Loving ❤️ it ✔️ this is fascinating eager to r...
3    Great Daily Trainer\nI just purchased these sh...
4    The photos definitely don’t do them justice bu...
..                                                 ...
214  These shoes are the epitome of comfort, fittin...
215  The most comfortable ever. The fit is true to ...
216  A pair of shoes that's super comfy for the ent...
217  These shoes rank as the most comfortable Nikes...
218  Exceptionally comfy for the entire day. The fi...

                           Size           Comfort  performance  starrating
0    UK 6 (EU 40)\UK 6.5\...          Comfortable          5.0         5.0
1    UK 5.5\UK 6 (EU 39)\...     very comfortable          4.0         4.8
2    UK 6 (EU 40)\UK 6.5\...     Very comfortable          4.0         4.6
3    UK 5.5\UK 6 (EU 39)\...     very comfortable          5.0         4.7
4    UK 6 (EU 40)\UK 6.5\...          comfortable          3.0         4.9
..                          ...               ...          ...         ...
214        35\36\37\38\39\40\41  Very Comfortable          7.0         5.0
215        35\36\37\38\39\40\41  Very Comfortable          0.0         5.0
216        35\36\37\38\39\40\41       Comfortable          6.0         4.1
217        35\36\37\38\39\40\41       Comfortable          6.0         4.6
218        35\36\37\38\39\40\41       Comfortable          6.0         4.9

[219 rows x 5 columns]

3 Write a query that counts the number of reviews for each product.

In [35]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('product_ratings.db') 
query = '''
    SELECT Reviews, LENGTH(Reviews) - LENGTH(REPLACE(Reviews, ' ', '')) + 1 AS WordCount
    FROM product_ratings;
'''
result_df = pd.read_sql(query, conn)
print(result_df)
conn.close()

                                               Reviews  WordCount
0        Good shoes great fit recommend you buy some .        9.0
1                                                  nil        1.0
2                                                  nil        1.0
3                                                  nil        1.0
4    Best I ever had lol n a sneaker\nGot these bef...       93.0
..                                                 ...        ...
289  These shoes are the epitome of comfort, fittin...       31.0
290  The most comfortable ever. The fit is true to ...       48.0
291  A pair of shoes that's super comfy for the ent...       32.0
292  These shoes rank as the most comfortable Nikes...       58.0
293  Exceptionally comfy for the entire day. The fi...       53.0

[294 rows x 2 columns]

4  Write a To retrieve products that have a quantified durability/quality/performance rating above a certain threshold (e.g., above 4).

In [36]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('product_ratings.db') 
threshold = 4  
query = f'''
    SELECT *
    FROM product_ratings
    WHERE performance > {threshold};
'''
result_df = pd.read_sql(query, conn)
print(result_df)
conn.close()

                                               Reviews  \
0        Good shoes great fit recommend you buy some .
1                                                  nil
2    Great Daily Trainer\nI just purchased these sh...
3    Looks over comfort\nVery good looking shoes es...
4    Great product\nThis shoes is awesome. It’s so ...
..                                                 ...
196  A shoe that's super comfy all day long. It's e...
197  These shoes are the epitome of comfort, fittin...
198  A pair of shoes that's super comfy for the ent...
199  These shoes rank as the most comfortable Nikes...
200  Exceptionally comfy for the entire day. The fi...

                           Size           Comfort  performance  starrating
0    UK 6 (EU 40)\UK 6.5\...          Comfortable          5.0         5.0
1    UK 5.5\UK 6 (EU 39)\...                  nil          6.0         0.0
2    UK 5.5\UK 6 (EU 39)\...     very comfortable          5.0         4.7
3    UK 6 (EU 40)\UK 6.5\...     Very comfortable          6.0         4.8
4     UK 5.5\UK 6\UK 6.5\...     Very comfortable          5.0         4.4
..                          ...               ...          ...         ...
196        35\36\37\38\39\40\41  Very Comfortable          7.0         5.0
197        35\36\37\38\39\40\41  Very Comfortable          7.0         5.0
198        35\36\37\38\39\40\41       Comfortable          6.0         4.1
199        35\36\37\38\39\40\41       Comfortable          6.0         4.6
200        35\36\37\38\39\40\41       Comfortable          6.0         4.9

[201 rows x 5 columns]

5 Write a query that  calculates the average comfort rating for each size.

In [37]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('product_ratings.db') 
query = '''
    SELECT Size, Comfort AS AverageComfortRating
    FROM product_ratings
    GROUP BY Size;
'''
result_df = pd.read_sql(query, conn)
print(result_df)
conn.close()

                                                 Size AverageComfortRating
0                                                 ...          Comfortable
1                                35\36\37\38\39\40\41     Very Comfortable
2                                39\40\41\42\43\44\45     Very Comfortable
3                          39\40\41\42\43\44\45\46\47      Not Comfortable
4                               3\3.5\4\4.5\5\5.5\...     Very Comfortable
..                                                ...                  ...
58                                UK-5\UK-6\UK-7\UK-8          Comfortable
59              UK-6\UK-7\UK-8\UK-9\UK-10\UK-11\UK-12      Not Comfortable
60                         UK-7\UK-8\UK-9\UK-10\UK-11      Not Comfortable
61       UK-7\UK-8\UK-9\UK-10\UK-11\UK-12\UK-13\UK-14     Very Comfortable
62  UK6\UK6.5\UK-7\UK7.5\UK-8\UK8.5\UK-9\UK-9.5\UK...      Not Comfortable

[63 rows x 2 columns]

1 Write a query finds the top-rated men's shoes along with their sizes from "Table1" and "Table3."

In [15]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('top_rated_mens_shoes.db')

csv_file_path_table1 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 1.csv'
df_table1 = pd.read_csv(csv_file_path_table1)
df_table1.to_sql('Table1', conn, if_exists='replace', index=False)

csv_file_path_table3 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 3.csv'
df_table3 = pd.read_csv(csv_file_path_table3)
df_table3.to_sql('Table3', conn, if_exists='replace', index=False)

query = '''
    SELECT T1.category, T1.Size, T3.starrating
    FROM Table1 T1
    JOIN Table3 T3 ON T1.Size = T3.Size
    WHERE T1.category = 'Men'  -- Assuming 'Men' is the category for men's shoes
    ORDER BY T3.starrating DESC
    LIMIT 10;  -- Adjust the limit as needed
'''

result_df = pd.read_sql(query, conn)

print(result_df)

conn.close()

  category                        Size  starrating
0      Men  UK 6 (EU 40)\UK 6.5\...            5.0
1      Men  UK 6 (EU 40)\UK 6.5\...            5.0
2      Men  UK 6 (EU 40)\UK 6.5\...            5.0
3      Men  UK 6 (EU 40)\UK 6.5\...            5.0
4      Men  UK 6 (EU 40)\UK 6.5\...            5.0
5      Men  UK 6 (EU 40)\UK 6.5\...            5.0
6      Men  UK 6 (EU 40)\UK 6.5\...            5.0
7      Men  UK 6 (EU 40)\UK 6.5\...            5.0
8      Men  UK 6 (EU 40)\UK 6.5\...            5.0
9      Men  UK 6 (EU 40)\UK 6.5\...            5.0

2  Write a  query calculates the average comfort rating for each category from "Table1" and "Table3."

In [18]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('average_comfort.db')  

csv_file_path_table1 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 1.csv'
df_table1 = pd.read_csv(csv_file_path_table1)
df_table1.to_sql('Table1', conn, if_exists='replace', index=False)

csv_file_path_table3 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 3.csv'
df_table3 = pd.read_csv(csv_file_path_table3)
df_table3.to_sql('Table3', conn, if_exists='replace', index=False)

query = '''
    SELECT
        T1.category,
        T3.Comfort AS AverageComfortRating
    FROM
        Table1 T1
    JOIN
        Table3 T3 ON T1.category = T3.category
    GROUP BY
        T1.category;
'''

result_df = pd.read_sql(query, conn)

print(result_df)

conn.close()

  category AverageComfortRating
0      Men                 None
1     Men           Comfortable
2    Women                 None
3   Women           Comfortable

3  Write a  query identifies products with a durability/quality/performance rating higher than the average from "Table1" and "Table3."

In [20]:
import sqlite3
import pandas as pd


conn = sqlite3.connect('high_performance_products.db')  

csv_file_path_table1 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 1.csv'
df_table1 = pd.read_csv(csv_file_path_table1)
df_table1.to_sql('Table1', conn, if_exists='replace', index=False)

csv_file_path_table3 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 3.csv'
df_table3 = pd.read_csv(csv_file_path_table3)
df_table3.to_sql('Table3', conn, if_exists='replace', index=False)

average_performance_query = 'SELECT AVG(performance) AS average_performance FROM Table3;'
average_performance = pd.read_sql(average_performance_query, conn)['average_performance'].iloc[0]

query = f'''
    SELECT
        T1.ShoeName,
        T1.performance AS Performance_Table1,
        T3.performance AS Performance_Table3
    FROM
        Table1 T1
    JOIN
        Table3 T3 ON T1.performance > {average_performance};
'''

result_df = pd.read_sql(query, conn)

print(result_df)
conn.close()

                                                ShoeName  Performance_Table1  \
0      Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...                 6.0
1      Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...                 6.0
2      Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...                 6.0
3      Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...                 6.0
4      Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...                 6.0
...                                                  ...                 ...
44491                                 Grey boots for men                 6.0
44492                                 Grey boots for men                 6.0
44493                                 Grey boots for men                 6.0
44494                                 Grey boots for men                 6.0
44495                                 Grey boots for men                 6.0

       Performance_Table3
0                     5.0
1                     4.0
2                     3.0
3                     6.0
4                     4.0
...                   ...
44491                 NaN
44492                 NaN
44493                 NaN
44494                 NaN
44495                 NaN

[44496 rows x 3 columns]

In [24]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('high_performance_products.db')  

csv_file_path_table1 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 1.csv'
df_table1 = pd.read_csv(csv_file_path_table1)
df_table1.to_sql('Table1', conn, if_exists='replace', index=False)

csv_file_path_table3 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 3.csv'
df_table3 = pd.read_csv(csv_file_path_table3)
df_table3['performance'] = 5  
df_table3.to_sql('Table3', conn, if_exists='replace', index=False)

query = '''
    SELECT
        T1.ShoeName,
        T1.performance AS Performance_Table1,
        T3.performance AS Performance_Table3
    FROM
        Table1 T1
    JOIN
        Table3 T3 ON T1.performance = T3.performance;
'''

result_df = pd.read_sql(query, conn)

print(result_df)

conn.close()

                                                ShoeName  Performance_Table1  \
0      Bestseller\nNike Dunk Low Retro Premium\nMen's...                 5.0
1      Bestseller\nNike Dunk Low Retro Premium\nMen's...                 5.0
2      Bestseller\nNike Dunk Low Retro Premium\nMen's...                 5.0
3      Bestseller\nNike Dunk Low Retro Premium\nMen's...                 5.0
4      Bestseller\nNike Dunk Low Retro Premium\nMen's...                 5.0
...                                                  ...                 ...
17608                                 Grey boots for men                 5.0
17609                                 Grey boots for men                 5.0
17610                                 Grey boots for men                 5.0
17611                                 Grey boots for men                 5.0
17612                                 Grey boots for men                 5.0

       Performance_Table3
0                       5
1                       5
2                       5
3                       5
4                       5
...                   ...
17608                   5
17609                   5
17610                   5
17611                   5
17612                   5

[17613 rows x 3 columns]

4    Write a  subquery finds products with comfort ratings above the average comfort rating using "Table1" and "Table3."

In [27]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('very_comfortable_products.db')  

csv_file_path_table1 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 1.csv'
df_table1 = pd.read_csv(csv_file_path_table1)
df_table1.to_sql('Table1', conn, if_exists='replace', index=False)

csv_file_path_table3 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 3.csv'
df_table3 = pd.read_csv(csv_file_path_table3)
df_table3.to_sql('Table3', conn, if_exists='replace', index=False)

query = '''
    SELECT Table1.ShoeName, Table1.Comfort
    FROM Table1
    JOIN Table3 ON Table1.Comfort = Table3.Comfort
    WHERE Table1.Comfort = 'Very Comfortable' AND Table3.Comfort = 'Very Comfortable';
'''

result_df = pd.read_sql(query, conn)

print(result_df)

conn.close()

                               ShoeName           Comfort
0          Nike Dunk Low\nWomen's Shoes  Very Comfortable
1          Nike Dunk Low\nWomen's Shoes  Very Comfortable
2          Nike Dunk Low\nWomen's Shoes  Very Comfortable
3          Nike Dunk Low\nWomen's Shoes  Very Comfortable
4          Nike Dunk Low\nWomen's Shoes  Very Comfortable
...                                 ...               ...
6079  Chiku/Toupe Chelsea Boots for Men  Very Comfortable
6080  Chiku/Toupe Chelsea Boots for Men  Very Comfortable
6081  Chiku/Toupe Chelsea Boots for Men  Very Comfortable
6082  Chiku/Toupe Chelsea Boots for Men  Very Comfortable
6083  Chiku/Toupe Chelsea Boots for Men  Very Comfortable

[6084 rows x 2 columns]

 5 Write a  query joins Table 1  and Table 2  using the "Style code/Product code" column, allowing you to retrieve shoe information along with product details.

In [32]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('shoe_details.db')  

csv_file_path_table1 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 1.csv'
df_table1 = pd.read_csv(csv_file_path_table1,encoding='latin1')
df_table1.to_sql('Table1', conn, if_exists='replace', index=False)

csv_file_path_table2 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 2(AutoRecovered).csv'
df_table2 = pd.read_csv(csv_file_path_table2,encoding='latin1')
df_table2.to_sql('Table2', conn, if_exists='replace', index=False)

query = '''
    SELECT T1.ShoeName, T1.category, T1.no_of_colors, T1.Price,
           T2.Color1, T2.Color2, T2.Color3, T2.Color4, T2.Color5
    FROM Table1 T1
    JOIN Table2 T2 ON T1.StyleCode = T2.StyleCode;
'''

result_df = pd.read_sql(query, conn)

print(result_df)

conn.close()

                                              ShoeName category no_of_colors  \
0    Bestseller\nNike Dunk Low Retro Premium\nMen's...      Men     1 colour
1             Nike Blazer Low '77 Vintage\nMen's Shoes      Men    3 colours
2        Bestseller\nNike Air Force 1 '07\nMen's Shoes      Men    2 colours
3    Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...      Men    3 colours
4                   Nike Court Vision Low\nMen's Shoes      Men     1 colour
..                                                 ...      ...          ...
303                                Mammoth OLIVE GREEN      Men    3 colours
304                  Chiku/Toupe Chelsea Boots for Men      Men    3 colours
305                   Woodland RUST BROWN hiking shoes      Men    3 colours
306                        Woodland OLIVE hiking boots      Men    3 colours
307                                 Grey boots for men      Men    3 colours

         Price                    Color1               Color2          Color3  \
0     9 695.00              Deep Jungle          Light Silver     Deep Jungle
1     7 195.00                     White                 Sail           Black
2     7 495.00                     White                White            None
3    13 995.00   Light Silver                           Clear  Light Silver
4     5 695.00                      Sail  Light Orewood Brown           White
..         ...                       ...                  ...             ...
303       3895                     BLACK                 None            None
304      12995                     CAMEL                 None            None
305       4197                     BLACK                 None            None
306       4295                     BLACK                 None            None
307       5995                     BLACK                 None            None

            Color4 Color5
0            White   None
1    Pine Green      None
2             None   None
3             None   None
4            Black   None
..             ...    ...
303           None   None
304           None   None
305           None   None
306           None   None
307           None   None

[308 rows x 9 columns]

6 Write a  query that  identifies products with a star rating above the average star rating for their respective size.

In [33]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('star_rating_analysis.db')  

csv_file_path_table1 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 1.csv'
df_table1 = pd.read_csv(csv_file_path_table1, encoding='latin1')
df_table1.to_sql('Table1', conn, if_exists='replace', index=False)


csv_file_path_table3 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 3.csv'
df_table3 = pd.read_csv(csv_file_path_table3, encoding='latin1')
df_table3.to_sql('Table3', conn, if_exists='replace', index=False)


query = '''
    SELECT T1.category, T1.no_of_colors, T1.Price, T1.ShoeName, T3.starrating, T3.Size
    FROM Table1 T1
    JOIN Table3 T3 ON T1.starrating = T3.starrating
    WHERE T3.starrating > (SELECT AVG(starrating) FROM Table3 WHERE Size = T3.Size);
'''

result_df = pd.read_sql(query, conn)

print(result_df)

conn.close()

     category no_of_colors      Price  \
0         Men     1 colour       3000
1         Men     1 colour   9 695.00
2         Men    3 colours   6 795.00
3       Women     1 colour       2625
4         Men    3 colours       4871
...       ...          ...        ...
3524   Women     4 colours  11 999.00
3525    Women    2 colours       3074
3526      Men    4 colours   5 695.00
3527     Men     2 colours   2 799.50
3528   Women     2 colours   2 999.50

                                               ShoeName  starrating  \
0     Axelion NXT Camo Men's Running Shoes Puma Blac...         5.0
1     Bestseller\nNike Dunk Low Retro Premium\nMen's...         5.0
2     Bestseller\nNike SB Zoom Blazer Low Pro GT\nSk...         5.0
3     Better Foam Prowl Slip On Women's Training Sho...         5.0
4                                   Brown Boots for Men         5.0
...                                                 ...         ...
3524                                     Samba OG Shoes         4.9
3525  Soft ride Flair Women's Running Shoes PUMA Bla...         4.9
3526  Sustainable Materials\nNikeCourt Legacy\nMen's...         4.9
3527                                   Ultimashow Shoes         4.9
3528                                   X_PLRBOOST Shoes         4.9

                            Size
0     UK 6 (EU 40)\UK 6.5\...
1     UK 6 (EU 40)\UK 6.5\...
2     UK 6 (EU 40)\UK 6.5\...
3     UK 6 (EU 40)\UK 6.5\...
4     UK 6 (EU 40)\UK 6.5\...
...                          ...
3524        35\36\37\38\39\40\41
3525        35\36\37\38\39\40\41
3526        35\36\37\38\39\40\41
3527        35\36\37\38\39\40\41
3528        35\36\37\38\39\40\41

[3529 rows x 6 columns]

7  Write  a  query finds products with the highest comfort rating in each category.

In [34]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('comfort_rating_analysis.db')  

csv_file_path_table1 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 1.csv'
df_table1 = pd.read_csv(csv_file_path_table1, encoding='latin1')
df_table1.to_sql('Table1', conn, if_exists='replace', index=False)

csv_file_path_table3 = r'C:\Users\ACHU NARAYAN\Desktop\dt\assignment\flip robo ds2306\selenium\table 3.csv'
df_table3 = pd.read_csv(csv_file_path_table3, encoding='latin1')
df_table3.to_sql('Table3', conn, if_exists='replace', index=False)

query = '''
    SELECT T1.category, T1.no_of_colors, T1.Price, T1.ShoeName, T3.Comfort, T3.Size
    FROM Table1 T1
    JOIN Table3 T3 ON T1.Comfort = T3.Comfort
    WHERE T3.Comfort = 'Very Comfortable';
'''
result_df = pd.read_sql(query, conn)
print(result_df)

conn.close()

     category no_of_colors     Price                            ShoeName  \
0         Men     1 colour  5 695.00  Nike Court Vision Low\nMen's Shoes
1         Men     1 colour  5 695.00  Nike Court Vision Low\nMen's Shoes
2         Men     1 colour  5 695.00  Nike Court Vision Low\nMen's Shoes
3         Men     1 colour  5 695.00  Nike Court Vision Low\nMen's Shoes
4         Men     1 colour  5 695.00  Nike Court Vision Low\nMen's Shoes
...       ...          ...       ...                                 ...
6469      Men    3 colours     12995   Chiku/Toupe Chelsea Boots for Men
6470      Men    3 colours     12995   Chiku/Toupe Chelsea Boots for Men
6471      Men    3 colours     12995   Chiku/Toupe Chelsea Boots for Men
6472      Men    3 colours     12995   Chiku/Toupe Chelsea Boots for Men
6473      Men    3 colours     12995   Chiku/Toupe Chelsea Boots for Men

               Comfort                                          Size
0     Very Comfortable                          35\36\37\38\39\40\41
1     Very Comfortable                          35\36\37\38\39\40\41
2     Very Comfortable                          35\36\37\38\39\40\41
3     Very Comfortable                          35\36\37\38\39\40\41
4     Very Comfortable                          35\36\37\38\39\40\41
...                ...                                           ...
6469  Very Comfortable                      UK 3\UK 3.5\UK 4\U...
6470  Very Comfortable                      UK 3\UK 3.5\UK 4\U...
6471  Very Comfortable                    UK 6 (EU 40)\UK 6.5\...
6472  Very Comfortable         UK-6\UK-7\UK-8\UK-9\UK-10\UK-11\UK-12
6473  Very Comfortable  UK-7\UK-8\UK-9\UK-10\UK-11\UK-12\UK-13\UK-14

[6474 rows x 6 columns]

In [ ]:
End of Project.