In [1]:
pip install selenium

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
!pip install webdriver-manager

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: webdriver-manager in c:\users\achu narayan\appdata\roaming\python\python311\site-packages (4.0.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from webdriver-manager) (2.29.0)
Requirement already satisfied: python-dotenv in c:\programdata\anaconda3\lib\site-packages (from webdriver-manager) (1.0.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from webdriver-manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver-manager) (2023.5.7)

In [2]:
pip install selenium beautifulsoup4 pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.22.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.10.3)
Requirement already satisfied: certifi>=2021.10.8 in c:\programdata\anaconda3\lib\site-packages (from selenium) (2023.5.7)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: attrs>=20.1.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.2)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install --upgrade webdriver_manager

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: webdriver_manager in c:\users\achu narayan\appdata\roaming\python\python311\site-packages (4.0.1)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from webdriver_manager) (2.29.0)
Requirement already satisfied: python-dotenv in c:\programdata\anaconda3\lib\site-packages (from webdriver_manager) (1.0.0)
Requirement already satisfied: packaging in c:\programdata\anaconda3\lib\site-packages (from webdriver_manager) (23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver_manager) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver_manager) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver_manager) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->webdriver_manager) (2023.5.7)
Note: you may need to restart the kernel to use updated packages.

In [1]:
!pip install bs4
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in c:\users\achu narayan\appdata\roaming\python\python311\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.4)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (2.29.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests) (2023.5.7)

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.webdriver import WebDriver
import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")

In [3]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [29]:
driver.get("https://www.nike.com")

In [4]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [5]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [6]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="wallNavFG0"]/a[1]/div')
search_keyword.click()

In [7]:
ShoeName = [] 
no_of_colors = []
price = []
category = []

In [8]:
title_tags=driver.find_elements(By.CLASS_NAME,'product_msg_info')
for i in title_tags[0:50]:
    title=i.text
    ShoeName.append(title)

In [9]:
title_tags=driver.find_elements(By.CLASS_NAME,'product-card__product-count')
for i in title_tags[0:50]:
    title=i.text
    no_of_colors.append(title)

In [10]:
title_tags=driver.find_elements(By.CLASS_NAME,'product-card__price-wrapper')
for i in title_tags[0:50]:
    title=i.text
    price.append(title)

In [11]:
title_tags=driver.find_elements(By.CLASS_NAME,'product-card__subtitle')
for i in title_tags[0:50]:
    title=i.text
    category.append(title)

In [12]:
print = (len(ShoeName),len(no_of_colors), len(price),len(category))

In [13]:
print

(24, 24, 24, 24)

In [14]:
import pandas as pd
df=pd.DataFrame({'ShoeName':ShoeName,'no_of_colors':no_of_colors, 'price':price, 'category':category})
df

,ShoeName,no_of_colors,price,category
0,Bestseller\nNike Dunk Low Retro Premium\nMen's...,1 Colour,MRP : ₹ 9 695.00,Men's Shoes
1,Nike Blazer Low '77 Vintage\nMen's Shoes,3 Colours,MRP : ₹ 7 195.00,Men's Shoes
2,Bestseller\nNike Air Force 1 '07\nMen's Shoes,2 Colours,MRP : ₹ 7 495.00,Men's Shoes
3,Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...,3 Colours,MRP : ₹ 13 995.00,Men's Shoes
4,Nike Court Vision Low\nMen's Shoes,1 Colour,MRP : ₹ 5 695.00,Men's Shoes
5,Bestseller\nNike Air Force 1 '07 LV8\nMen's Shoes,2 Colours,MRP : ₹ 10 795.00,Men's Shoes
6,Just In\nNike Air Max 1\nMen's shoes,5 Colours,MRP : ₹ 12 795.00,Men's shoes
7,Sustainable Materials\nNikeCourt Legacy\nMen's...,4 Colours,MRP : ₹ 5 695.00,Men's Shoes
8,Nike Air Max SC Leather\nMen's Shoes,2 Colours,MRP : ₹ 6 795.00,Men's Shoes
9,Nike Killshot 2 Leather\nMen's Shoe,2 Colours,MRP : ₹ 7 995.00,Men's Shoe
10,Bestseller\nNike Blazer Low '77 Jumbo\nMen's S...,2 Colours,MRP : ₹ 8 595.00,Men's Shoes
11,Bestseller\nNike SB Zoom Blazer Low Pro GT\nSk...,3 Colours,MRP : ₹ 6 795.00,Skate Shoes
12,Nike Air Force 1 React\nMen's Shoes,1 Colour,MRP : ₹ 11 995.00,Men's Shoes
13,Nike Air Max Cirro\nMen's Slides,4 Colours,MRP : ₹ 3 695.00,Men's Slides
14,Jordan Max Aura 5\nMen's Shoes,5 Colours,MRP : ₹ 11 895.00,Men's Shoes
15,Customise\nNike Air Force 1 Mid By You\nMen's ...,6 Colours,MRP : ₹ 12 795.00,Men's Custom Shoes
16,Sustainable Materials\nNike Revolution 7\nMen'...,6 Colours,MRP : ₹ 3 695.00,Men's Road Running Shoes
17,Bestseller\nAir Jordan Legacy 312 Low\nMen's S...,3 Colours,MRP : ₹ 12 995.00,Men's Shoes
18,Promo Exclusion\nNike ACG Mountain Fly 2 Low\n...,2 Colours,MRP : ₹ 13 995.00,Men's Shoes
19,Bestseller\nNike Dunk Low\nMen's Shoes,1 Colour,MRP : ₹ 8 695.00,Men's Shoes
20,Nike SB Force 58\nSkate Shoes,2 Colours,MRP : ₹ 6 295.00,Skate Shoes
21,Bestseller\nJordan Nu Retro 1 Low\nMen's Shoes,2 Colours,MRP : ₹ 9 195.00,Men's Shoes
22,Bestseller\nJordan One Take 4 PF\nMen's Shoes,3 Colours,MRP : ₹ 8 695.00,Men's Shoes
23,Bestseller\nNike Precision 6\nBasketball Shoes,4 Colours,MRP : ₹ 5 695.00,Basketball Shoes

In [30]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [31]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [34]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="wallNavFG0"]/a[2]/div')
search_keyword.click()

In [35]:
ShoeName = [] 
no_of_colors = []
price = []
category = []

In [36]:
title_tags=driver.find_elements(By.CLASS_NAME,'product_msg_info')
for i in title_tags[0:100]:
    title=i.text
    ShoeName.append(title)

In [37]:
title_tags=driver.find_elements(By.CLASS_NAME,'product-card__product-count')
for i in title_tags[0:100]:
    title=i.text
    no_of_colors.append(title)

In [38]:
title_tags=driver.find_elements(By.CLASS_NAME,'product-card__price-wrapper')
for i in title_tags[0:100]:
    title=i.text
    price.append(title)

In [39]:
title_tags=driver.find_elements(By.CLASS_NAME,'product-card__subtitle')
for i in title_tags[0:100]:
    title=i.text
    category.append(title)

In [40]:
print = (len(ShoeName),len(no_of_colors), len(price),len(category))

In [41]:
print

(24, 24, 24, 24)

In [42]:
import pandas as pd
df1=pd.DataFrame({'ShoeName':ShoeName,'no_of_colors':no_of_colors, 'price':price, 'category':category})
df1

,ShoeName,no_of_colors,price,category
0,Air Jordan 1 Low SE\nWomen's Shoes,1 Colour,MRP : ₹ 10 295.00,Women's Shoes
1,Nike Dunk Low\nWomen's Shoes,1 Colour,MRP : ₹ 8 695.00,Women's Shoes
2,Just In\nJordan Stadium 90\nWomen's Shoes,4 Colours,MRP : ₹ 12 795.00,Women's Shoes
3,Nike Dunk Low SE\nWomen's Shoes,1 Colour,MRP : ₹ 9 695.00,Women's Shoes
4,Nike Zoom Vomero 5\nWomen's Shoes,1 Colour,MRP : ₹ 16 995.00,Women's Shoes
5,Nike Air Force 1 '07\nWomen's Shoes,1 Colour,MRP : ₹ 9 695.00,Women's Shoes
6,Nike Air Max SC SE\nWomen's Shoes,1 Colour,MRP : ₹ 7 495.00,Women's Shoes
7,Just In\nNike Air Max 1\nWomen's shoes,5 Colours,MRP : ₹ 12 795.00,Women's shoes
8,Bestseller\nAir Jordan 1 Low SE\nWomen's Shoes,2 Colours,MRP : ₹ 10 295.00,Women's Shoes
9,Promo Exclusion\nNike Air Max 1 LX\nWomen's Shoes,2 Colours,MRP : ₹ 14 995.00,Women's Shoes
10,Nike Dunk Low SE\nWomen's Shoes,1 Colour,MRP : ₹ 9 695.00,Women's Shoes
11,Promo Exclusion\nNike Dunk Low Twist\nWomen's ...,5 Colours,MRP : ₹ 9 695.00,Women's Shoes
12,Bestseller\nNike SB Zoom Blazer Low Pro GT\nSk...,3 Colours,MRP : ₹ 6 795.00,Skate Shoes
13,Nike Air Force 1 Shadow\nWomen's Shoes,2 Colours,MRP : ₹ 8 995.00,Women's Shoes
14,Just In\nNike SuperRep Go 3 Flyknit Next Natur...,6 Colours,MRP : ₹ 8 895.00,Women's Workout Shoes
15,Nike Dunk High\nWomen's Shoes,1 Colour,MRP : ₹ 9 295.00,Women's Shoes
16,Sustainable Materials\nNikeCourt Legacy Next N...,4 Colours,MRP : ₹ 5 695.00,Women's Shoes
17,Sustainable Materials\nNike Tiempo Legend 10 A...,3 Colours,MRP : ₹ 7 495.00,Multi-Ground Low-Top Football Boot
18,Nike Dunk High Premium\nWomen's Shoes,1 Colour,MRP : ₹ 12 295.00,Women's Shoes
19,Promo Exclusion\nNike ACG Mountain Fly 2 Low\n...,2 Colours,MRP : ₹ 13 995.00,Men's Shoes
20,Sustainable Materials\nNike Calm\nMen's Mules,1 Colour,MRP : ₹ 5 695.00,Men's Mules
21,Nike Waffle Debut Vintage\nWomen's Shoes,1 Colour,MRP : ₹ 7 095.00,Women's Shoes
22,Nike Waffle Debut\nWomen's Shoes,3 Colours,MRP : ₹ 5 695.00,Women's Shoes
23,Nike SB Force 58\nSkate Shoes,2 Colours,MRP : ₹ 6 295.00,Skate Shoes

In [49]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [50]:
driver.get("https://www.adidas.com")

In [51]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="__next"]/div[2]/div[2]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [52]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="__next"]/div[2]/div[2]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]/span[2]/strong')
search_keyword.click()

In [75]:
ShoeName = [] 
no_of_colors = []
price = []
category = []

In [76]:
title_tags=driver.find_elements(By.CLASS_NAME,'glass-product-card__title')
for i in title_tags[0:50]:
    title=i.text
    ShoeName.append(title)

In [77]:
title_tags=driver.find_elements(By.CLASS_NAME,'glass-product-card__category')
for i in title_tags[0:50]:
    title=i.text
    category.append(title)

In [78]:
title_tags=driver.find_elements(By.CLASS_NAME,'glass-product-card__label')
for i in title_tags[0:50]:
    title=i.text
    no_of_colors.append(title)

In [79]:
title_tags=driver.find_elements(By.CLASS_NAME,'product-card-content-badges-wrapper___2RWqS')
for i in title_tags[0:50]:
    title=i.text
    price.append(title)

In [80]:
print = (len(ShoeName),len(no_of_colors), len(price),len(category))

In [81]:
print

(48, 48, 48, 48)

In [82]:
import pandas as pd
df2=pd.DataFrame({'ShoeName':ShoeName,'no_of_colors':no_of_colors, 'price':price, 'category':category})
df2

,ShoeName,no_of_colors,price,category
0,Superstar Shoes,2 colours,₹8 999.00,originals
1,Samba OG Shoes,4 colours,₹10 999.00,originals
2,Samba OG Shoes,4 colours,₹11 999.00,originals
3,Superstar Shoes,2 colours,₹8 999.00,Men originals
4,Superstar Shoes,,-50 %\n₹9 999.00\n₹4 999.50,Men originals
5,Ultraboost Light,3 colours,₹19 999.00,Men Running
6,Ultimashow Shoes,6 colours,-30 %\n₹5 599.00\n₹3 919.50,Men sportswear
7,WIND RAISER SHOES,2 colours,-45 %\n₹3 599.00\n₹1 979.50,Men Running
8,Alphaboost V1 Shoes,7 colours,-40 %\n₹11 999.00\n₹7 199.50,Men sportswear
9,FLUIDFLOW 2.0 RUNNING SHOE,,-45 %\n₹4 299.00\n₹2 364.50,Men Running
10,Ultraboost 1.0 Shoes,,₹17 999.00,Men sportswear
11,RESTOUND SHOES,3 colours,-60 %\n₹3 599.00\n₹1 440.00,Men Running
12,ADI ZOOM SHOES,5 colours,-50 %\n₹3 299.00\n₹1 649.50,Men Running
13,HYPERON 1.0 SHOES,2 colours,-50 %\n₹2 999.00\n₹1 499.50,Men Running
14,Grand Court Cloudfoam Comfort Shoes,3 colours,-30 %\n₹7 999.00\n₹5 599.50,Men sportswear
15,Pureboost 22 Shoes,3 colours,-60 %\n₹11 999.00\n₹4 800.00,Running
16,Ultraboost 1.0 Shoes,4 colours,₹17 999.00,Men sportswear
17,RAYRUN SHOES,,-40 %\n₹3 999.00\n₹2 399.50,Men Running
18,HALICON SHOES,3 colours,-50 %\n₹3 999.00\n₹1 999.50,Men Walking
19,Lite Racer Adapt 4.0 Cloudfoam Slip-On Shoes,5 colours,-50 %\n₹6 999.00\n₹3 499.50,Men Running
20,FLODEAN SHOES,3 colours,₹3 299.00,Men Walking
21,Adilette Comfort Slides,4 colours,₹3 999.00,sportswear
22,Ozelle Cloudfoam Shoes,8 colours,-50 %\n₹7 999.00\n₹3 999.50,Men Running
23,Adilette Comfort Slides,3 colours,-60 %\n₹3 999.00\n₹1 600.00,sportswear
24,EXPEREO SHOES,2 colours,-55 %\n₹5 299.00\n₹2 385.00,Men Running
25,NMD_R1 Shoes,3 colours,-50 %\n₹12 999.00\n₹6 499.50,Men originals
26,RUNNING UNIFLOW SHOES,,-50 %\n₹3 299.00\n₹1 649.50,Men Running
27,Ultimashow Shoes,6 colours,-50 %\n₹5 599.00\n₹2 799.50,Men sportswear
28,NMD_V3 Shoes,,-50 %\n₹15 999.00\n₹7 999.50,Men originals
29,Asweetrain Shoes,,-45 %\n₹7 999.00\n₹4 399.50,Men Training
30,Tracefinder Trail Running Shoes,,-45 %\n₹7 999.00\n₹4 399.50,Men Outdoor
31,EXPEREO SHOES,2 colours,-50 %\n₹5 299.00\n₹2 649.50,Men Running
32,Ultra 4DFWD Shoes,effortless forward motion,₹21 999.00,Running
33,NMD_R1 Shoes,3 colours,-50 %\n₹12 999.00\n₹6 499.50,Men originals
34,Ultimashow Shoes,6 colours,-30 %\n₹5 599.00\n₹3 919.50,Men sportswear
35,VS Pace 2.0 Shoes,6 colours,-30 %\n₹4 999.00\n₹3 499.50,Men Skateboarding
36,Advantage Base Court Lifestyle Shoes,2 colours,-50 %\n₹6 599.00\n₹3 299.50,Men sportswear
37,Gazelle Shoes,,₹10 999.00,originals
38,Web BOOST Shoes,2 colours,-45 %\n₹14 999.00\n₹8 249.50,Running
39,NMD_R1 Shoes,3 colours,-50 %\n₹12 999.00\n₹6 499.50,Men originals
40,NMD_R1 Shoes,3 colours,₹14 999.00,originals
41,Samba Shoes,7 colours · new,₹14 999.00,Men originals
42,Samba OG Shoes,4 colours · new,₹10 999.00,Men originals
43,Ultraboost Light Shoes,16 colours · responsive run,₹18 999.00,Running
44,Y-3 Gendo Pro Model,2 colours,₹69 999.00,Lifestyle
45,Y-3 Gendo Pro Model,2 colours,₹69 999.00,Lifestyle
46,Ultraboost 1.0 ATR Shoes,2 colours · running inspired,₹19 999.00,sportswear
47,Stan Smith Shoes,3 colours,₹8 999.00,originals

In [84]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[2]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Women')

In [85]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[2]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[1]/div[1]/span[1]')
search_keyword.click()

In [86]:
ShoeName = [] 
no_of_colors = []
price = []
category = []

In [87]:
title_tags=driver.find_elements(By.CLASS_NAME,'glass-product-card__title')
for i in title_tags[0:50]:
    title=i.text
    ShoeName.append(title)

In [88]:
title_tags=driver.find_elements(By.CLASS_NAME,'glass-product-card__category')
for i in title_tags[0:50]:
    title=i.text
    category.append(title)

In [89]:
title_tags=driver.find_elements(By.CLASS_NAME,'glass-product-card__label')
for i in title_tags[0:50]:
    title=i.text
    no_of_colors.append(title)

In [90]:
title_tags=driver.find_elements(By.CLASS_NAME,'product-card-content-badges-wrapper___2RWqS')
for i in title_tags[0:50]:
    title=i.text
    price.append(title)

In [91]:
print = (len(ShoeName),len(no_of_colors), len(price),len(category))

In [92]:
print

(50, 50, 50, 50)

In [93]:
import pandas as pd
df3=pd.DataFrame({'ShoeName':ShoeName,'no_of_colors':no_of_colors, 'price':price, 'category':category})
df3

,ShoeName,no_of_colors,price,category
0,Superstar Shoes,2 colours,₹8 999.00,originals
1,Superstar Shoes,,-50 %\n₹8 999.00\n₹4 499.50,Women Lifestyle
2,Samba OG Shoes,4 colours,₹10 999.00,originals
3,Samba OG Shoes,4 colours,₹11 999.00,originals
4,Gazelle Shoes,6 colours,₹10 999.00,originals
5,Adilette Ayoon Slides,6 colours,-50 %\n₹4 999.00\n₹2 499.50,Women Lifestyle
6,Adilette Clogs,5 colours,-30 %\n₹4 599.00\n₹3 219.50,sportswear
7,BREEZEWALK SHOES,3 colours,-50 %\n₹2 999.00\n₹1 499.50,Women Walking
8,Avryn Shoes,6 colours,-30 %\n₹13 999.00\n₹9 799.50,Running
9,VULC RAID3R Lifestyle Skateboarding Slip-On Ca...,2 colours,-50 %\n₹5 599.00\n₹2 799.50,sportswear
10,Island Club Adilette 22 Slides,4 colours,₹5 999.00,originals
11,X Crazyfast.2 Firm Ground Boots,3 colours,₹11 999.00,Football
12,Adi2000 X Shoes,,-45 %\n₹11 999.00\n₹6 599.50,Women originals
13,Adilette Boost Slides,3 colours,-50 %\n₹5 999.00\n₹2 999.50,Swim
14,Superstar XLG Shoes,4 colours,₹11 999.00,originals
15,Supernova 2 x Marimekko Shoes,,-60 %\n₹9 999.00\n₹4 000.00,Women Running
16,Adilette Aqua Slides,7 colours,₹1 999.00,sportswear
17,X Crazyfast.3 Firm Ground Boots,3 colours,₹7 999.00,Football
18,NMD_R1 V3 Shoes,,-55 %\n₹15 999.00\n₹7 200.00,Women originals
19,Rivalry Low Shoes,2 colours,₹8 999.00,originals
20,Forum Low Shoes,,-40 %\n₹9 999.00\n₹5 999.50,Women originals
21,Puremotion Adapt 2.0 Shoes,,-55 %\n₹6 999.00\n₹3 150.00,Women Running
22,Adissage Slides,4 colours,₹2 999.00,sportswear
23,Valentine's Day Ultraboost 1.0 Shoes,,-30 %\n₹17 999.00\n₹12 599.50,Women Running
24,AZUREWALK SHOES,3 colours,-20 %\n₹4 599.00\n₹3 679.50,Women Walking
25,ADILETTE SHOWER,3 colours,-60 %\n₹2 999.00\n₹1 200.00,Women Swim
26,Adilette Comfort Sandals,3 colours,-60 %\n₹4 599.00\n₹1 840.00,sportswear
27,Hoops 3.0 Mid Classic Vintage Shoes,3 colours,,Basketball
28,Court Platform Shoes,2 colours,,Women Skateboarding
29,Copa Pure II.1 Firm Ground Boots,,,Football
30,PUDING ADI SANDALS,2 colours,,Women Outdoor
31,Forum Low Shoes,2 colours,,originals
32,Nebzed Cloudfoam Lifestyle Running Shoes,2 colours,,Women sportswear
33,X_PLRBOOST Shoes,,,Women sportswear
34,Coreracer Shoes,3 colours,,Women Running
35,Grand Court Base Lifestyle Court Casual Shoes,,,Women Tennis
36,Pureboost 22 Shoes,3 colours,,Running
37,Adilette Comfort Slides,4 colours,,sportswear
38,Adilette Comfort Slides,3 colours,,sportswear
39,SHEENWALK SHOES,3 colours,,Women Walking
40,Ultimashow Shoes,4 colours,,Women Running
41,SHEENWALK SHOES,3 colours,,Women Running
42,Galaxy 6 Shoes,7 colours,,Women Running
43,Galaxy 6 Shoes,2 colours,,Women Running
44,Ultra 4DFWD Shoes,,,Running
45,Forum Low Shoes,2 colours,,originals
46,Crazy IIInfinity 003 Shoes,,,originals
47,VULC RAID3R Lifestyle Skateboarding Slip-On Ca...,,,Skateboarding
48,Lite Racer 3.0 Shoes,6 colours,,Women sportswear
49,Racer TR Slides,2 colours,,sportswear

In [ ]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [180]:
driver.get("https://us.puma.com/us/en")

In [181]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="puma-skip-here"]/section/div[2]/button[1]/div/div')
search_keyword.click()

In [182]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="nav-bar-sticky"]/nav/div/div/button[2]')
search_keyword.click()

In [183]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="react-aria-11"]')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [184]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="react-aria-27"]/span')
search_keyword.click()

In [192]:
ShoeName = [] 
no_of_colors = []
price = []
category = []

In [193]:
title_tags=driver.find_elements(By.TAG_NAME, 'h3')
for i in title_tags[0:23]:
    title=i.text
    ShoeName.append(title)

In [194]:
title_tags=driver.find_elements(By.TAG_NAME,'h3')
for i in title_tags[0:23]:
    title=i.text
    category.append(title)

In [195]:
title_tags=driver.find_elements(By.CLASS_NAME,'text-puma-black-300.uppercase.text-xs.whitespace-nowrap')
for i in title_tags[0:23]:
    title=i.text
    no_of_colors.append(title)

In [196]:
title_tags=driver.find_elements(By.CLASS_NAME,'whitespace-nowrap.text-base.text-puma-red.font-bold')
for i in title_tags[0:100]:
    title=i.text
    price.append(title)

In [197]:
print = (len(ShoeName),len(category),len(price),len(no_of_colors))

In [198]:
print

(23, 23, 23, 23)

In [200]:
import pandas as pd
df4=pd.DataFrame({'ShoeName':ShoeName,'category':category,'Price':price,'no_of_colors':no_of_colors})
df4

,ShoeName,category,Price,no_of_colors
0,Axelion NXT Camo Men's Running Shoes\nPuma Bla...,Axelion NXT Camo Men's Running Shoes\nPuma Bla...,$40.00,1 COLOR
1,Viz Runner Repeat Wide Men's Running Shoes\nPU...,Viz Runner Repeat Wide Men's Running Shoes\nPU...,$32.50,3 COLORS
2,Axelion Fade Men's Running Shoes\nFor All Time...,Axelion Fade Men's Running Shoes\nFor All Time...,$50.99,2 COLORS
3,Viz Runner Repeat Wide Men's Running Shoes\nPu...,Viz Runner Repeat Wide Men's Running Shoes\nPu...,$32.50,3 COLORS
4,Star Vital Refresh Men's Running Shoes\nPUMA N...,Star Vital Refresh Men's Running Shoes\nPUMA N...,$35.00,2 COLORS
5,Softride Enzo Evo Running Shoes\nPuma Black-CA...,Softride Enzo Evo Running Shoes\nPuma Black-CA...,$69.99,6 COLORS
6,Axelion Fade Men's Running Shoes\nTeam Light B...,Axelion Fade Men's Running Shoes\nTeam Light B...,$50.99,2 COLORS
7,Cell Rapid Running Shoes\nFor All Time Red-PUM...,Cell Rapid Running Shoes\nFor All Time Red-PUM...,$42.50,2 COLORS
8,Axelion Refresh Men's Running Shoes\nPUMA Blac...,Axelion Refresh Men's Running Shoes\nPUMA Blac...,$50.99,2 COLORS
9,Axelion Spark Men's Running Shoes\nCASTLEROCK-...,Axelion Spark Men's Running Shoes\nCASTLEROCK-...,$50.99,1 COLOR
10,Star Vital Men's Training Shoes\nPUMA Black-Co...,Star Vital Men's Training Shoes\nPUMA Black-Co...,$32.50,1 COLOR
11,Star Vital Outline Men's Running Shoes\nPUMA N...,Star Vital Outline Men's Running Shoes\nPUMA N...,$32.50,1 COLOR
12,Cell Rapid Running Shoes\nInky Blue-PUMA Black...,Cell Rapid Running Shoes\nInky Blue-PUMA Black...,$42.50,2 COLORS
13,Star Vital Refresh Men's Running Shoes\nPUMA B...,Star Vital Refresh Men's Running Shoes\nPUMA B...,$35.00,2 COLORS
14,Transport Running Shoes\nPuma Black-Puma Black,Transport Running Shoes\nPuma Black-Puma Black,$30.99,5 COLORS
15,Softride Enzo Evo Better Running Shoes\nCool D...,Softride Enzo Evo Better Running Shoes\nCool D...,$37.50,1 COLOR
16,Axelion NXT Men's Running Shoes\nPuma Black-Ur...,Axelion NXT Men's Running Shoes\nPuma Black-Ur...,$40.00,3 COLORS
17,Aviator Men's Running Shoes\nPuma Black-CASTLE...,Aviator Men's Running Shoes\nPuma Black-CASTLE...,$45.99,1 COLOR
18,PUMA x FIRST MILE Electrify NITRO™ 3 Men's Run...,PUMA x FIRST MILE Electrify NITRO™ 3 Men's Run...,$40.00,1 COLOR
19,Axelion NXT Men's Running Shoes\nPeacoat-Puma ...,Axelion NXT Men's Running Shoes\nPeacoat-Puma ...,$48.99,3 COLORS
20,Cell Rapid Camo Men's Running Shoes\nPUMA Blac...,Cell Rapid Camo Men's Running Shoes\nPUMA Blac...,$40.99,2 COLORS
21,SOFTRIDE One4All Men's Running Shoes\nHigh Ris...,SOFTRIDE One4All Men's Running Shoes\nHigh Ris...,$37.50,1 COLOR
22,Softride Enzo Evo Running Shoes\nFlat Medium Gray,Softride Enzo Evo Running Shoes\nFlat Medium Gray,$42.50,6 COLORS

In [204]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="nav-bar-sticky"]/nav/div/div/button[2]')
search_keyword.click()

In [205]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="react-aria-44"]')
search_keyword.clear()
search_keyword.send_keys('Shoes Women')

In [206]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="react-aria-59"]/span')
search_keyword.click()

In [207]:
ShoeName = [] 
no_of_colors = []
price = []
category = []

In [208]:
title_tags=driver.find_elements(By.TAG_NAME, 'h3')
for i in title_tags[0:23]:
    title=i.text
    ShoeName.append(title)

In [209]:
title_tags=driver.find_elements(By.TAG_NAME,'h3')
for i in title_tags[0:23]:
    title=i.text
    category.append(title)

In [211]:
title_tags=driver.find_elements(By.CLASS_NAME,'text-puma-black-300.uppercase.text-xs.whitespace-nowrap')
for i in title_tags[0:23]:
    title=i.text
    no_of_colors.append(title)

In [210]:
title_tags=driver.find_elements(By.CLASS_NAME,'whitespace-nowrap.text-base.text-puma-red.font-bold')
for i in title_tags[0:100]:
    title=i.text
    price.append(title)

In [212]:
print = (len(ShoeName),len(category),len(price),len(no_of_colors))

In [213]:
print

(23, 23, 23, 23)

In [214]:
import pandas as pd
df5=pd.DataFrame({'ShoeName':ShoeName,'category':category,'Price':price,'no_of_colors':no_of_colors})
df5

,ShoeName,category,Price,no_of_colors
0,Better Foam Prowl Slip-On Wide Women's Trainin...,Better Foam Prowl Slip-On Wide Women's Trainin...,$35.99,1 COLOR
1,Star Vital Women's Training Shoes\nPUMA Black-...,Star Vital Women's Training Shoes\nPUMA Black-...,$32.50,2 COLORS
2,Riaze Prowl Women’s Training Shoes\nPuma Black...,Riaze Prowl Women’s Training Shoes\nPuma Black...,$42.50,1 COLOR
3,Adelina Women’s Ballet Shoes\nPuma Black-Puma ...,Adelina Women’s Ballet Shoes\nPuma Black-Puma ...,$25.00,2 COLORS
4,Defy Mid Women's Training Shoes\nPuma Black-Gold,Defy Mid Women's Training Shoes\nPuma Black-Gold,$79.99,1 COLOR
5,Soft ride Flair Women's Running Shoes\nPUMA Bl...,Soft ride Flair Women's Running Shoes\nPUMA Bl...,$40.99,2 COLORS
6,Palermo Women's Leather Sneakers\nPUMA White-V...,Palermo Women's Leather Sneakers\nPUMA White-V...,$32.50,2 COLORS
7,Better Foam Prowl Slip On Women's Running Snea...,Better Foam Prowl Slip On Women's Running Snea...,$39.99,1 COLOR
8,Suede Classic XXI Women's Sneakers\nIcy Blue-P...,Suede Classic XXI Women's Sneakers\nIcy Blue-P...,$50.00,7 COLORS
9,Defy Varsity Mid Women's Sneakers\nPuma White-...,Defy Varsity Mid Women's Sneakers\nPuma White-...,$79.99,1 COLOR
10,Raize Prowl Speckle Women's Running Shoes\nPum...,Raize Prowl Speckle Women's Running Shoes\nPum...,$30.00,1 COLOR
11,Ella Lace Up Women's Shoes\nPuma Black-Puma White,Ella Lace Up Women's Shoes\nPuma Black-Puma White,$42.99,2 COLORS
12,Softride Sophia Slip-on Women's Running Shoes\...,Softride Sophia Slip-on Women's Running Shoes\...,$42.50,1 COLOR
13,Riaze Prowl Rainbow Women's Sneakers\nPuma Bla...,Riaze Prowl Rainbow Women's Sneakers\nPuma Bla...,$30.00,1 COLOR
14,Ella Lace Up Women's Shoes\nPuma White-Puma Si...,Ella Lace Up Women's Shoes\nPuma White-Puma Si...,$63.99,2 COLORS
15,CA Pro PRM Women's Sneakers\nFeather Gray-Warm...,CA Pro PRM Women's Sneakers\nFeather Gray-Warm...,$40.00,1 COLOR
16,Axelion Metallic Watercolor Women's Running Sh...,Axelion Metallic Watercolor Women's Running Sh...,$35.99,1 COLOR
17,Carina 2.0 Women's Sneakers\nPuma White-Puma W...,Carina 2.0 Women's Sneakers\nPuma White-Puma W...,$45.00,2 COLORS
18,Trinity Women's Sneakers\nPUMA White-PUMA Blac...,Trinity Women's Sneakers\nPUMA White-PUMA Blac...,$32.50,3 COLORS
19,Better Foam Prowl Slip On Women's Training Sho...,Better Foam Prowl Slip On Women's Training Sho...,$35.00,1 COLOR
20,Softride Sophia 2 Premium Women's Running Shoe...,Softride Sophia 2 Premium Women's Running Shoe...,$42.50,1 COLOR
21,Softride Stakd Women's Running Shoes\nPUMA Bla...,Softride Stakd Women's Running Shoes\nPUMA Bla...,$32.50,2 COLORS
22,Prowl Slip On Women's Training Shoes\nPuma Black,Prowl Slip On Women's Training Shoes\nPuma Black,$32.50,1 COLOR

In [355]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [356]:
driver.get("https://www.skechers.com")

In [278]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="nav-primary"]/div/div[1]/div/div/div[2]/div[1]')
search_keyword.click()

In [279]:
search_keyword = driver.find_element(By.XPATH,'//*[@id="search-input-mobile"]')
search_keyword.clear()
search_keyword.send_keys('Mens sneakers')

In [280]:
search_keyword = driver.find_element(By.CLASS_NAME, 'rfk_highlight')
search_keyword.click()

In [281]:
ShoeName = [] 
no_of_colors = []
price = []
category = []

In [282]:
title_tags=driver.find_elements(By.CLASS_NAME,'link.c-product-tile__title ')
for i in title_tags[0:100]:
    title=i.text
    ShoeName.append(title)

In [283]:
title_tags=driver.find_elements(By.CLASS_NAME,'c-product-tile__gender')
for i in title_tags[0:100]:
    title=i.text
    category.append(title)

In [284]:
title_tags=driver.find_elements(By.CLASS_NAME,'c-product-tile__color-swatches__label')
for i in title_tags[0:100]:
    title=i.text
    no_of_colors.append(title)

In [285]:
title_tags=driver.find_elements(By.CLASS_NAME,'price__inner')
for i in title_tags[0:100]:
    title=i.text
    price.append(title)

In [286]:
print = (len(ShoeName),len(category),len(price),len(no_of_colors))

In [287]:
print

(24, 24, 24, 24)

In [288]:
import pandas as pd
df6=pd.DataFrame({'ShoeName':ShoeName,'category':category,'Price':price,'no_of_colors':no_of_colors})
df6

,ShoeName,category,Price,no_of_colors
0,Slip-ins: Summits - High Range,MEN'S,$75.00,3 Colors
1,Skechers Slip-ins Relaxed Fit: Parson - Oswin,MEN'S,$90.00,5 Colors
2,Skechers Slip-ins: Ultra Flex 3.0 - Smooth Step,MEN'S,$90.00,3 Colors
3,Skechers Slip-ins: After Burn - Grill Captain,MEN'S,$95.00,1 Color
4,Slip-ins: Summits - Key Pace,MEN'S,$75.00,2 Colors
5,Skechers Slip-ins: GO WALK Arch Fit - Simplicity,MEN'S,$100.00,1 Color
6,Skechers Slip-ins: Arch Fit 2.0 - Look Ahead,MEN'S,$105.00,2 Colors
7,Skechers Slip-ins: Max Cushioning - Advantageous,MEN'S,$110.00,3 Colors
8,Skechers Slip-ins: Ultra Flex 3.0 - Right Away,MEN'S,$90.00,5 Colors
9,Skechers Slip-ins: Summits AT,MEN'S,$75.00,2 Colors
10,Skechers Slip-ins: Arch Fit 2.0 - Grand Select 2,MEN'S,$100.00,2 Colors
11,Skechers Slip-ins: Skech-Air Envoy - Emissary,MEN'S,$100.00,1 Color
12,Skechers Slip-ins RF: Parson - Ralven,MEN'S,$80.00,4 Colors
13,Skechers Slip-ins RF Work: Max Cushioning Elite,MEN'S,$110.00,1 Color
14,Skechers Slip-ins Snoop Dogg: Uno - Laid Back,MEN'S,$100.00,5 Colors
15,Skechers Slip-ins: BOBS Sport Squad Chaos,MEN'S,$70.00,4 Colors
16,Skechers Slip-ins: Max Cushioning Premier,MEN'S,$110.00,3 Colors
17,Skechers Slip-ins: GO WALK 6 - Easy On,MEN'S,$95.00,3 Colors
18,Skechers Slip-ins: Parson - Dewitt,MEN'S,$80.00,2 Colors
19,Skechers Slip-ins Work: Cankton - Faison,MEN'S,$100.00,2 Colors
20,Skechers Slip-ins Work: Summits - Colsin,MEN'S,$75.00,1 Color
21,Skechers Slip-ins: GO WALK Max - Free Hands,MEN'S,$75.00,1 Color
22,Skechers Slip-ins Work: D'Lux Walker SR - Joden,MEN'S,$95.00,1 Color
23,Skechers Slip-ins: Ultra Flex 3.0 - New Arc,MEN'S,$95.00,1 Color

In [362]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [363]:
driver.get("https://www.skechers.in/")

In [364]:
search_keyword = driver.find_element(By.XPATH, '/html/body/div[1]/header/nav[2]/div/div[1]/div/div/div[2]/div[2]/button[1]')
search_keyword.click()

In [365]:
search_keyword = driver.find_element(By.XPATH,'/html/body/div[1]/header/nav[2]/div/div[2]/div/form/input[1]')
search_keyword.clear()
search_keyword.send_keys('Womens sneakers')

In [366]:
search_keyword = driver.find_element(By.XPATH, '/html/body/div[1]/header/nav[2]/div/div[2]/div/form/div/div/span[1]/span/div/button')
search_keyword.click()

In [375]:
ShoeName = [] 
no_of_colors = []
price = []
category = []

In [376]:
title_tags=driver.find_elements(By.CLASS_NAME,'product-tile-product-name.font-bold.mb-0')
for i in title_tags[0:100]:
    title=i.text
    ShoeName.append(title)

In [377]:
title_tags=driver.find_elements(By.CLASS_NAME,'mb-0.p-heading-small.pb-1')
for i in title_tags[0:100]:
    title=i.text
    category.append(title)

In [378]:
title_tags=driver.find_elements(By.CLASS_NAME,'swatch.swatch-circle')
for i in title_tags[0:24]:
    title=i.text
    no_of_colors.append(title)

In [379]:
title_tags=driver.find_elements(By.CLASS_NAME,'value.p-heading.mobile-view-global.product-list-price-mobile.list-price')
for i in title_tags[0:100]:
    title=i.text
    price.append(title)

In [380]:
print = (len(ShoeName),len(category),len(price),len(no_of_colors))

In [381]:
print

(24, 24, 24, 24)

In [382]:
import pandas as pd
df7=pd.DataFrame({'ShoeName':ShoeName,'category':category,'Price':price,'no_of_colors':no_of_colors})
df7

                         ShoeName category      Price no_of_colors
0                 UNO - EVERYWEAR    Women  ₹6,999.00
1     SKECH-LITE PRO-PERFECT TIME    Women  ₹5,999.00
2     SKECH-LITE PRO-PERFECT TIME    Women  ₹5,999.00
3                 UNO - EVERYWEAR    Women  ₹6,999.00
4        ULTRA FLEX 3.0-BEST TIME    Women  ₹6,999.00
5        ULTRA FLEX 3.0-BEST TIME    Women  ₹6,999.00
6         D'LUX FITNESS-NEW MOXIE    Women  ₹8,499.00
7                       UP-LIFTED    Women  ₹4,499.00
8         D'LUX COMFORT-GLOW TIME    Women  ₹6,799.00
9        D'LUX WALKER-LET IT GLOW    Women  ₹5,249.00
10                ARCH FIT UPLIFT    Women  ₹4,499.00
11    SUNNY STREET - UNICORNO AVE    Women  ₹8,999.00
12         ARCH FIT - OHANA KITTY    Women  ₹1,999.00
13    COZY CAMPFIRE - MEANT TO BE    Women  ₹5,999.00
14  SKECH-AIR ELEMENT 2.0-AMUSE M    Women  ₹8,999.00
15            TOO COZY-CUTIE PUPZ    Women  ₹4,999.00
16                UNO 2 - PATHWAY    Women  ₹8,999.00
17                           TAXI    Women  ₹7,999.00
18                           MUNO    Women  ₹8,999.00
19   SKECH-AIR DYNAMIGHT-LAID OUT    Women  ₹5,999.00
20          KEEPSAKES - ICE ANGEL    Women  ₹4,499.00
21                       ARCH FIT    Women  ₹6,374.00
22    COZY CAMPFIRE - MEANT TO BE    Women  ₹5,999.00
23         GO WALK 5 - TRUE CATCH    Women  ₹1,999.00

In [454]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [455]:
driver.get("https://columbiasportswear.co.in/")

In [392]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="megamenu_34103613"]/div[2]/div/div/ul/li[2]/a')
search_keyword.click()

In [394]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="category69468"]/ul/li[4]/a')
search_keyword.click()

In [354]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="category69468"]/ul/li[4]/a')
search_keyword.click()

In [445]:
ShoeName = [] 
no_of_colors = []
price = []
category = []

In [446]:
title_tags=driver.find_elements(By.TAG_NAME, 'h4')
for i in title_tags[0:23]:
    title=i.text
    ShoeName.append(title)

In [447]:
title_tags=driver.find_elements(By.TAG_NAME,'h4')
for i in title_tags[0:23]:
    title=i.text
    category.append(title)

In [448]:
title_tags=driver.find_elements(By.TAG_NAME,'h4')
for i in title_tags[0:16]:
    title=i.text
    no_of_colors.append(title)

In [449]:
title_tags=driver.find_elements(By.CLASS_NAME,'price.active')
for i in title_tags[0:16]:
    title=i.text
    price.append(title)

In [450]:
print = (len(ShoeName),len(category),len(price),len(no_of_colors))

In [451]:
print

(16, 16, 16, 16)

In [452]:
import pandas as pd
df8=pd.DataFrame({'ShoeName':ShoeName,'category':category,'Price':price,'no_of_colors':no_of_colors})
df8

,ShoeName,category,Price,no_of_colors
0,Columbia Men Black TRAILSTORM PEAK MID,Columbia Men Black TRAILSTORM PEAK MID,Price,Columbia Men Black TRAILSTORM PEAK MID
1,Columbia Men Black TRAILSTORM BEYOND,Columbia Men Black TRAILSTORM BEYOND,2001-4000\n5001-10000\n10001-15000\n15001-20000,Columbia Men Black TRAILSTORM BEYOND
2,Columbia Men Black COLUMBIA VENT AERO,Columbia Men Black COLUMBIA VENT AERO,"10,399 12,999 20% OFF",Columbia Men Black COLUMBIA VENT AERO
3,Columbia Men Blue COLUMBIA VENT AERO,Columbia Men Blue COLUMBIA VENT AERO,"6,299 6,999 10% OFF",Columbia Men Blue COLUMBIA VENT AERO
4,Columbia Men Orange MONTRAIL TRINITY AG,Columbia Men Orange MONTRAIL TRINITY AG,"8,099 8,999 10% OFF",Columbia Men Orange MONTRAIL TRINITY AG
5,Columbia Men Brown CRESTWOOD Water Resistant S...,Columbia Men Brown CRESTWOOD Water Resistant S...,"7,199 8,999 20% OFF",Columbia Men Brown CRESTWOOD Water Resistant S...
6,Columbia Men BROWN Plateau Venture,Columbia Men BROWN Plateau Venture,"10,399 12,999 20% OFF",Columbia Men BROWN Plateau Venture
7,Columbia Men Grey CRESTWOOD MID Water Resistan...,Columbia Men Grey CRESTWOOD MID Water Resistan...,"8,099 8,999 10% OFF",Columbia Men Grey CRESTWOOD MID Water Resistan...
8,Columbia Men Grey Crestwood Water Resistant Shoes,Columbia Men Grey Crestwood Water Resistant Shoes,"7,999",Columbia Men Grey Crestwood Water Resistant Shoes
9,Columbia Men Brown Plateau Venture,Columbia Men Brown Plateau Venture,"9,999",Columbia Men Brown Plateau Venture
10,Columbia Men Blue Crestwood Mid Water Resistan...,Columbia Men Blue Crestwood Mid Water Resistan...,"8,999",Columbia Men Blue Crestwood Mid Water Resistan...
11,Columbia Men Brown Crestwood Water Resistant S...,Columbia Men Brown Crestwood Water Resistant S...,"7,999",Columbia Men Brown Crestwood Water Resistant S...
12,Columbia Men Blue Hood River Slide,Columbia Men Blue Hood River Slide,"9,999",Columbia Men Blue Hood River Slide
13,Columbia Men GREEN Breaksider Sandal,Columbia Men GREEN Breaksider Sandal,"8,999",Columbia Men GREEN Breaksider Sandal
14,Columbia Men Brown RE-PEAK MID,Columbia Men Brown RE-PEAK MID,"3,499",Columbia Men Brown RE-PEAK MID
15,COLUMBIA NEWSLETTER,COLUMBIA NEWSLETTER,"5,999",COLUMBIA NEWSLETTER

In [456]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="megamenu_12000000"]/div[2]/div/div/ul/li[3]/a')
search_keyword.click()

In [457]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="category69469"]/ul/li[4]/a')
search_keyword.click()

In [459]:
ShoeName = [] 
no_of_colors = []
price = []
category = []

In [460]:
title_tags=driver.find_elements(By.TAG_NAME, 'h4')
for i in title_tags[0:23]:
    title=i.text
    ShoeName.append(title)

In [461]:
title_tags=driver.find_elements(By.TAG_NAME,'h4')
for i in title_tags[0:23]:
    title=i.text
    category.append(title)

In [462]:
title_tags=driver.find_elements(By.TAG_NAME,'h4')
for i in title_tags[0:16]:
    title=i.text
    no_of_colors.append(title)

In [463]:
title_tags=driver.find_elements(By.CLASS_NAME,'price.active')
for i in title_tags[0:16]:
    title=i.text
    price.append(title)

In [464]:
print = (len(ShoeName),len(category),len(price),len(no_of_colors))

In [465]:
print

(16, 16, 16, 16)

In [466]:
import pandas as pd
df9=pd.DataFrame({'ShoeName':ShoeName,'category':category,'Price':price,'no_of_colors':no_of_colors})
df9

,ShoeName,category,Price,no_of_colors
0,Columbia Women Black SH/FT OUTDRY MID (Complet...,Columbia Women Black SH/FT OUTDRY MID (Complet...,Price,Columbia Women Black SH/FT OUTDRY MID (Complet...
1,Columbia Women Black TRAILSTORM PEAK MID,Columbia Women Black TRAILSTORM PEAK MID,1501-2000\n2001-4000\n5001-10000\n10001-15000\...,Columbia Women Black TRAILSTORM PEAK MID
2,Columbia Women Grey TRAILSTORM PEAK MID,Columbia Women Grey TRAILSTORM PEAK MID,"9,799 13,999 30% OFF",Columbia Women Grey TRAILSTORM PEAK MID
3,Columbia Women Blue TRAILSTORM BEYOND,Columbia Women Blue TRAILSTORM BEYOND,"10,399 12,999 20% OFF",Columbia Women Blue TRAILSTORM BEYOND
4,Columbia Women Green COLUMBIA VENT AERO,Columbia Women Green COLUMBIA VENT AERO,"10,399 12,999 20% OFF",Columbia Women Green COLUMBIA VENT AERO
5,Columbia Women Black COLUMBIA VENT AERO,Columbia Women Black COLUMBIA VENT AERO,"5,599 6,999 20% OFF",Columbia Women Black COLUMBIA VENT AERO
6,Columbia Women Black MINX SLIP IV Water Resist...,Columbia Women Black MINX SLIP IV Water Resist...,"6,299 8,999 30% OFF",Columbia Women Black MINX SLIP IV Water Resist...
7,Columbia Women PURPLE Thrive Revive,Columbia Women PURPLE Thrive Revive,"6,299 8,999 30% OFF",Columbia Women PURPLE Thrive Revive
8,Columbia Women Black Hatana Max Outdry (Comple...,Columbia Women Black Hatana Max Outdry (Comple...,"10,999",Columbia Women Black Hatana Max Outdry (Comple...
9,Columbia Women Black Peakfreak II Outdry (Comp...,Columbia Women Black Peakfreak II Outdry (Comp...,"5,999",Columbia Women Black Peakfreak II Outdry (Comp...
10,Columbia Women GREY Hatana Breathe,Columbia Women GREY Hatana Breathe,"10,999",Columbia Women GREY Hatana Breathe
11,Columbia Women BROWN Plateau Venture,Columbia Women BROWN Plateau Venture,"9,999",Columbia Women BROWN Plateau Venture
12,Columbia Women Brown Hatana Max Outdry (Comple...,Columbia Women Brown Hatana Max Outdry (Comple...,"9,999",Columbia Women Brown Hatana Max Outdry (Comple...
13,Columbia Women GREY Hatana Breathe,Columbia Women GREY Hatana Breathe,"7,999",Columbia Women GREY Hatana Breathe
14,Columbia Women Purple RE-PEAK MID,Columbia Women Purple RE-PEAK MID,"10,999",Columbia Women Purple RE-PEAK MID
15,COLUMBIA NEWSLETTER,COLUMBIA NEWSLETTER,"9,999",COLUMBIA NEWSLETTER

In [472]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [473]:
driver.get("https://www.woodlandworldwide.com/")

In [475]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="__next"]/div[2]/section[2]/div/div/div[3]/div/div[2]/button')
search_keyword.click()

In [484]:
ShoeName = [] 
no_of_colors = []
price = []
category = []

In [485]:
title_tags=driver.find_elements(By.CLASS_NAME,'productcardplp_productname__F8lks')
for i in title_tags[0:24]:
    title=i.text
    ShoeName.append(title)

In [486]:
title_tags=driver.find_elements(By.CLASS_NAME,'productcardplp_productname__F8lks')
for i in title_tags[0:24]:
    title=i.text
    category.append(title)

In [487]:
title_tags=driver.find_elements(By.CLASS_NAME,'swiper.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-backface-hidden')
for i in title_tags[0:24]:
    title=i.text
    no_of_colors.append(title)

In [488]:
title_tags=driver.find_elements(By.CLASS_NAME,'productcardplp_productprice__jdlz6')
for i in title_tags[0:24]:
    title=i.text
    price.append(title)

In [489]:
print = (len(ShoeName),len(category),len(price),len(no_of_colors))

In [490]:
print

(24, 24, 24, 24)

In [491]:
import pandas as pd
df10=pd.DataFrame({'ShoeName':ShoeName,'category':category,'Price':price,'no_of_colors':no_of_colors})
df10

,ShoeName,category,Price,no_of_colors
0,Woodland Camel Trekking Shoes,Woodland Camel Trekking Shoes,₹4595₹2757,40 %
1,Khaki hiking boot,Khaki hiking boot,₹4495₹2697,
2,Navy Boot for Men,Navy Boot for Men,₹5995,40 %
3,Woodland SNAYPE hiking boots,Woodland SNAYPE hiking boots,₹6995₹3000,
4,Camel Nubuk Oily Polished Mens Boot,Camel Nubuk Oily Polished Mens Boot,₹6495₹4871,
5,Olive green shoe for men,Olive green shoe for men,₹4695₹2817,
6,Camel boots for men,Camel boots for men,₹6995,57 %
7,Camel Boot for Men,Camel Boot for Men,₹6495,
8,Camel high ankle boot for men,Camel high ankle boot for men,₹6495,25 %
9,Steel Grey blue boots for men,Steel Grey blue boots for men,₹6495,
10,Drifter DNAVY,Drifter DNAVY,₹5995₹3597,40 %
11,RB BROWN boots for men,RB BROWN boots for men,₹5995₹3597,
12,Russia Dbrown casual shoes for men,Russia Dbrown casual shoes for men,₹5995₹3597,★ Bestseller
13,Brawny GREY,Brawny GREY,₹6495₹3897,
14,Grey boots for men,Grey boots for men,₹6495,
15,Brown Boots for Men,Brown Boots for Men,₹6495₹4871,
16,Mammoth OLIVE GREEN,Mammoth OLIVE GREEN,₹3895,★ Bestseller
17,Chiku/Toupe Chelsea Boots for Men,Chiku/Toupe Chelsea Boots for Men,₹12995,
18,Woodland RUST BROWN hiking shoes,Woodland RUST BROWN hiking shoes,₹6995₹4197,★ Bestseller
19,Woodland OLIVE hiking boots,Woodland OLIVE hiking boots,₹4295,
20,Grey boots for men,Grey boots for men,₹5995,40 %
21,Excursion NTAN,Excursion NTAN,₹4295₹3221,
22,Tan Leather Chukka Boot for Men,Tan Leather Chukka Boot for Men,₹12995,40 %
23,Black Chelsea Boot for Men,Black Chelsea Boot for Men,₹13995,

In [502]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [503]:
driver.get("https://www.woodlandworldwide.com/product-list/WOMEN_BOOTS")

In [511]:
ShoeName = [] 
no_of_colors = []
price = []
category = []

In [512]:
title_tags=driver.find_elements(By.CLASS_NAME,'productcardplp_productname__F8lks')
for i in title_tags[0:12]:
    title=i.text
    ShoeName.append(title)

In [513]:
title_tags=driver.find_elements(By.CLASS_NAME,'productcardplp_productname__F8lks')
for i in title_tags[0:12]:
    title=i.text
    category.append(title)

In [514]:
title_tags=driver.find_elements(By.CLASS_NAME,'swiper-slide.swiper-slide-active')
for i in title_tags[0:12]:
    title=i.text
    no_of_colors.append(title)

In [515]:
title_tags=driver.find_elements(By.CLASS_NAME,'productcardplp_productprice__jdlz6')
for i in title_tags[0:12]:
    title=i.text
    price.append(title)

In [516]:
print = (len(ShoeName),len(category),len(price),len(no_of_colors))

In [517]:
print

(12, 12, 12, 12)

In [518]:
import pandas as pd
df11=pd.DataFrame({'ShoeName':ShoeName,'category':category,'Price':price,'no_of_colors':no_of_colors})
df11

,ShoeName,category,Price,no_of_colors
0,Bright Grey Boots for Women,Bright Grey Boots for Women,₹5995,
1,Brown Boot for Women,Brown Boot for Women,₹5495,
2,DROYAL BLUE boots for women,DROYAL BLUE boots for women,₹5495₹4121,
3,Woodland Rusty red boots for women,Woodland Rusty red boots for women,₹5495₹4121,
4,Snaype Boots for Women,Snaype Boots for Women,₹5995,25 %
5,Dark royal blue boot for women,Dark royal blue boot for women,₹4995₹2997,
6,Camel boots for women,Camel boots for women,₹5495₹2747,25 %
7,Woodland BLACK casual shoes for women,Woodland BLACK casual shoes for women,₹4995₹2997,
8,Black Boot for women,Black Boot for women,₹9995,
9,Black Boots for Women,Black Boots for Women,₹9995,
10,Black high-top boots,Black high-top boots,₹9995₹5997,40 %
11,Brown mid-calf boot for women,Brown mid-calf boot for women,₹18995₹11397,

In [1]:
import pandas as pd
data = {
    'ShoeName': [
        "Bestseller\nNike Dunk Low Retro Premium\nMen's...",
        "Nike Blazer Low '77 Vintage\nMen's Shoes",
        "Bestseller\nNike Air Force 1 '07\nMen's Shoes",
        "Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...",
        "Nike Court Vision Low\nMen's Shoes",
        "Bestseller\nNike Air Force 1 '07 LV8\nMen's Shoes",
        "Just In\nNike Air Max 1\nMen's shoes",
        "Sustainable Materials\nNikeCourt Legacy\nMen's...",
        "Nike Air Max SC Leather\nMen's Shoes",
        "Nike Killshot 2 Leather\nMen's Shoe",
        "Bestseller\nNike Blazer Low '77 Jumbo\nMen's S...",
        "Bestseller\nNike SB Zoom Blazer Low Pro GT\nSk...",
        "Nike Air Force 1 React\nMen's Shoes",
        "Nike Air Max Cirro\nMen's Slides",
        "Jordan Max Aura 5\nMen's Shoes",
        "Customise\nNike Air Force 1 Mid By You\nMen's ...",
        "Sustainable Materials\nNike Revolution 7\nMen'...",
        "Bestseller\nAir Jordan Legacy 312 Low\nMen's S...",
        "Promo Exclusion\nNike ACG Mountain Fly 2 Low\n...",
        "Bestseller\nNike Dunk Low\nMen's Shoes",
        "Nike SB Force 58\nSkate Shoes",
        "Bestseller\nJordan Nu Retro 1 Low\nMen's Shoes",
        "Bestseller\nJordan One Take 4 PF\nMen's Shoes",
        "Bestseller\nNike Precision 6\nBasketball Shoes"
    ],
    'no_of_colors': [
        '1 Colour', '3 Colours', '2 Colours', '3 Colours', '1 Colour',
        '2 Colours', '5 Colours', '4 Colours', '2 Colours', '2 Colours',
        '2 Colours', '3 Colours', '1 Colour', '4 Colours', '5 Colours',
        '6 Colours', '6 Colours', '3 Colours', '2 Colours', '1 Colour',
        '2 Colours', '2 Colours', '3 Colours', '4 Colours'
    ],
    'price': [
        'MRP : ₹ 9 695.00', 'MRP : ₹ 7 195.00', 'MRP : ₹ 7 495.00',
        'MRP : ₹ 13 995.00', 'MRP : ₹ 5 695.00', 'MRP : ₹ 10 795.00',
        'MRP : ₹ 12 795.00', 'MRP : ₹ 5 695.00', 'MRP : ₹ 6 795.00',
        'MRP : ₹ 7 995.00', 'MRP : ₹ 8 595.00', 'MRP : ₹ 6 795.00',
        'MRP : ₹ 11 995.00', 'MRP : ₹ 3 695.00', 'MRP : ₹ 11 895.00',
        'MRP : ₹ 12 795.00', 'MRP : ₹ 3 695.00', 'MRP : ₹ 12 995.00',
        'MRP : ₹ 13 995.00', 'MRP : ₹ 8 695.00', 'MRP : ₹ 6 295.00',
        'MRP : ₹ 9 195.00', 'MRP : ₹ 8 695.00', 'MRP : ₹ 5 695.00'
    ],
    'category': [
        "Men's Shoes", "Men's Shoes", "Men's Shoes", "Men's Shoes", "Men's Shoes",
        "Men's Shoes", "Men's shoes", "Men's Shoes", "Men's Shoes", "Men's Shoe",
        "Men's Shoes", "Skate Shoes", "Men's Shoes", "Men's Slides", "Men's Shoes",
        "Men's Custom Shoes", "Men's Road Running Shoes", "Men's Shoes", "Men's Shoes",
        "Men's Shoes", "Skate Shoes", "Men's Shoes", "Men's Shoes", "Basketball Shoes"
    ]
}
df101 = pd.DataFrame(data)
df101.to_csv('shoes_data.csv', index=False)
print(df101)

                                             ShoeName no_of_colors  \
0   Bestseller\nNike Dunk Low Retro Premium\nMen's...     1 Colour
1            Nike Blazer Low '77 Vintage\nMen's Shoes    3 Colours
2       Bestseller\nNike Air Force 1 '07\nMen's Shoes    2 Colours
3   Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...    3 Colours
4                  Nike Court Vision Low\nMen's Shoes     1 Colour
5   Bestseller\nNike Air Force 1 '07 LV8\nMen's Shoes    2 Colours
6                Just In\nNike Air Max 1\nMen's shoes    5 Colours
7   Sustainable Materials\nNikeCourt Legacy\nMen's...    4 Colours
8                Nike Air Max SC Leather\nMen's Shoes    2 Colours
9                 Nike Killshot 2 Leather\nMen's Shoe    2 Colours
10  Bestseller\nNike Blazer Low '77 Jumbo\nMen's S...    2 Colours
11  Bestseller\nNike SB Zoom Blazer Low Pro GT\nSk...    3 Colours
12                Nike Air Force 1 React\nMen's Shoes     1 Colour
13                   Nike Air Max Cirro\nMen's Slides    4 Colours
14                     Jordan Max Aura 5\nMen's Shoes    5 Colours
15  Customise\nNike Air Force 1 Mid By You\nMen's ...    6 Colours
16  Sustainable Materials\nNike Revolution 7\nMen'...    6 Colours
17  Bestseller\nAir Jordan Legacy 312 Low\nMen's S...    3 Colours
18  Promo Exclusion\nNike ACG Mountain Fly 2 Low\n...    2 Colours
19             Bestseller\nNike Dunk Low\nMen's Shoes     1 Colour
20                      Nike SB Force 58\nSkate Shoes    2 Colours
21     Bestseller\nJordan Nu Retro 1 Low\nMen's Shoes    2 Colours
22      Bestseller\nJordan One Take 4 PF\nMen's Shoes    3 Colours
23     Bestseller\nNike Precision 6\nBasketball Shoes    4 Colours

                price                  category
0    MRP : ₹ 9 695.00               Men's Shoes
1    MRP : ₹ 7 195.00               Men's Shoes
2    MRP : ₹ 7 495.00               Men's Shoes
3   MRP : ₹ 13 995.00               Men's Shoes
4    MRP : ₹ 5 695.00               Men's Shoes
5   MRP : ₹ 10 795.00               Men's Shoes
6   MRP : ₹ 12 795.00               Men's shoes
7    MRP : ₹ 5 695.00               Men's Shoes
8    MRP : ₹ 6 795.00               Men's Shoes
9    MRP : ₹ 7 995.00                Men's Shoe
10   MRP : ₹ 8 595.00               Men's Shoes
11   MRP : ₹ 6 795.00               Skate Shoes
12  MRP : ₹ 11 995.00               Men's Shoes
13   MRP : ₹ 3 695.00              Men's Slides
14  MRP : ₹ 11 895.00               Men's Shoes
15  MRP : ₹ 12 795.00        Men's Custom Shoes
16   MRP : ₹ 3 695.00  Men's Road Running Shoes
17  MRP : ₹ 12 995.00               Men's Shoes
18  MRP : ₹ 13 995.00               Men's Shoes
19   MRP : ₹ 8 695.00               Men's Shoes
20   MRP : ₹ 6 295.00               Skate Shoes
21   MRP : ₹ 9 195.00               Men's Shoes
22   MRP : ₹ 8 695.00               Men's Shoes
23   MRP : ₹ 5 695.00          Basketball Shoes

In [3]:
import pandas as pd

# Data to be added
new_data = {
    'ShoeName': [
        "Air Jordan 1 Low SE\nWomen's Shoes", "Nike Dunk Low\nWomen's Shoes",
        "Just In\nJordan Stadium 90\nWomen's Shoes", "Nike Dunk Low SE\nWomen's Shoes",
        "Nike Zoom Vomero 5\nWomen's Shoes", "Nike Air Force 1 '07\nWomen's Shoes",
        "Nike Air Max SC SE\nWomen's Shoes", "Just In\nNike Air Max 1\nWomen's shoes",
        "Bestseller\nAir Jordan 1 Low SE\nWomen's Shoes", "Promo Exclusion\nNike Air Max 1 LX\nWomen's Shoes",
        "Nike Dunk Low SE\nWomen's Shoes", "Promo Exclusion\nNike Dunk Low Twist\nWomen's ...",
        "Bestseller\nNike SB Zoom Blazer Low Pro GT\nSk...", "Nike Air Force 1 Shadow\nWomen's Shoes",
        "Just In\nNike SuperRep Go 3 Flyknit Next Natur...", "Nike Dunk High\nWomen's Shoes",
        "Sustainable Materials\nNikeCourt Legacy Next N...", "Sustainable Materials\nNike Tiempo Legend 10 A...",
        "Nike Dunk High Premium\nWomen's Shoes", "Promo Exclusion\nNike ACG Mountain Fly 2 Low\n...",
        "Sustainable Materials\nNike Calm\nMen's Mules", "Nike Waffle Debut Vintage\nWomen's Shoes",
        "Nike Waffle Debut\nWomen's Shoes", "Nike SB Force 58\nSkate Shoes"
    ],
    'no_of_colors': [
        '1 Colour', '1 Colour', '4 Colours', '1 Colour', '1 Colour',
        '1 Colour', '1 Colour', '5 Colours', '2 Colours', '2 Colours',
        '1 Colour', '5 Colours', '3 Colours', '2 Colours', '6 Colours',
        '1 Colour', '4 Colours', '3 Colours', '1 Colour', '2 Colours',
        '1 Colour', '1 Colour', '3 Colours', '2 Colours', '3 Colours'
    ],
    'price': [
        'MRP : ₹ 10 295.00', 'MRP : ₹ 8 695.00', 'MRP : ₹ 12 795.00', 'MRP : ₹ 9 695.00',
        'MRP : ₹ 16 995.00', 'MRP : ₹ 9 695.00', 'MRP : ₹ 7 495.00', 'MRP : ₹ 12 795.00',
        'MRP : ₹ 10 295.00', 'MRP : ₹ 14 995.00', 'MRP : ₹ 9 695.00', 'MRP : ₹ 9 695.00',
        'MRP : ₹ 6 795.00', 'MRP : ₹ 8 995.00', 'MRP : ₹ 8 895.00', 'MRP : ₹ 9 295.00',
        'MRP : ₹ 5 695.00', 'MRP : ₹ 7 495.00', 'MRP : ₹ 12 295.00', 'MRP : ₹ 13 995.00',
        'MRP : ₹ 5 695.00', 'MRP : ₹ 7 095.00', 'MRP : ₹ 5 695.00', 'MRP : ₹ 6 295.00'
    ],
    'category': [
        "Women's Shoes", "Women's Shoes", "Women's Shoes", "Women's Shoes", "Women's Shoes",
        "Women's Shoes", "Women's Shoes", "Women's shoes", "Women's Shoes", "Women's Shoes",
        "Women's Shoes", "Women's Shoes", "Skate Shoes", "Women's Shoes", "Women's Workout Shoes",
        "Women's Shoes", "Women's Shoes", "Multi-Ground Low-Top Football Boot", "Women's Shoes",
        "Men's Shoes", "Men's Mules", "Women's Shoes", "Women's Shoes", "Skate Shoes"
    ]
}

df = pd.read_csv('shoes_data.csv')

max_length = max(len(new_data[col]) for col in new_data)
new_data = {col: new_data[col] + [''] * (max_length - len(new_data[col])) for col in new_data}

df_new = pd.DataFrame(new_data)

df_updated = pd.concat([df, df_new], ignore_index=True)

df_updated.to_csv('shoes_data.csv', index=False)

print(df_updated)

                                             ShoeName no_of_colors  \
0   Bestseller\nNike Dunk Low Retro Premium\nMen's...     1 Colour
1            Nike Blazer Low '77 Vintage\nMen's Shoes    3 Colours
2       Bestseller\nNike Air Force 1 '07\nMen's Shoes    2 Colours
3   Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...    3 Colours
4                  Nike Court Vision Low\nMen's Shoes     1 Colour
5   Bestseller\nNike Air Force 1 '07 LV8\nMen's Shoes    2 Colours
6                Just In\nNike Air Max 1\nMen's shoes    5 Colours
7   Sustainable Materials\nNikeCourt Legacy\nMen's...    4 Colours
8                Nike Air Max SC Leather\nMen's Shoes    2 Colours
9                 Nike Killshot 2 Leather\nMen's Shoe    2 Colours
10  Bestseller\nNike Blazer Low '77 Jumbo\nMen's S...    2 Colours
11  Bestseller\nNike SB Zoom Blazer Low Pro GT\nSk...    3 Colours
12                Nike Air Force 1 React\nMen's Shoes     1 Colour
13                   Nike Air Max Cirro\nMen's Slides    4 Colours
14                     Jordan Max Aura 5\nMen's Shoes    5 Colours
15  Customise\nNike Air Force 1 Mid By You\nMen's ...    6 Colours
16  Sustainable Materials\nNike Revolution 7\nMen'...    6 Colours
17  Bestseller\nAir Jordan Legacy 312 Low\nMen's S...    3 Colours
18  Promo Exclusion\nNike ACG Mountain Fly 2 Low\n...    2 Colours
19             Bestseller\nNike Dunk Low\nMen's Shoes     1 Colour
20                      Nike SB Force 58\nSkate Shoes    2 Colours
21     Bestseller\nJordan Nu Retro 1 Low\nMen's Shoes    2 Colours
22      Bestseller\nJordan One Take 4 PF\nMen's Shoes    3 Colours
23     Bestseller\nNike Precision 6\nBasketball Shoes    4 Colours
24                 Air Jordan 1 Low SE\nWomen's Shoes     1 Colour
25                       Nike Dunk Low\nWomen's Shoes     1 Colour
26          Just In\nJordan Stadium 90\nWomen's Shoes    4 Colours
27                    Nike Dunk Low SE\nWomen's Shoes     1 Colour
28                  Nike Zoom Vomero 5\nWomen's Shoes     1 Colour
29                Nike Air Force 1 '07\nWomen's Shoes     1 Colour
30                  Nike Air Max SC SE\nWomen's Shoes     1 Colour
31             Just In\nNike Air Max 1\nWomen's shoes    5 Colours
32     Bestseller\nAir Jordan 1 Low SE\nWomen's Shoes    2 Colours
33  Promo Exclusion\nNike Air Max 1 LX\nWomen's Shoes    2 Colours
34                    Nike Dunk Low SE\nWomen's Shoes     1 Colour
35  Promo Exclusion\nNike Dunk Low Twist\nWomen's ...    5 Colours
36  Bestseller\nNike SB Zoom Blazer Low Pro GT\nSk...    3 Colours
37             Nike Air Force 1 Shadow\nWomen's Shoes    2 Colours
38  Just In\nNike SuperRep Go 3 Flyknit Next Natur...    6 Colours
39                      Nike Dunk High\nWomen's Shoes     1 Colour
40  Sustainable Materials\nNikeCourt Legacy Next N...    4 Colours
41  Sustainable Materials\nNike Tiempo Legend 10 A...    3 Colours
42              Nike Dunk High Premium\nWomen's Shoes     1 Colour
43  Promo Exclusion\nNike ACG Mountain Fly 2 Low\n...    2 Colours
44      Sustainable Materials\nNike Calm\nMen's Mules     1 Colour
45           Nike Waffle Debut Vintage\nWomen's Shoes     1 Colour
46                   Nike Waffle Debut\nWomen's Shoes    3 Colours
47                      Nike SB Force 58\nSkate Shoes    2 Colours
48                                                       3 Colours

                price                            category
0    MRP : ₹ 9 695.00                         Men's Shoes
1    MRP : ₹ 7 195.00                         Men's Shoes
2    MRP : ₹ 7 495.00                         Men's Shoes
3   MRP : ₹ 13 995.00                         Men's Shoes
4    MRP : ₹ 5 695.00                         Men's Shoes
5   MRP : ₹ 10 795.00                         Men's Shoes
6   MRP : ₹ 12 795.00                         Men's shoes
7    MRP : ₹ 5 695.00                         Men's Shoes
8    MRP : ₹ 6 795.00                         Men's Shoes
9    MRP : ₹ 7 995.00                          Men's Shoe
10   MRP : ₹ 8 595.00                         Men's Shoes
11   MRP : ₹ 6 795.00                         Skate Shoes
12  MRP : ₹ 11 995.00                         Men's Shoes
13   MRP : ₹ 3 695.00                        Men's Slides
14  MRP : ₹ 11 895.00                         Men's Shoes
15  MRP : ₹ 12 795.00                  Men's Custom Shoes
16   MRP : ₹ 3 695.00            Men's Road Running Shoes
17  MRP : ₹ 12 995.00                         Men's Shoes
18  MRP : ₹ 13 995.00                         Men's Shoes
19   MRP : ₹ 8 695.00                         Men's Shoes
20   MRP : ₹ 6 295.00                         Skate Shoes
21   MRP : ₹ 9 195.00                         Men's Shoes
22   MRP : ₹ 8 695.00                         Men's Shoes
23   MRP : ₹ 5 695.00                    Basketball Shoes
24  MRP : ₹ 10 295.00                       Women's Shoes
25   MRP : ₹ 8 695.00                       Women's Shoes
26  MRP : ₹ 12 795.00                       Women's Shoes
27   MRP : ₹ 9 695.00                       Women's Shoes
28  MRP : ₹ 16 995.00                       Women's Shoes
29   MRP : ₹ 9 695.00                       Women's Shoes
30   MRP : ₹ 7 495.00                       Women's Shoes
31  MRP : ₹ 12 795.00                       Women's shoes
32  MRP : ₹ 10 295.00                       Women's Shoes
33  MRP : ₹ 14 995.00                       Women's Shoes
34   MRP : ₹ 9 695.00                       Women's Shoes
35   MRP : ₹ 9 695.00                       Women's Shoes
36   MRP : ₹ 6 795.00                         Skate Shoes
37   MRP : ₹ 8 995.00                       Women's Shoes
38   MRP : ₹ 8 895.00               Women's Workout Shoes
39   MRP : ₹ 9 295.00                       Women's Shoes
40   MRP : ₹ 5 695.00                       Women's Shoes
41   MRP : ₹ 7 495.00  Multi-Ground Low-Top Football Boot
42  MRP : ₹ 12 295.00                       Women's Shoes
43  MRP : ₹ 13 995.00                         Men's Shoes
44   MRP : ₹ 5 695.00                         Men's Mules
45   MRP : ₹ 7 095.00                       Women's Shoes
46   MRP : ₹ 5 695.00                       Women's Shoes
47   MRP : ₹ 6 295.00                         Skate Shoes
48

In [4]:
import pandas as pd

# Data to be added
new_data = {
    'ShoeName': [
        "Superstar Shoes", "Samba OG Shoes", "Samba OG Shoes", "Superstar Shoes", "Superstar Shoes",
        "Ultraboost Light", "Ultimashow Shoes", "WIND RAISER SHOES", "Alphaboost V1 Shoes", "FLUIDFLOW 2.0 RUNNING SHOE",
        "Ultraboost 1.0 Shoes", "RESTOUND SHOES", "ADI ZOOM SHOES", "HYPERON 1.0 SHOES", "Grand Court Cloudfoam Comfort Shoes",
        "Pureboost 22 Shoes", "Ultraboost 1.0 Shoes", "RAYRUN SHOES", "HALICON SHOES", "Lite Racer Adapt 4.0 Cloudfoam Slip-On Shoes",
        "FLODEAN SHOES", "Adilette Comfort Slides", "Ozelle Cloudfoam Shoes", "Adilette Comfort Slides", "EXPEREO SHOES",
        "NMD_R1 Shoes", "RUNNING UNIFLOW SHOES", "Ultimashow Shoes", "NMD_V3 Shoes", "Asweetrain Shoes",
        "Tracefinder Trail Running Shoes", "EXPEREO SHOES", "Ultra 4DFWD Shoes", "NMD_R1 Shoes", "Ultimashow Shoes",
        "VS Pace 2.0 Shoes", "Advantage Base Court Lifestyle Shoes", "Gazelle Shoes", "Web BOOST Shoes", "NMD_R1 Shoes",
        "NMD_R1 Shoes", "Samba Shoes", "Samba OG Shoes", "Ultraboost Light Shoes", "Y-3 Gendo Pro Model", "Y-3 Gendo Pro Model",
        "Ultraboost 1.0 ATR Shoes", "Stan Smith Shoes"
    ],
    'no_of_colors': [
        '2 colours', '4 colours', '4 colours', '2 colours', '',
        '3 colours', '6 colours', '2 colours', '7 colours', '',
        '', '3 colours', '5 colours', '2 colours', '3 colours',
        '3 colours', '4 colours', '', '2 colours', '3 colours', '5 colours',
        '3 colours', '', '4 colours', '2 colours', '3 colours',
        '2 colours', '3 colours', '', '6 colours', '',
        '6 colours', '6 colours', '6 colours', '2 colours', '',
        '3 colours', '2 colours', '2 colours', '16 colours · responsive run', '2 colours',
        '2 colours', '3 colours', '3 colours', '3 colours', '7 colours · new', '4 colours · new',
        '16 colours · responsive run', '2 colours'
    ],
    'price': [
        '₹8 999.00', '₹10 999.00', '₹11 999.00', '₹8 999.00', '₹9 999.50',
        '₹19 999.00', '₹3 919.50', '₹1 979.50', '₹7 199.50', '₹2 364.50',
        '₹17 999.00', '₹4 800.00', '₹1 649.50', '₹1 499.50', '₹5 599.50',
        '₹4 800.00', '₹17 999.00', '₹2 399.50', '₹1 999.50', '₹3 499.50',
        '₹3 299.00', '₹3 999.00', '₹3 999.50', '₹2 385.00', '₹6 499.50',
        '₹1 649.50', '₹7 999.50', '₹2 799.50', '₹7 999.50', '₹4 399.50',
        '₹4 399.50', '₹2 649.50', '₹21 999.00', '₹6 499.50', '₹2 799.50',
        '₹7 999.50', '₹3 299.50', '₹3 299.50', '₹8 999.00', '₹8 249.50', '₹6 499.50',
        '₹14 999.00', '₹8 249.50', '₹18 999.00', '₹69 999.00', '₹69 999.00',
        '₹19 999.00', '₹8 999.00'
    ],
    'category': [
        "originals", "originals", "originals", "Men originals", "Men originals",
        "Men Running", "Men sportswear", "Men Running", "Men sportswear", "Men Running",
        "Men sportswear", "Men Running", "Men Running", "Men Running", "Men sportswear",
        "Running", "Men sportswear", "Men Running", "Men Walking", "Men Running", "Men sportswear",
        "Men Walking", "sportswear", "Men Running", "Men Walking", "Men originals",
        "Men Running", "Men sportswear", "Men originals", "Men Training", "Men Outdoor",
        "Men Running", "Running", "Men originals", "Men sportswear", "Men Skateboarding",
        "Men sportswear", "originals", "Running", "Men originals", "Running",
        "originals", "Men originals", "Running", "Lifestyle", "Lifestyle",
        "sportswear", "originals"
    ]
}

df = pd.read_csv('shoes_data.csv')

max_length = max(len(new_data[col]) for col in new_data)
new_data = {col: new_data[col] + [''] * (max_length - len(new_data[col])) for col in new_data}

df_new = pd.DataFrame(new_data)

df_updated = pd.concat([df, df_new], ignore_index=True)

df_updated.to_csv('shoes_data.csv', index=False)

print(df_updated)

                                             ShoeName  \
0   Bestseller\nNike Dunk Low Retro Premium\nMen's...
1            Nike Blazer Low '77 Vintage\nMen's Shoes
2       Bestseller\nNike Air Force 1 '07\nMen's Shoes
3   Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...
4                  Nike Court Vision Low\nMen's Shoes
..                                                ...
93                                Y-3 Gendo Pro Model
94                                Y-3 Gendo Pro Model
95                           Ultraboost 1.0 ATR Shoes
96                                   Stan Smith Shoes
97

                   no_of_colors              price     category
0                      1 Colour   MRP : ₹ 9 695.00  Men's Shoes
1                     3 Colours   MRP : ₹ 7 195.00  Men's Shoes
2                     2 Colours   MRP : ₹ 7 495.00  Men's Shoes
3                     3 Colours  MRP : ₹ 13 995.00  Men's Shoes
4                      1 Colour   MRP : ₹ 5 695.00  Men's Shoes
..                          ...                ...          ...
93                    3 colours         ₹69 999.00    Lifestyle
94              7 colours · new         ₹69 999.00    Lifestyle
95              4 colours · new         ₹19 999.00   sportswear
96  16 colours · responsive run          ₹8 999.00    originals
97                    2 colours

[98 rows x 4 columns]

In [5]:
import pandas as pd

# Data to be added
new_data = {
    'ShoeName': [
        "Superstar Shoes", "Superstar Shoes", "Samba OG Shoes", "Samba OG Shoes", "Gazelle Shoes",
        "Adilette Ayoon Slides", "Adilette Clogs", "BREEZEWALK SHOES", "Avryn Shoes",
        "VULC RAID3R Lifestyle Skateboarding Slip-On Ca...", "Island Club Adilette 22 Slides",
        "X Crazyfast.2 Firm Ground Boots", "Adi2000 X Shoes", "Adilette Boost Slides",
        "Superstar XLG Shoes", "Supernova 2 x Marimekko Shoes", "Adilette Aqua Slides",
        "X Crazyfast.3 Firm Ground Boots", "NMD_R1 V3 Shoes", "Rivalry Low Shoes", "Forum Low Shoes",
        "Puremotion Adapt 2.0 Shoes", "Adissage Slides", "Valentine's Day Ultraboost 1.0 Shoes",
        "AZUREWALK SHOES", "ADILETTE SHOWER", "Adilette Comfort Sandals",
        "Hoops 3.0 Mid Classic Vintage Shoes", "Court Platform Shoes", "Copa Pure II.1 Firm Ground Boots",
        "PUDING ADI SANDALS", "Forum Low Shoes", "Nebzed Cloudfoam Lifestyle Running Shoes",
        "X_PLRBOOST Shoes", "Coreracer Shoes", "Grand Court Base Lifestyle Court Casual Shoes",
        "Pureboost 22 Shoes", "Adilette Comfort Slides", "Adilette Comfort Slides", "SHEENWALK SHOES",
        "Ultimashow Shoes", "SHEENWALK SHOES", "Galaxy 6 Shoes", "Galaxy 6 Shoes", "Ultra 4DFWD Shoes",
        "Forum Low Shoes", "Crazy IIInfinity 003 Shoes", "VULC RAID3R Lifestyle Skateboarding Slip-On Ca...",
        "Lite Racer 3.0 Shoes", "Racer TR Slides"
    ],
    'no_of_colors': [
        '2 colours', '', '4 colours', '4 colours', '6 colours',
        '6 colours', '5 colours', '3 colours', '6 colours',
        '2 colours', '4 colours', '3 colours', '', '3 colours',
        '4 colours', '', '', '7 colours', '3 colours', '',
        '2 colours', '', '2 colours', '', '6 colours',
        '3 colours', '3 colours', '3 colours', '', '2 colours',
        '', '2 colours', '', '2 colours', '', '3 colours',
        '2 colours', '', '4 colours', '3 colours', '3 colours',
        '', '4 colours', '3 colours', '3 colours', '4 colours',
        '', '7 colours', '2 colours', '', '2 colours',
        '', '6 colours', '2 colours'
    ],
    'price': [
        '₹8 999.00', '₹4 499.50', '₹10 999.00', '₹11 999.00', '₹10 999.00',
        '₹2 499.50', '₹3 219.50', '₹1 499.50', '₹9 799.50', '₹2 799.50',
        '₹5 999.00', '₹11 999.00', '₹6 599.50', '₹5 999.00', '₹2 999.50',
        '₹11 999.00', '₹4 000.00', '₹1 999.00', '₹7 999.00', '₹7 200.00',
        '₹8 999.00', '₹5 999.50', '₹3 150.00', '₹2 999.00', '₹12 599.50',
        '₹3 679.50', '₹1 200.00', '₹1 840.00', '', '', '₹11 999.00',
        '', '₹6 599.50', '₹2 999.50', '', '₹11 999.00', '', '₹5 999.50',
        '₹3 150.00', '', '₹4 599.00', '₹3 150.00', '₹2 999.00', '₹2 999.50',
        '', '₹12 999.00', '', '₹69 999.00', '', '₹3 150.00',
        '₹5 999.00', '₹2 799.50'
    ],
    'category': [
        "originals", "Women Lifestyle", "originals", "originals", "originals",
        "Women Lifestyle", "sportswear", "Women Walking", "Running", "sportswear",
        "originals", "Football", "Women originals", "Swim", "originals",
        "Women Running", "sportswear", "Football", "Women originals", "originals",
        "Women originals", "Women originals", "Women Running", "sportswear",
        "Women Running", "Women Swim", "sportswear", "Basketball", "Women Skateboarding",
        "Football", "Women Outdoor", "originals", "Women sportswear", "Women sportswear",
        "Women Running", "sportswear", "sportswear", "Women Walking", "Women Running",
        "Women Running", "Women sportswear", "Women Running", "Women Running", "Women Running",
        "Women sportswear", "Women Running", "Women Tennis", "Running", "sportswear",
        "sportswear"
    ]
}

df = pd.read_csv('shoes_data.csv')

max_length = max(len(new_data[col]) for col in new_data)
new_data = {col: new_data[col] + [''] * (max_length - len(new_data[col])) for col in new_data}

df_new = pd.DataFrame(new_data)

df_updated = pd.concat([df, df_new], ignore_index=True)

df_updated.to_csv('shoes_data.csv', index=False)

print(df_updated)

                                              ShoeName no_of_colors  \
0    Bestseller\nNike Dunk Low Retro Premium\nMen's...     1 Colour
1             Nike Blazer Low '77 Vintage\nMen's Shoes    3 Colours
2        Bestseller\nNike Air Force 1 '07\nMen's Shoes    2 Colours
3    Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...    3 Colours
4                   Nike Court Vision Low\nMen's Shoes     1 Colour
..                                                 ...          ...
147                                    Racer TR Slides
148                                                       2 colours
149
150                                                       6 colours
151                                                       2 colours

                 price     category
0     MRP : ₹ 9 695.00  Men's Shoes
1     MRP : ₹ 7 195.00  Men's Shoes
2     MRP : ₹ 7 495.00  Men's Shoes
3    MRP : ₹ 13 995.00  Men's Shoes
4     MRP : ₹ 5 695.00  Men's Shoes
..                 ...          ...
147          ₹3 150.00   sportswear
148          ₹5 999.00
149          ₹2 799.50
150
151

[152 rows x 4 columns]

In [6]:
import pandas as pd

# Data to be added
new_data = {
    'ShoeName': [
        "Axelion NXT Camo Men's Running Shoes Puma Black-Iron Gate", 
        "Viz Runner Repeat Wide Men's Running Shoes PUMA Black-Castlerock", 
        "Axelion Fade Men's Running Shoes For All Time Red-PUMA Black", 
        "Viz Runner Repeat Wide Men's Running Shoes Puma Black-Iron Gate", 
        "Star Vital Refresh Men's Running Shoes PUMA Black-CASTLEROCK", 
        "Softride Enzo Evo Running Shoes Puma Black-Castlerock", 
        "Axelion Fade Men's Running Shoes Team Light Blue-Puma White", 
        "Cell Rapid Running Shoes For All Time Red-PUMA Black", 
        "Axelion Refresh Men's Running Shoes PUMA Black-Iron Gate", 
        "Axelion Spark Men's Running Shoes CASTLEROCK-Black", 
        "Star Vital Men's Training Shoes PUMA Black-Castlerock", 
        "Star Vital Outline Men's Running Shoes PUMA Black-CASTLEROCK", 
        "Cell Rapid Running Shoes Inky Blue-PUMA Black", 
        "Star Vital Refresh Men's Running Shoes PUMA Black-CASTLEROCK", 
        "Transport Running Shoes Puma Black-Puma Black", 
        "Softride Enzo Evo Better Running Shoes Cool Grey-Puma Black", 
        "Axelion NXT Men's Running Shoes Puma Black-Ultra Gray", 
        "Aviator Men's Running Shoes Puma Black-CASTLEROCK", 
        "PUMA x FIRST MILE Electrify NITRO™ 3 Men's Running Shoes Puma Black-Iron Gate", 
        "Axelion NXT Men's Running Shoes Peacoat-Puma White", 
        "Cell Rapid Camo Men's Running Shoes PUMA Black-Iron Gate", 
        "SOFTRIDE One4All Men's Running Shoes High Rise-Puma Black", 
        "Softride Enzo Evo Running Shoes Flat Medium Gray"
    ],
    'category': [
        "Axelion NXT Camo Men's Running Shoes", "Viz Runner Repeat Wide Men's Running Shoes", 
        "Axelion Fade Men's Running Shoes", "Viz Runner Repeat Wide Men's Running Shoes", 
        "Star Vital Refresh Men's Running Shoes", "Softride Enzo Evo Running Shoes", 
        "Axelion Fade Men's Running Shoes", "Cell Rapid Running Shoes", 
        "Axelion Refresh Men's Running Shoes", "Axelion Spark Men's Running Shoes", 
        "Star Vital Men's Training Shoes", "Star Vital Outline Men's Running Shoes", 
        "Cell Rapid Running Shoes", "Star Vital Refresh Men's Running Shoes", 
        "Transport Running Shoes", "Softride Enzo Evo Better Running Shoes", 
        "Axelion NXT Men's Running Shoes", "Aviator Men's Running Shoes", 
        "PUMA x FIRST MILE Electrify NITRO™ 3 Men's Running Shoes", 
        "Axelion NXT Men's Running Shoes", "Cell Rapid Camo Men's Running Shoes", 
        "SOFTRIDE One4All Men's Running Shoes", "Softride Enzo Evo Running Shoes"
    ],
    'Price': [
        "$40.00", "$32.50", "$50.99", "$32.50", "$35.00", "$69.99", "$50.99", "$42.50", "$50.99", "$50.99", 
        "$32.50", "$32.50", "$42.50", "$35.00", "$30.99", "$37.50", "$40.00", "$45.99", "$40.00", "$48.99", 
        "$40.99", "$37.50", "$42.50"
    ],
    'no_of_colors': [
        "1 COLOR", "3 COLORS", "2 COLORS", "3 COLORS", "2 COLORS", "6 COLORS", "2 COLORS", "2 COLORS", 
        "2 COLORS", "1 COLOR", "1 COLOR", "1 COLOR", "2 COLORS", "2 COLORS", "5 COLORS", "1 COLOR", 
        "3 COLORS", "1 COLOR", "1 COLOR", "3 COLORS", "2 COLORS", "1 COLOR", "2 COLORS", "1 COLOR", 
        "6 COLORS"
    ]
}

df = pd.read_csv('shoes_data.csv')

max_length = max(len(new_data[col]) for col in new_data)
new_data = {col: new_data[col] + [''] * (max_length - len(new_data[col])) for col in new_data}

df_new = pd.DataFrame(new_data)

df_updated = pd.concat([df, df_new], ignore_index=True)

df_updated.to_csv('shoes_data.csv', index=False)

print(df_updated)

                                              ShoeName no_of_colors  \
0    Bestseller\nNike Dunk Low Retro Premium\nMen's...     1 Colour
1             Nike Blazer Low '77 Vintage\nMen's Shoes    3 Colours
2        Bestseller\nNike Air Force 1 '07\nMen's Shoes    2 Colours
3    Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...    3 Colours
4                   Nike Court Vision Low\nMen's Shoes     1 Colour
..                                                 ...          ...
172  Cell Rapid Camo Men's Running Shoes PUMA Black...     2 COLORS
173  SOFTRIDE One4All Men's Running Shoes High Rise...      1 COLOR
174   Softride Enzo Evo Running Shoes Flat Medium Gray     2 COLORS
175                                                         1 COLOR
176                                                        6 COLORS

                 price                              category   Price
0     MRP : ₹ 9 695.00                           Men's Shoes     NaN
1     MRP : ₹ 7 195.00                           Men's Shoes     NaN
2     MRP : ₹ 7 495.00                           Men's Shoes     NaN
3    MRP : ₹ 13 995.00                           Men's Shoes     NaN
4     MRP : ₹ 5 695.00                           Men's Shoes     NaN
..                 ...                                   ...     ...
172                NaN   Cell Rapid Camo Men's Running Shoes  $40.99
173                NaN  SOFTRIDE One4All Men's Running Shoes  $37.50
174                NaN       Softride Enzo Evo Running Shoes  $42.50
175                NaN
176                NaN

[177 rows x 5 columns]

In [8]:
import pandas as pd

# Data to be added
new_data = {
    'ShoeName': [
        "Better Foam Prowl Slip-On Wide Women's Training Shoes Puma Black-Iron Gate", 
        "Star Vital Women's Training Shoes PUMA Black-CASTLEROCK", 
        "Riaze Prowl Women’s Training Shoes Puma Black-Puma Silver", 
        "Adelina Women’s Ballet Shoes Puma Black-Puma White", 
        "Defy Mid Women's Training Shoes Puma Black-Gold", 
        "Soft ride Flair Women's Running Shoes PUMA Black-Puma White", 
        "Palermo Women's Leather Sneakers PUMA White-Vapor Blue", 
        "Better Foam Prowl Slip On Women's Running Sneakers Puma Black-Iron Gate", 
        "Suede Classic XXI Women's Sneakers Icy Blue-Puma Silver", 
        "Defy Varsity Mid Women's Sneakers Puma White-Puma Black", 
        "Raize Prowl Speckle Women's Running Shoes Puma Black-Puma White", 
        "Ella Lace Up Women's Shoes Puma Black-Puma White", 
        "Softride Sophia Slip-on Women's Running Shoes Puma Black-Iron Gate", 
        "Riaze Prowl Rainbow Women's Sneakers Puma Black-Puma White", 
        "Ella Lace Up Women's Shoes Puma White-Puma Silver", 
        "CA Pro PRM Women's Sneakers Feather Gray-Warm Gray", 
        "Axelion Metallic Watercolor Women's Running Shoes Puma Black-Iron Gate", 
        "Carina 2.0 Women's Sneakers Puma White-Puma White", 
        "Trinity Women's Sneakers PUMA White-PUMA Black", 
        "Better Foam Prowl Slip On Women's Training Shoes Puma Black", 
        "Softride Sophia 2 Premium Women's Running Shoes Puma Black-Puma Silver", 
        "Softride Stakd Women's Running Shoes PUMA Black-Puma White", 
        "Prowl Slip On Women's Training Shoes Puma Black"
    ],
    'category': [
        "Better Foam Prowl Slip-On Wide Women's Training Shoes", "Star Vital Women's Training Shoes", 
        "Riaze Prowl Women’s Training Shoes", "Adelina Women’s Ballet Shoes", 
        "Defy Mid Women's Training Shoes", "Soft ride Flair Women's Running Shoes", 
        "Palermo Women's Leather Sneakers", "Better Foam Prowl Slip On Women's Running Sneakers", 
        "Suede Classic XXI Women's Sneakers", "Defy Varsity Mid Women's Sneakers", 
        "Raize Prowl Speckle Women's Running Shoes", "Ella Lace Up Women's Shoes", 
        "Softride Sophia Slip-on Women's Running Shoes", "Riaze Prowl Rainbow Women's Sneakers", 
        "Ella Lace Up Women's Shoes", "CA Pro PRM Women's Sneakers", 
        "Axelion Metallic Watercolor Women's Running Shoes", "Carina 2.0 Women's Sneakers", 
        "Trinity Women's Sneakers", "Better Foam Prowl Slip On Women's Training Shoes", 
        "Softride Sophia 2 Premium Women's Running Shoes", "Softride Stakd Women's Running Shoes", 
        "Prowl Slip On Women's Training Shoes"
    ],
    'Price': [
        "$35.99", "$32.50", "$42.50", "$25.00", "$79.99", "$40.99", "$32.50", "$39.99", 
        "$50.00", "$79.99", "$30.00", "$42.99", "$42.50", "$30.00", "$63.99", "$40.00", 
        "$35.99", "$45.00", "$32.50", "$35.00", "$42.50", "$32.50"
    ],
    'no_of_colors': [
        "1 COLOR", "2 COLORS", "1 COLOR", "2 COLORS", "1 COLOR", "2 COLORS", "2 COLORS", "1 COLOR", 
        "7 COLORS", "1 COLOR", "1 COLOR", "2 COLORS", "1 COLOR", "1 COLOR", "2 COLORS", "1 COLOR", 
        "1 COLOR", "2 COLORS", "3 COLORS", "1 COLOR", "1 COLOR", "2 COLORS", "1 COLOR"
    ]
}

df = pd.read_csv('shoes_data.csv')

max_length = max(len(new_data[col]) for col in new_data)
new_data = {col: new_data[col] + [''] * (max_length - len(new_data[col])) for col in new_data}

df_new = pd.DataFrame(new_data)

df_updated = pd.concat([df, df_new], ignore_index=True)

df_updated.to_csv('shoes_data.csv', index=False)

print(df_updated)

                                              ShoeName no_of_colors  \
0    Bestseller\nNike Dunk Low Retro Premium\nMen's...     1 Colour
1             Nike Blazer Low '77 Vintage\nMen's Shoes    3 Colours
2        Bestseller\nNike Air Force 1 '07\nMen's Shoes    2 Colours
3    Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...    3 Colours
4                   Nike Court Vision Low\nMen's Shoes     1 Colour
..                                                 ...          ...
195     Trinity Women's Sneakers PUMA White-PUMA Black     3 COLORS
196  Better Foam Prowl Slip On Women's Training Sho...      1 COLOR
197  Softride Sophia 2 Premium Women's Running Shoe...      1 COLOR
198  Softride Stakd Women's Running Shoes PUMA Blac...     2 COLORS
199    Prowl Slip On Women's Training Shoes Puma Black      1 COLOR

                 price                                          category  \
0     MRP : ₹ 9 695.00                                       Men's Shoes
1     MRP : ₹ 7 195.00                                       Men's Shoes
2     MRP : ₹ 7 495.00                                       Men's Shoes
3    MRP : ₹ 13 995.00                                       Men's Shoes
4     MRP : ₹ 5 695.00                                       Men's Shoes
..                 ...                                               ...
195                NaN                          Trinity Women's Sneakers
196                NaN  Better Foam Prowl Slip On Women's Training Shoes
197                NaN   Softride Sophia 2 Premium Women's Running Shoes
198                NaN              Softride Stakd Women's Running Shoes
199                NaN              Prowl Slip On Women's Training Shoes

      Price
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
..      ...
195  $32.50
196  $35.00
197  $42.50
198  $32.50
199

[200 rows x 5 columns]

In [9]:
new_data = {
    'ShoeName': [
        "Slip-ins: Summits - High Range", "Skechers Slip-ins Relaxed Fit: Parson - Oswin", 
        "Skechers Slip-ins: Ultra Flex 3.0 - Smooth Step", "Skechers Slip-ins: After Burn - Grill Captain", 
        "Slip-ins: Summits - Key Pace", "Skechers Slip-ins: GO WALK Arch Fit - Simplicity", 
        "Skechers Slip-ins: Arch Fit 2.0 - Look Ahead", "Skechers Slip-ins: Max Cushioning - Advantageous", 
        "Skechers Slip-ins: Ultra Flex 3.0 - Right Away", "Skechers Slip-ins: Summits AT", 
        "Skechers Slip-ins: Arch Fit 2.0 - Grand Select 2", "Skechers Slip-ins: Skech-Air Envoy - Emissary", 
        "Skechers Slip-ins RF: Parson - Ralven", "Skechers Slip-ins RF Work: Max Cushioning Elite", 
        "Skechers Slip-ins Snoop Dogg: Uno - Laid Back", "Skechers Slip-ins: BOBS Sport Squad Chaos", 
        "Skechers Slip-ins: Max Cushioning Premier", "Skechers Slip-ins: GO WALK 6 - Easy On", 
        "Skechers Slip-ins: Parson - Dewitt", "Skechers Slip-ins Work: Cankton - Faison", 
        "Skechers Slip-ins Work: Summits - Colsin", "Skechers Slip-ins: GO WALK Max - Free Hands", 
        "Skechers Slip-ins Work: D'Lux Walker SR - Joden", "Skechers Slip-ins: Ultra Flex 3.0 - New Arc"
    ],
    'category': [
        "MEN'S", "MEN'S", "MEN'S", "MEN'S", "MEN'S", "MEN'S", "MEN'S", "MEN'S", 
        "MEN'S", "MEN'S", "MEN'S", "MEN'S", "MEN'S", "MEN'S", "MEN'S", "MEN'S", 
        "MEN'S", "MEN'S", "MEN'S", "MEN'S", "MEN'S", "MEN'S", "MEN'S", "MEN'S"
    ],
    'Price': [
        "$75.00", "$90.00", "$90.00", "$95.00", "$75.00", "$100.00", "$105.00", "$110.00", 
        "$90.00", "$75.00", "$100.00", "$100.00", "$80.00", "$110.00", "$100.00", "$70.00", 
        "$110.00", "$95.00", "$80.00", "$100.00", "$75.00", "$75.00", "$95.00"
    ],
    'no_of_colors': [
        "3 Colors", "5 Colors", "3 Colors", "1 Color", "2 Colors", "1 Color", "2 Colors", "3 Colors", 
        "5 Colors", "2 Colors", "2 Colors", "1 Color", "4 Colors", "1 Color", "5 Colors", "4 Colors", 
        "3 Colors", "3 Colors", "2 Colors", "2 Colors", "1 Color", "1 Color", "1 Color"
    ]
}

df = pd.read_csv('shoes_data.csv')

max_length = max(len(new_data[col]) for col in new_data)
new_data = {col: new_data[col] + [''] * (max_length - len(new_data[col])) for col in new_data}

df_new = pd.DataFrame(new_data)

df_updated = pd.concat([df, df_new], ignore_index=True)

df_updated.to_csv('shoes_data.csv', index=False)

print(df_updated)

                                              ShoeName no_of_colors  \
0    Bestseller\nNike Dunk Low Retro Premium\nMen's...     1 Colour
1             Nike Blazer Low '77 Vintage\nMen's Shoes    3 Colours
2        Bestseller\nNike Air Force 1 '07\nMen's Shoes    2 Colours
3    Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...    3 Colours
4                   Nike Court Vision Low\nMen's Shoes     1 Colour
..                                                 ...          ...
219           Skechers Slip-ins Work: Cankton - Faison     2 Colors
220           Skechers Slip-ins Work: Summits - Colsin      1 Color
221        Skechers Slip-ins: GO WALK Max - Free Hands      1 Color
222    Skechers Slip-ins Work: D'Lux Walker SR - Joden      1 Color
223        Skechers Slip-ins: Ultra Flex 3.0 - New Arc

                 price     category    Price
0     MRP : ₹ 9 695.00  Men's Shoes      NaN
1     MRP : ₹ 7 195.00  Men's Shoes      NaN
2     MRP : ₹ 7 495.00  Men's Shoes      NaN
3    MRP : ₹ 13 995.00  Men's Shoes      NaN
4     MRP : ₹ 5 695.00  Men's Shoes      NaN
..                 ...          ...      ...
219                NaN        MEN'S  $100.00
220                NaN        MEN'S   $75.00
221                NaN        MEN'S   $75.00
222                NaN        MEN'S   $95.00
223                NaN        MEN'S

[224 rows x 5 columns]

In [10]:
import pandas as pd

# Data to be added
new_data_women = {
    'ShoeName': [
        "UNO - EVERYWEAR", "SKECH-LITE PRO-PERFECT TIME", "SKECH-LITE PRO-PERFECT TIME", 
        "UNO - EVERYWEAR", "ULTRA FLEX 3.0-BEST TIME", "ULTRA FLEX 3.0-BEST TIME", 
        "D'LUX FITNESS-NEW MOXIE", "UP-LIFTED", "D'LUX COMFORT-GLOW TIME", 
        "D'LUX WALKER-LET IT GLOW", "ARCH FIT UPLIFT", "SUNNY STREET - UNICORNO AVE", 
        "ARCH FIT - OHANA KITTY", "COZY CAMPFIRE - MEANT TO BE", "SKECH-AIR ELEMENT 2.0-AMUSE M", 
        "TOO COZY-CUTIE PUPZ", "UNO 2 - PATHWAY", "TAXI", "MUNO", 
        "SKECH-AIR DYNAMIGHT-LAID OUT", "KEEPSAKES - ICE ANGEL", "ARCH FIT", 
        "COZY CAMPFIRE - MEANT TO BE", "GO WALK 5 - TRUE CATCH"
    ],
    'category': [
        "Women", "Women", "Women", "Women", "Women", "Women", "Women", "Women", 
        "Women", "Women", "Women", "Women", "Women", "Women", "Women", "Women", 
        "Women", "Women", "Women", "Women", "Women", "Women", "Women", "Women", 
        "Women", "Women"
    ],
    'Price': [
        "₹6,999.00", "₹5,999.00", "₹5,999.00", "₹6,999.00", "₹6,999.00", "₹6,999.00", 
        "₹8,499.00", "₹4,499.00", "₹6,799.00", "₹5,249.00", "₹4,499.00", "₹8,999.00", 
        "₹1,999.00", "₹5,999.00", "₹8,999.00", "₹4,999.00", "₹8,999.00", "₹7,999.00", 
        "₹8,999.00", "₹5,999.00", "₹4,499.00", "₹6,374.00", "₹5,999.00", "₹1,999.00"
    ],
    'no_of_colors': [
        "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""
    ]
}

df_existing = pd.read_csv('shoes_data.csv')

max_length_women = max(len(new_data_women[col]) for col in new_data_women)
new_data_women = {col: new_data_women[col] + [''] * (max_length_women - len(new_data_women[col])) for col in new_data_women}

df_new_women = pd.DataFrame(new_data_women)

df_updated_women = pd.concat([df_existing, df_new_women], ignore_index=True)

df_updated_women.to_csv('shoes_data.csv', index=False)

print(df_updated_women)

                                              ShoeName no_of_colors  \
0    Bestseller\nNike Dunk Low Retro Premium\nMen's...     1 Colour
1             Nike Blazer Low '77 Vintage\nMen's Shoes    3 Colours
2        Bestseller\nNike Air Force 1 '07\nMen's Shoes    2 Colours
3    Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...    3 Colours
4                   Nike Court Vision Low\nMen's Shoes     1 Colour
..                                                 ...          ...
245                                           ARCH FIT
246                        COZY CAMPFIRE - MEANT TO BE
247                             GO WALK 5 - TRUE CATCH
248
249

                 price     category      Price
0     MRP : ₹ 9 695.00  Men's Shoes        NaN
1     MRP : ₹ 7 195.00  Men's Shoes        NaN
2     MRP : ₹ 7 495.00  Men's Shoes        NaN
3    MRP : ₹ 13 995.00  Men's Shoes        NaN
4     MRP : ₹ 5 695.00  Men's Shoes        NaN
..                 ...          ...        ...
245                NaN        Women  ₹6,374.00
246                NaN        Women  ₹5,999.00
247                NaN        Women  ₹1,999.00
248                NaN        Women
249                NaN        Women

[250 rows x 5 columns]

In [11]:
new_data_columbia = {
    'ShoeName': [
        "Columbia Men Black TRAILSTORM PEAK MID", "Columbia Men Black TRAILSTORM BEYOND", 
        "Columbia Men Black COLUMBIA VENT AERO", "Columbia Men Blue COLUMBIA VENT AERO", 
        "Columbia Men Orange MONTRAIL TRINITY AG", "Columbia Men Brown CRESTWOOD Water Resistant Shoes", 
        "Columbia Men BROWN Plateau Venture", "Columbia Men Grey CRESTWOOD MID Water Resistant Shoes", 
        "Columbia Men Grey Crestwood Water Resistant Shoes", "Columbia Men Brown Plateau Venture", 
        "Columbia Men Blue Crestwood Mid Water Resistant Shoes", "Columbia Men Brown Crestwood Water Resistant Shoes", 
        "Columbia Men Blue Hood River Slide", "Columbia Men GREEN Breaksider Sandal", 
        "Columbia Men Brown RE-PEAK MID", "COLUMBIA NEWSLETTER"
    ],
    'category': [
        "Columbia Men Black TRAILSTORM PEAK MID", "Columbia Men Black TRAILSTORM BEYOND", 
        "Columbia Men Black COLUMBIA VENT AERO", "Columbia Men Blue COLUMBIA VENT AERO", 
        "Columbia Men Orange MONTRAIL TRINITY AG", "Columbia Men Brown CRESTWOOD Water Resistant Shoes", 
        "Columbia Men BROWN Plateau Venture", "Columbia Men Grey CRESTWOOD MID Water Resistant Shoes", 
        "Columbia Men Grey Crestwood Water Resistant Shoes", "Columbia Men Brown Plateau Venture", 
        "Columbia Men Blue Crestwood Mid Water Resistant Shoes", "Columbia Men Brown Crestwood Water Resistant Shoes", 
        "Columbia Men Blue Hood River Slide", "Columbia Men GREEN Breaksider Sandal", 
        "Columbia Men Brown RE-PEAK MID", "COLUMBIA NEWSLETTER"
    ],
    'Price': [
        "Price", "2001-4000\n5001-10000\n10001-15000\n15001-20000", "10,399 12,999 20% OFF", 
        "6,299 6,999 10% OFF", "8,099 8,999 10% OFF", "7,199 8,999 20% OFF", 
        "10,399 12,999 20% OFF", "8,099 8,999 10% OFF", "7,999", "9,999", 
        "8,999", "7,999", "9,999", "8,999", "3,499", "5,999"
    ],
    'no_of_colors': [
        "Columbia Men Black TRAILSTORM PEAK MID", "Columbia Men Black TRAILSTORM BEYOND", 
        "Columbia Men Black COLUMBIA VENT AERO", "Columbia Men Blue COLUMBIA VENT AERO", 
        "Columbia Men Orange MONTRAIL TRINITY AG", "Columbia Men Brown CRESTWOOD Water Resistant Shoes", 
        "Columbia Men BROWN Plateau Venture", "Columbia Men Grey CRESTWOOD MID Water Resistant Shoes", 
        "Columbia Men Grey Crestwood Water Resistant Shoes", "Columbia Men Brown Plateau Venture", 
        "Columbia Men Blue Crestwood Mid Water Resistant Shoes", "Columbia Men Brown Crestwood Water Resistant Shoes", 
        "Columbia Men Blue Hood River Slide", "Columbia Men GREEN Breaksider Sandal", 
        "Columbia Men Brown RE-PEAK MID", "COLUMBIA NEWSLETTER"
    ]
}

df_existing = pd.read_csv('shoes_data.csv')

max_length_columbia = max(len(new_data_columbia[col]) for col in new_data_columbia)
new_data_columbia = {col: new_data_columbia[col] + [''] * (max_length_columbia - len(new_data_columbia[col])) for col in new_data_columbia}

df_new_columbia = pd.DataFrame(new_data_columbia)

df_updated_columbia = pd.concat([df_existing, df_new_columbia], ignore_index=True)

df_updated_columbia.to_csv('shoes_data.csv', index=False)

print(df_updated_columbia)

                                              ShoeName  \
0    Bestseller\nNike Dunk Low Retro Premium\nMen's...
1             Nike Blazer Low '77 Vintage\nMen's Shoes
2        Bestseller\nNike Air Force 1 '07\nMen's Shoes
3    Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...
4                   Nike Court Vision Low\nMen's Shoes
..                                                 ...
261  Columbia Men Brown Crestwood Water Resistant S...
262                 Columbia Men Blue Hood River Slide
263               Columbia Men GREEN Breaksider Sandal
264                     Columbia Men Brown RE-PEAK MID
265                                COLUMBIA NEWSLETTER

                                          no_of_colors              price  \
0                                             1 Colour   MRP : ₹ 9 695.00
1                                            3 Colours   MRP : ₹ 7 195.00
2                                            2 Colours   MRP : ₹ 7 495.00
3                                            3 Colours  MRP : ₹ 13 995.00
4                                             1 Colour   MRP : ₹ 5 695.00
..                                                 ...                ...
261  Columbia Men Brown Crestwood Water Resistant S...                NaN
262                 Columbia Men Blue Hood River Slide                NaN
263               Columbia Men GREEN Breaksider Sandal                NaN
264                     Columbia Men Brown RE-PEAK MID                NaN
265                                COLUMBIA NEWSLETTER                NaN

                                              category  Price
0                                          Men's Shoes    NaN
1                                          Men's Shoes    NaN
2                                          Men's Shoes    NaN
3                                          Men's Shoes    NaN
4                                          Men's Shoes    NaN
..                                                 ...    ...
261  Columbia Men Brown Crestwood Water Resistant S...  7,999
262                 Columbia Men Blue Hood River Slide  9,999
263               Columbia Men GREEN Breaksider Sandal  8,999
264                     Columbia Men Brown RE-PEAK MID  3,499
265                                COLUMBIA NEWSLETTER  5,999

[266 rows x 5 columns]

In [12]:
new_data_columbia_women = {
    'ShoeName': [
        "Columbia Women Black SH/FT OUTDRY MID (Complete Set)", "Columbia Women Black TRAILSTORM PEAK MID", 
        "Columbia Women Grey TRAILSTORM PEAK MID", "Columbia Women Blue TRAILSTORM BEYOND", 
        "Columbia Women Green COLUMBIA VENT AERO", "Columbia Women Black COLUMBIA VENT AERO", 
        "Columbia Women Black MINX SLIP IV Water Resistant Boots", "Columbia Women PURPLE Thrive Revive", 
        "Columbia Women Black Hatana Max Outdry (Complete Set)", "Columbia Women Black Peakfreak II Outdry (Complete Set)", 
        "Columbia Women GREY Hatana Breathe", "Columbia Women BROWN Plateau Venture", 
        "Columbia Women Brown Hatana Max Outdry (Complete Set)", "Columbia Women GREY Hatana Breathe", 
        "Columbia Women Purple RE-PEAK MID", "COLUMBIA NEWSLETTER"
    ],
    'category': [
        "Columbia Women Black SH/FT OUTDRY MID (Complete Set)", "Columbia Women Black TRAILSTORM PEAK MID", 
        "Columbia Women Grey TRAILSTORM PEAK MID", "Columbia Women Blue TRAILSTORM BEYOND", 
        "Columbia Women Green COLUMBIA VENT AERO", "Columbia Women Black COLUMBIA VENT AERO", 
        "Columbia Women Black MINX SLIP IV Water Resistant Boots", "Columbia Women PURPLE Thrive Revive", 
        "Columbia Women Black Hatana Max Outdry (Complete Set)", "Columbia Women Black Peakfreak II Outdry (Complete Set)", 
        "Columbia Women GREY Hatana Breathe", "Columbia Women BROWN Plateau Venture", 
        "Columbia Women Brown Hatana Max Outdry (Complete Set)", "Columbia Women GREY Hatana Breathe", 
        "Columbia Women Purple RE-PEAK MID", "COLUMBIA NEWSLETTER"
    ],
    'Price': [
        "Price", "1501-2000\n2001-4000\n5001-10000\n10001-15000\n15001-20000", "9,799 13,999 30% OFF", 
        "10,399 12,999 20% OFF", "10,399 12,999 20% OFF", "5,599 6,999 20% OFF", 
        "6,299 8,999 30% OFF", "6,299 8,999 30% OFF", "10,999", "5,999", 
        "10,999", "9,999", "9,999", "7,999", "10,999", "9,999"
    ],
    'no_of_colors': [
        "Columbia Women Black SH/FT OUTDRY MID (Complete Set)", "Columbia Women Black TRAILSTORM PEAK MID", 
        "Columbia Women Grey TRAILSTORM PEAK MID", "Columbia Women Blue TRAILSTORM BEYOND", 
        "Columbia Women Green COLUMBIA VENT AERO", "Columbia Women Black COLUMBIA VENT AERO", 
        "Columbia Women Black MINX SLIP IV Water Resistant Boots", "Columbia Women PURPLE Thrive Revive", 
        "Columbia Women Black Hatana Max Outdry (Complete Set)", "Columbia Women Black Peakfreak II Outdry (Complete Set)", 
        "Columbia Women GREY Hatana Breathe", "Columbia Women BROWN Plateau Venture", 
        "Columbia Women Brown Hatana Max Outdry (Complete Set)", "Columbia Women GREY Hatana Breathe", 
        "Columbia Women Purple RE-PEAK MID", "COLUMBIA NEWSLETTER"
    ]
}

df_existing = pd.read_csv('shoes_data.csv')

max_length_columbia_women = max(len(new_data_columbia_women[col]) for col in new_data_columbia_women)
new_data_columbia_women = {col: new_data_columbia_women[col] + [''] * (max_length_columbia_women - len(new_data_columbia_women[col])) for col in new_data_columbia_women}

df_new_columbia_women = pd.DataFrame(new_data_columbia_women)

df_updated_columbia_women = pd.concat([df_existing, df_new_columbia_women], ignore_index=True)

df_updated_columbia_women.to_csv('shoes_data.csv', index=False)

print(df_updated_columbia_women)

                                              ShoeName  \
0    Bestseller\nNike Dunk Low Retro Premium\nMen's...
1             Nike Blazer Low '77 Vintage\nMen's Shoes
2        Bestseller\nNike Air Force 1 '07\nMen's Shoes
3    Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...
4                   Nike Court Vision Low\nMen's Shoes
..                                                 ...
277               Columbia Women BROWN Plateau Venture
278  Columbia Women Brown Hatana Max Outdry (Comple...
279                 Columbia Women GREY Hatana Breathe
280                  Columbia Women Purple RE-PEAK MID
281                                COLUMBIA NEWSLETTER

                                          no_of_colors              price  \
0                                             1 Colour   MRP : ₹ 9 695.00
1                                            3 Colours   MRP : ₹ 7 195.00
2                                            2 Colours   MRP : ₹ 7 495.00
3                                            3 Colours  MRP : ₹ 13 995.00
4                                             1 Colour   MRP : ₹ 5 695.00
..                                                 ...                ...
277               Columbia Women BROWN Plateau Venture                NaN
278  Columbia Women Brown Hatana Max Outdry (Comple...                NaN
279                 Columbia Women GREY Hatana Breathe                NaN
280                  Columbia Women Purple RE-PEAK MID                NaN
281                                COLUMBIA NEWSLETTER                NaN

                                              category   Price
0                                          Men's Shoes     NaN
1                                          Men's Shoes     NaN
2                                          Men's Shoes     NaN
3                                          Men's Shoes     NaN
4                                          Men's Shoes     NaN
..                                                 ...     ...
277               Columbia Women BROWN Plateau Venture   9,999
278  Columbia Women Brown Hatana Max Outdry (Comple...   9,999
279                 Columbia Women GREY Hatana Breathe   7,999
280                  Columbia Women Purple RE-PEAK MID  10,999
281                                COLUMBIA NEWSLETTER   9,999

[282 rows x 5 columns]

In [13]:
new_data_woodland_men = {
    'ShoeName': [
        "Woodland Camel Trekking Shoes", "Khaki hiking boot", "Navy Boot for Men", 
        "Woodland SNAYPE hiking boots", "Camel Nubuk Oily Polished Mens Boot", 
        "Olive green shoe for men", "Camel boots for men", "Camel Boot for Men", 
        "Camel high ankle boot for men", "Steel Grey blue boots for men", 
        "Drifter DNAVY", "RB BROWN boots for men", "Russia Dbrown casual shoes for men", 
        "Brawny GREY", "Grey boots for men", "Brown Boots for Men", 
        "Mammoth OLIVE GREEN", "Chiku/Toupe Chelsea Boots for Men", 
        "Woodland RUST BROWN hiking shoes", "Woodland OLIVE hiking boots", 
        "Grey boots for men", "Excursion NTAN", "Tan Leather Chukka Boot for Men", 
        "Black Chelsea Boot for Men"
    ],
    'category': [
        "Woodland Camel Trekking Shoes", "Khaki hiking boot", "Navy Boot for Men", 
        "Woodland SNAYPE hiking boots", "Camel Nubuk Oily Polished Mens Boot", 
        "Olive green shoe for men", "Camel boots for men", "Camel Boot for Men", 
        "Camel high ankle boot for men", "Steel Grey blue boots for men", 
        "Drifter DNAVY", "RB BROWN boots for men", "Russia Dbrown casual shoes for men", 
        "Brawny GREY", "Grey boots for men", "Brown Boots for Men", 
        "Mammoth OLIVE GREEN", "Chiku/Toupe Chelsea Boots for Men", 
        "Woodland RUST BROWN hiking shoes", "Woodland OLIVE hiking boots", 
        "Grey boots for men", "Excursion NTAN", "Tan Leather Chukka Boot for Men", 
        "Black Chelsea Boot for Men"
    ],
    'Price': [
        "₹4595₹2757", "₹4495₹2697", "₹5995", "₹6995₹3000", 
        "₹6495₹4871", "₹4695₹2817", "₹6995", "₹6495", 
        "₹6495", "₹6495", "₹5995₹3597", "₹5995₹3597", 
        "₹5995₹3597", "₹6495₹3897", "₹6495", "₹6495₹4871", 
        "₹3895", "₹12995", "₹6995₹4197", "₹4295", 
        "₹5995", "₹4295₹3221", "₹12995", "₹13995"
    ],
    'no_of_colors': [
        "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""
    ]
}


df_existing = pd.read_csv('shoes_data.csv')


max_length_woodland_men = max(len(new_data_woodland_men[col]) for col in new_data_woodland_men)
new_data_woodland_men = {col: new_data_woodland_men[col] + [''] * (max_length_woodland_men - len(new_data_woodland_men[col])) for col in new_data_woodland_men}

df_new_woodland_men = pd.DataFrame(new_data_woodland_men)


df_updated_woodland_men = pd.concat([df_existing, df_new_woodland_men], ignore_index=True)

df_updated_woodland_men.to_csv('shoes_data.csv', index=False)

print(df_updated_woodland_men)

                                              ShoeName no_of_colors  \
0    Bestseller\nNike Dunk Low Retro Premium\nMen's...     1 Colour
1             Nike Blazer Low '77 Vintage\nMen's Shoes    3 Colours
2        Bestseller\nNike Air Force 1 '07\nMen's Shoes    2 Colours
3    Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...    3 Colours
4                   Nike Court Vision Low\nMen's Shoes     1 Colour
..                                                 ...          ...
302                                 Grey boots for men
303                                     Excursion NTAN
304                    Tan Leather Chukka Boot for Men
305                         Black Chelsea Boot for Men
306

                 price                         category       Price
0     MRP : ₹ 9 695.00                      Men's Shoes         NaN
1     MRP : ₹ 7 195.00                      Men's Shoes         NaN
2     MRP : ₹ 7 495.00                      Men's Shoes         NaN
3    MRP : ₹ 13 995.00                      Men's Shoes         NaN
4     MRP : ₹ 5 695.00                      Men's Shoes         NaN
..                 ...                              ...         ...
302                NaN               Grey boots for men       ₹5995
303                NaN                   Excursion NTAN  ₹4295₹3221
304                NaN  Tan Leather Chukka Boot for Men      ₹12995
305                NaN       Black Chelsea Boot for Men      ₹13995
306                NaN

[307 rows x 5 columns]

In [14]:
new_data_women_boots = {
    'ShoeName': [
        "Bright Grey Boots for Women", "Brown Boot for Women", 
        "DROYAL BLUE boots for women", "Woodland Rusty red boots for women", 
        "Snaype Boots for Women", "Dark royal blue boot for women", 
        "Camel boots for women", "Woodland BLACK casual shoes for women", 
        "Black Boot for women", "Black Boots for Women", 
        "Black high-top boots", "Brown mid-calf boot for women"
    ],
    'category': [
        "Bright Grey Boots for Women", "Brown Boot for Women", 
        "DROYAL BLUE boots for women", "Woodland Rusty red boots for women", 
        "Snaype Boots for Women", "Dark royal blue boot for women", 
        "Camel boots for women", "Woodland BLACK casual shoes for women", 
        "Black Boot for women", "Black Boots for Women", 
        "Black high-top boots", "Brown mid-calf boot for women"
    ],
    'Price': [
        "₹5995", "₹5495", "₹5495₹4121", "₹5495₹4121", 
        "₹5995", "₹4995₹2997", "₹5495₹2747", "₹4995₹2997", 
        "₹9995", "₹9995", "₹9995₹5997", "₹18995₹11397"
    ],
    'no_of_colors': [
        "", "", "", "", "", "", "", "", "", "", "", ""
    ]
}


df_existing = pd.read_csv('shoes_data.csv')


max_length_women_boots = max(len(new_data_women_boots[col]) for col in new_data_women_boots)
new_data_women_boots = {col: new_data_women_boots[col] + [''] * (max_length_women_boots - len(new_data_women_boots[col])) for col in new_data_women_boots}


df_new_women_boots = pd.DataFrame(new_data_women_boots)


df_updated_women_boots = pd.concat([df_existing, df_new_women_boots], ignore_index=True)

df_updated_women_boots.to_csv('shoes_data.csv', index=False)


print(df_updated_women_boots)

                                              ShoeName no_of_colors  \
0    Bestseller\nNike Dunk Low Retro Premium\nMen's...     1 Colour
1             Nike Blazer Low '77 Vintage\nMen's Shoes    3 Colours
2        Bestseller\nNike Air Force 1 '07\nMen's Shoes    2 Colours
3    Just In\nNike Air Force 1 '07 Pro Tech\nMen's ...    3 Colours
4                   Nike Court Vision Low\nMen's Shoes     1 Colour
..                                                 ...          ...
314              Woodland BLACK casual shoes for women
315                               Black Boot for women
316                              Black Boots for Women
317                               Black high-top boots
318                      Brown mid-calf boot for women

                 price                               category         Price
0     MRP : ₹ 9 695.00                            Men's Shoes           NaN
1     MRP : ₹ 7 195.00                            Men's Shoes           NaN
2     MRP : ₹ 7 495.00                            Men's Shoes           NaN
3    MRP : ₹ 13 995.00                            Men's Shoes           NaN
4     MRP : ₹ 5 695.00                            Men's Shoes           NaN
..                 ...                                    ...           ...
314                NaN  Woodland BLACK casual shoes for women    ₹4995₹2997
315                NaN                   Black Boot for women         ₹9995
316                NaN                  Black Boots for Women         ₹9995
317                NaN                   Black high-top boots    ₹9995₹5997
318                NaN          Brown mid-calf boot for women  ₹18995₹11397

[319 rows x 5 columns]

Table 2

In [309]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [310]:
driver.get("https://www.nike.com")

In [24]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [25]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [26]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[1]/div/figure/a[2]')
search_keyword.click()

In [27]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [28]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [29]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [30]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [31]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [32]:
import pandas as pd
df13=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df13

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: Deep Jungle/Light Silver/Deep Ju...,Style: FB8896-300

In [33]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [34]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [35]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[2]/div/figure/a[2]/div')
search_keyword.click()

In [42]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [43]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [44]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [45]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [46]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [47]:
import pandas as pd
df14=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df14

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: White/Sail/Black/Pine Green,Style: DA6364-115

In [55]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [56]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [57]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[3]/div')
search_keyword.click()

In [58]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [59]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [60]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [61]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [62]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [63]:
import pandas as pd
df15=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df15

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 5.5\nUK 6 (EU 39)\...,Colour Shown: White/White,Style: CW2288-111

In [66]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [67]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [68]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[4]/div/figure/a[2]/div')
search_keyword.click()

In [69]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [70]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [71]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [72]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [73]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [74]:
import pandas as pd
df16=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df16

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 5.5\nUK 6 (EU 39)\...,Colour Shown: Light Silver/Clear/Light Silver,Style: FB8875-002

In [77]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [78]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [80]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[5]/div/figure/a[2]/div')
search_keyword.click()

In [81]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [82]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [83]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [84]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [85]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [86]:
import pandas as pd
df17=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df17

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 5.5\nUK 6 (EU 39)\...,Colour Shown: Sail/Light Orewood Brown/White/B...,Style: FQ8075-133

In [94]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [95]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [96]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[6]/div/figure/a[2]/div')
search_keyword.click()

In [97]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [98]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [99]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [100]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [101]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [102]:
import pandas as pd
df18=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df18

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: White/Desert Ochre/Black,Style: DH3162-100

In [104]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [105]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [106]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[7]/div/figure/a[2]/div')
search_keyword.click()

In [107]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [108]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [109]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [110]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [111]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [112]:
import pandas as pd
df19=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df19

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 5.5\nUK 6 (EU 39)\...,Colour Shown: White/Sail/Black,Style: DA6364-101

In [113]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [114]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [115]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[8]/div/figure/a[2]/div')
search_keyword.click()

In [116]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [117]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [118]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [119]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [120]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [121]:
import pandas as pd
df20=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df20

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: Phantom/Cargo Khaki/Dark Russet/...,Style: FB8877-001

In [122]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [123]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [124]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[9]/div/figure/a[2]/div')
search_keyword.click()

In [125]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [126]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [127]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [128]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [129]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [130]:
import pandas as pd
df21=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df21

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: White/White/White,Style: DH9636-101

In [131]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [133]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [134]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[10]/div/figure/a[2]/div')
search_keyword.click()

In [135]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [136]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [137]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [138]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [139]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [140]:
import pandas as pd
df22=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df22

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: Anthracite/Black/Mystic Red/Summ...,Style: FB9658-001

In [141]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [142]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [143]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[11]/div/figure/a[2]/div')
search_keyword.click()

In [144]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [145]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [146]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [147]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [148]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [149]:
import pandas as pd
df23=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df23

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: Sail/Gum Yellow/Oil Grey,Style: 432997-121

In [151]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [154]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [155]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[12]/div/figure/a[2]/div')
search_keyword.click()

In [156]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [157]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [158]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [159]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [160]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [161]:
import pandas as pd
df24=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df24

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: Baroque Brown/Coconut Milk/Mysti...,Style: FB8892-200

In [162]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [164]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [165]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[13]/div/figure/a[2]/div')
search_keyword.click()

In [166]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [167]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [168]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [169]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [170]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [171]:
import pandas as pd
df25=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df25

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 5.5\nUK 6 (EU 39)\...,Colour Shown: Black/Anthracite/Volt/White,Style: FB2204-001

In [172]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [173]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [181]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[14]/div/figure/a[2]')
search_keyword.click()

In [193]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [194]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="RightRail"]/div/div[5]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [195]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [196]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [197]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [198]:
import pandas as pd
df26=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df26

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 5.5\nUK 6\nUK 6.5\...,Colour Shown: Multi-Colour/Multi-Colour/Multi-...,Style: FB2382-900

In [200]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [202]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [203]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[15]/div/figure/a[2]')
search_keyword.click()

In [210]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [211]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="RightRail"]/div/div[4]/fieldset')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [212]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [213]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [214]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [215]:
import pandas as pd
df27=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df27

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 5.5\nUK 6\nUK 6.5\...,Colour Shown: Multi-Colour/Multi-Colour/Multi-...,Style: DV2273-900

In [217]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [219]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [220]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[16]/div/figure/a[2]')
search_keyword.click()

In [226]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [227]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]/fieldset')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [228]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [229]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [230]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [231]:
import pandas as pd
df28=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df28

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: Black/Black/Dark Smoke Grey,Style: DM0829-010

In [232]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [233]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [234]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[17]/div/figure/a[2]')
search_keyword.click()

In [235]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [236]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]/fieldset')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [237]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [238]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [239]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [240]:
import pandas as pd
df29=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df29

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: White/Gym Red/Black,Style: CD7069-116

In [241]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [243]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [244]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[18]/div/figure/a[2]')
search_keyword.click()

In [245]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [246]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]/fieldset')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [247]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [248]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [249]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [250]:
import pandas as pd
df30=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df30

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: Sail/Coconut Milk/White/Deep Jungle,Style: FQ8080-133

In [254]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [255]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [256]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[19]/div/figure/a[2]')
search_keyword.click()

In [257]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [258]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]/fieldset')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [259]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [260]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [261]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [262]:
import pandas as pd
df31=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df31

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: Black/White/Light Smoke Grey/Fir...,Style: DZ5485-051

In [263]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [265]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [266]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[20]/div/figure/a[2]')
search_keyword.click()

In [267]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [268]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]/fieldset')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [269]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [270]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [271]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [272]:
import pandas as pd
df32=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df32

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: Black/Anthracite/Cool Grey,Style: FB1396-001

In [273]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [274]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [275]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[21]/div/figure/a[2]')
search_keyword.click()

In [276]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [277]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]/fieldset')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [278]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [279]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [280]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [281]:
import pandas as pd
df33=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df33

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: Racer Blue/Safety Orange/White,Style: DC8749-401

In [282]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [284]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [285]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[22]/div/figure/a[2]')
search_keyword.click()

In [291]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [292]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="RightRail"]/div/div[4]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [293]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [294]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [295]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [296]:
import pandas as pd
df34=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df34

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 5.5\nUK 6\nUK 6.5\...,Colour Shown: Multi-Colour/Multi-Colour/Multi-...,Style: FJ2253-900

In [298]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [300]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [301]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[23]/div/figure/a[2]')
search_keyword.click()

In [302]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [303]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="RightRail"]/div/div[4]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [304]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [305]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [306]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [307]:
import pandas as pd
df34=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df34

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 5.5\nUK 6\nUK 6.5\...,Colour Shown: Multi-Colour/Multi-Colour/Multi-...,Style: FJ2253-900

In [311]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [312]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [313]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[24]/div/figure/a[2]')
search_keyword.click()

In [319]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [320]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [321]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [322]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [323]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [324]:
import pandas as pd
df35=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df35

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: Black/Black/White,Style: FZ0630-010

In [326]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Men Shoes')

In [327]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [329]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[25]/div/figure/a[2]')
search_keyword.click()

In [330]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [331]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [332]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [333]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [334]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [335]:
import pandas as pd
df36=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df36

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...,Colour Shown: White/Black,Style: DR5540-102

In [336]:
nikemen_df = pd.concat([df13, df14, df15,df16,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26,df27,df28,df29,df30,df31,df32,df33,df34,df35,df36], ignore_index=True)
print(nikemen_df)

                                       Count_of_sizes  \
0   Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
1   Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
2   Select Size\nSize Guide\nUK 5.5\nUK 6 (EU 39)\...
3   Select Size\nSize Guide\nUK 5.5\nUK 6 (EU 39)\...
4   Select Size\nSize Guide\nUK 5.5\nUK 6 (EU 39)\...
5   Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
6   Select Size\nSize Guide\nUK 5.5\nUK 6 (EU 39)\...
7   Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
8   Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
9   Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
10  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
11  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
12  Select Size\nSize Guide\nUK 5.5\nUK 6 (EU 39)\...
13  Select Size\nSize Guide\nUK 5.5\nUK 6\nUK 6.5\...
14  Select Size\nSize Guide\nUK 5.5\nUK 6\nUK 6.5\...
15  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
16  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
17  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
18  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
19  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
20  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
21  Select Size\nSize Guide\nUK 5.5\nUK 6\nUK 6.5\...
22  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
23  Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...

                                       Type_of_colors         Style code
0   Colour Shown: Deep Jungle/Light Silver/Deep Ju...  Style: FB8896-300
1           Colour Shown: White/Sail/Black/Pine Green  Style: DA6364-115
2                           Colour Shown: White/White  Style: CW2288-111
3       Colour Shown: Light Silver/Clear/Light Silver  Style: FB8875-002
4   Colour Shown: Sail/Light Orewood Brown/White/B...  Style: FQ8075-133
5              Colour Shown: White/Desert Ochre/Black  Style: DH3162-100
6                      Colour Shown: White/Sail/Black  Style: DA6364-101
7   Colour Shown: Phantom/Cargo Khaki/Dark Russet/...  Style: FB8877-001
8                     Colour Shown: White/White/White  Style: DH9636-101
9   Colour Shown: Anthracite/Black/Mystic Red/Summ...  Style: FB9658-001
10             Colour Shown: Sail/Gum Yellow/Oil Grey  Style: 432997-121
11  Colour Shown: Baroque Brown/Coconut Milk/Mysti...  Style: FB8892-200
12          Colour Shown: Black/Anthracite/Volt/White  Style: FB2204-001
13  Colour Shown: Multi-Colour/Multi-Colour/Multi-...  Style: FB2382-900
14  Colour Shown: Multi-Colour/Multi-Colour/Multi-...  Style: DV2273-900
15          Colour Shown: Black/Black/Dark Smoke Grey  Style: DM0829-010
16                  Colour Shown: White/Gym Red/Black  Style: CD7069-116
17  Colour Shown: Sail/Coconut Milk/White/Deep Jungle  Style: FQ8080-133
18  Colour Shown: Black/White/Light Smoke Grey/Fir...  Style: DZ5485-051
19           Colour Shown: Black/Anthracite/Cool Grey  Style: FB1396-001
20       Colour Shown: Racer Blue/Safety Orange/White  Style: DC8749-401
21  Colour Shown: Multi-Colour/Multi-Colour/Multi-...  Style: FJ2253-900
22                    Colour Shown: Black/Black/White  Style: FZ0630-010
23                          Colour Shown: White/Black  Style: DR5540-102

In [554]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [555]:
driver.get("https://www.nike.com")

In [362]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [340]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [341]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[1]/div/figure/a[2]/div')
search_keyword.click()

In [342]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [343]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [344]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [345]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [346]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [347]:
import pandas as pd
df37=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df37

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...,Colour Shown: White/Sky J Light Olive/Galactic...,Style: FB2269-103

In [350]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [351]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [352]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[2]/div/figure/a[2]/div')
search_keyword.click()

In [353]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [354]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [355]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [356]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [357]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [358]:
import pandas as pd
df38=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df38

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...,Colour Shown: Sail/Sail/Black,Style: FB9893-101

In [363]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [364]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [365]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[3]/div/figure/a[2]/div')
search_keyword.click()

In [366]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [367]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [368]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [369]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [370]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [371]:
import pandas as pd
df39=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df39

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...,Colour Shown: Light Orewood Brown/Gum Light Br...,Style: FQ8147-104

In [372]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [373]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [374]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[4]/div/figure/a[2]/div')
search_keyword.click()

In [375]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [376]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [377]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [378]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [379]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [380]:
import pandas as pd
df40=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df40

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...,Colour Shown: Sky J Orange/Sail,Style: FN3722-801

In [381]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [382]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [383]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[5]/div/figure/a[2]/div')
search_keyword.click()

In [384]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [385]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [386]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [387]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [388]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [389]:
import pandas as pd
df41=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df41

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...,Colour Shown: Sail/Red Stardust/Coconut Milk/C...,Style: DZ2628-103

In [390]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [391]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [392]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[6]/div/figure/a[2]/div')
search_keyword.click()

In [393]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [394]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [395]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [396]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [397]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [398]:
import pandas as pd
df42=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df42

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...,Colour Shown: Red Stardust/Cedar/Black/Deep Ju...,Style: FB8459-600

In [399]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [400]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [401]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[7]/div/figure/a[2]/div')
search_keyword.click()

In [402]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [403]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [404]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [405]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [406]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [407]:
import pandas as pd
df43=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df43

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...,Colour Shown: Coconut Milk/White/Vivid Sulphur,Style: DZ2794-100

In [408]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [409]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [410]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[8]/div/figure/a[2]/div')
search_keyword.click()

In [411]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [412]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [413]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [414]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [415]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [416]:
import pandas as pd
df44=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df44

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...,Colour Shown: Sail/Pale Vanilla/Gold Suede/Dee...,Style: FQ8103-133

In [417]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [418]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [419]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[9]/div/figure/a[2]/div')
search_keyword.click()

In [420]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [421]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [422]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [423]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [424]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [425]:
import pandas as pd
df45=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df45

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...,Colour Shown: White/White/White,Style: CI0919-100

In [426]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [427]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [428]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[10]/div/figure/a[2]/div')
search_keyword.click()

In [429]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [430]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [431]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [432]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [433]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [434]:
import pandas as pd
df46=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df46

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...,Colour Shown: Plum Eclipse/Pink Oxford/Earth/B...,Style: FV1166-200

In [435]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [436]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [437]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[11]/div/figure/a[2]/div')
search_keyword.click()

In [438]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [439]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [440]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [441]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [442]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [443]:
import pandas as pd
df47=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df47

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...,Colour Shown: Khaki/Baroque Brown/Dark Russet/...,Style: FV1176-247

In [444]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [445]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [446]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[12]/div/figure/a[2]/div')
search_keyword.click()

In [447]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [448]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [449]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [450]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [451]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [452]:
import pandas as pd
df48=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df48

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...,Colour Shown: Sail/Light Orewood Brown/Sundial...,Style: FD2370-100

In [453]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [454]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [455]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[13]/div/figure/a[2]/div')
search_keyword.click()

In [456]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [457]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [458]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [459]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [460]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [461]:
import pandas as pd
df49=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df49

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...,Colour Shown: White/Black/Multi-Colour,Style: FD8683-100

In [462]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [463]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [464]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[14]/div/figure/a[2]/div')
search_keyword.click()

In [465]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [466]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [467]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [468]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [469]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [470]:
import pandas as pd
df50=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df50

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...,Colour Shown: Bordeaux/Black/Volt/Vivid Purple,Style: DV3950-601

In [474]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [475]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [476]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[15]/div/figure/a[2]/div')
search_keyword.click()

In [477]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [478]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [479]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [480]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [481]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [482]:
import pandas as pd
df51=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df51

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...,Colour Shown: Luminous Green/Sea Glass/Lime Bl...,Style: DM1119-301

In [483]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [484]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [485]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[16]/div/figure/a[2]/div')
search_keyword.click()

In [492]:
Type_of_colors = []
Style_code = []

In [493]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [494]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [495]:
print(len(Type_of_colors), len(Style_code))

1 1

In [497]:
import pandas as pd
df52=pd.DataFrame({'Type_of_colors':Type_of_colors,'Style code':Style_code})
df52

                                   Type_of_colors         Style code
0  Colour Shown: White/Phantom/Total Orange/Black  Style: FD8357-100

In [498]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [499]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [500]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[17]/div/figure/a[2]/div')
search_keyword.click()

In [501]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [502]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [503]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [504]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [505]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [506]:
import pandas as pd
df53=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df53

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...,Colour Shown: Black/Anthracite/Volt/Vivid Purple,Style: DH3393-007

In [507]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [508]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [509]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[18]/div/figure/a[2]/div')
search_keyword.click()

In [510]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [511]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [512]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [513]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [514]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [515]:
import pandas as pd
df54=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df54

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...,Colour Shown: Barely Rose/Pink Oxford/White/Ro...,Style: DR2698-600

In [516]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [517]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [518]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[19]/div/figure/a[2]/div')
search_keyword.click()

In [519]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [520]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [521]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [522]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [523]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [524]:
import pandas as pd
df55=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df55

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 2.5\nUK 3.5\nUK 4....,Colour Shown: Brown/Brown,Style: DQ8992-200

In [525]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [526]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [527]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[20]/div/figure/a[2]/div')
search_keyword.click()

In [528]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [529]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [530]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [531]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [532]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [533]:
import pandas as pd
df56=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df56

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: White/University Red/White/Midni...,Style: FD0268-100

In [536]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [537]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [538]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[21]/div/figure/a[2]/div')
search_keyword.click()

In [539]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [540]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [541]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [542]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [543]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [544]:
import pandas as pd
df57=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df57

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...,Colour Shown: Black/Velvet Brown/Cedar/Black,Style: FB2348-001

In [545]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [546]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [547]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[22]/div/figure/a[2]/div')
search_keyword.click()

In [548]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [549]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [550]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [551]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [552]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [553]:
import pandas as pd
df58=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df58

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...,Colour Shown: White/White/Metallic Silver,Style: DH3158-108

In [556]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [557]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [558]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[23]/div/figure/a[2]/div')
search_keyword.click()

In [559]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [560]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [561]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [562]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [563]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [564]:
import pandas as pd
df59=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df59

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...,Colour Shown: Fossil Stone/Rose Whisper/White/...,Style: CW4554-201

In [565]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="VisualSearchInput"]')
search_keyword.clear()
search_keyword.send_keys('Women Shoes')

In [566]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="gen-nav-commerce-header-v2"]/div[3]/header/div[1]/div[2]/div/div/div[1]/div/div/button[2]')
search_keyword.click()

In [567]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="skip-to-products"]/div[24]/div/figure/a[2]/div')
search_keyword.click()

In [568]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [569]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="buyTools"]/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [570]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__color-description.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [571]:
title_tags=driver.find_elements(By.CLASS_NAME, 'description-preview__style-color.ncss-li')
for i in title_tags[0:23]:
    title=i.text
    Style_code.append(title)

In [572]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [573]:
import pandas as pd
df60=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df60

,Count_of_sizes,Type_of_colors,Style code
0,Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...,Colour Shown: Racer Blue/Safety Orange/White,Style: DC8749-401

In [574]:
nikewomen_df = pd.concat([df37, df38, df39,df40,df41,df42,df43,df44,df45,df46,df47,df48,df49,df50,df51,df52,df53,df54,df55,df56,df57,df58,df59,df60], ignore_index=True)
print(nikewomen_df)

                                       Count_of_sizes  \
0   Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...
1   Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...
2   Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...
3   Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...
4   Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...
5   Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...
6   Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...
7   Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...
8   Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...
9   Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...
10  Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...
11  Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...
12  Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...
13  Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...
14  Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...
15                                                NaN
16  Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...
17  Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...
18  Select Size\nSize Guide\nUK 2.5\nUK 3.5\nUK 4....
19  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...
20  Select Size\nSize Guide\nUK 3\nUK 3.5\nUK 4\nU...
21  Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...
22  Select Size\nSize Guide\nUK 2.5\nUK 3\nUK 3.5\...
23  Select Size\nSize Guide\nUK 6 (EU 40)\nUK 6.5\...

                                       Type_of_colors         Style code
0   Colour Shown: White/Sky J Light Olive/Galactic...  Style: FB2269-103
1                       Colour Shown: Sail/Sail/Black  Style: FB9893-101
2   Colour Shown: Light Orewood Brown/Gum Light Br...  Style: FQ8147-104
3                     Colour Shown: Sky J Orange/Sail  Style: FN3722-801
4   Colour Shown: Sail/Red Stardust/Coconut Milk/C...  Style: DZ2628-103
5   Colour Shown: Red Stardust/Cedar/Black/Deep Ju...  Style: FB8459-600
6      Colour Shown: Coconut Milk/White/Vivid Sulphur  Style: DZ2794-100
7   Colour Shown: Sail/Pale Vanilla/Gold Suede/Dee...  Style: FQ8103-133
8                     Colour Shown: White/White/White  Style: CI0919-100
9   Colour Shown: Plum Eclipse/Pink Oxford/Earth/B...  Style: FV1166-200
10  Colour Shown: Khaki/Baroque Brown/Dark Russet/...  Style: FV1176-247
11  Colour Shown: Sail/Light Orewood Brown/Sundial...  Style: FD2370-100
12             Colour Shown: White/Black/Multi-Colour  Style: FD8683-100
13     Colour Shown: Bordeaux/Black/Volt/Vivid Purple  Style: DV3950-601
14  Colour Shown: Luminous Green/Sea Glass/Lime Bl...  Style: DM1119-301
15     Colour Shown: White/Phantom/Total Orange/Black  Style: FD8357-100
16   Colour Shown: Black/Anthracite/Volt/Vivid Purple  Style: DH3393-007
17  Colour Shown: Barely Rose/Pink Oxford/White/Ro...  Style: DR2698-600
18                          Colour Shown: Brown/Brown  Style: DQ8992-200
19  Colour Shown: White/University Red/White/Midni...  Style: FD0268-100
20       Colour Shown: Black/Velvet Brown/Cedar/Black  Style: FB2348-001
21          Colour Shown: White/White/Metallic Silver  Style: DH3158-108
22  Colour Shown: Fossil Stone/Rose Whisper/White/...  Style: CW4554-201
23       Colour Shown: Racer Blue/Safety Orange/White  Style: DC8749-401

In [102]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [103]:
driver.get("https://www.adidas.com")

In [104]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="__next"]/div[2]/div[2]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [105]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="__next"]/div[2]/div[2]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]/span[2]/strong')
search_keyword.click()

In [579]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[1]/div/div/div/div/div/div')
search_keyword.click()

In [591]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [592]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="fixed-content"]/span[2]/section/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [593]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label--mobile___3b9C_')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [594]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[3]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [595]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [596]:
import pandas as pd
df61=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df61

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Sand Strata / Magic Beige / Legend Ink,Product code: GW2176

In [599]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="__next"]/div[2]/div[2]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [600]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="__next"]/div[2]/div[2]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]/span[2]/strong')
search_keyword.click()

In [601]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[2]/div/div/div/div/div/div/div[1]')
search_keyword.click()

In [624]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [625]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="fixed-content"]/span[2]/section/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [626]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label--mobile___3b9C_')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [627]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[3]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [628]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [629]:
import pandas as pd
df62=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df62

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Core Black / Cloud White / Core Black,Product code: EG4959

In [633]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [635]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [637]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[3]/div/div/div/div/div/div/div[1]')
search_keyword.click()

In [659]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [660]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="fixed-content"]/span[2]/section/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [661]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label--mobile___3b9C_')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [662]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[3]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [663]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [664]:
import pandas as pd
df63=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df63

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\n3\n3.5\n4\n4.5\n5\n5.5\n6\n6.5\n7\n7.5\...,Core Black / Cloud White / Gum,Product code: B75807

In [668]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="__next"]/div[2]/div[2]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [669]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="__next"]/div[2]/div[2]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]/span[2]/strong')
search_keyword.click()

In [670]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[4]/div/div/div/div/div/div/div[1]')
search_keyword.click()

In [678]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [679]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="fixed-content"]/span[2]/section/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [680]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label--mobile___3b9C_')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [681]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[3]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [682]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [683]:
import pandas as pd
df64=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df64

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\n3\n3.5\n4\n4.5\n5\n5.5\n6\n6.5\n7\n7.5\...,Cloud White / Core Black / Clear Granite,Product code: B75806

In [684]:
dfcount_of_sizes = pd.DataFrame({'Count_of_sizes': df64['Count_of_sizes']})
print(dfcount_of_sizes)

                                      Count_of_sizes
0  Sizes\n3\n3.5\n4\n4.5\n5\n5.5\n6\n6.5\n7\n7.5\...

In [686]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [687]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [688]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[5]/div/div/div/div/div/div/div[1]')
search_keyword.click()

In [694]:
Count_of_sizes = []
Type_of_colors = []
Style_code = []

In [695]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="fixed-content"]/span[2]/section/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [696]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label--mobile___3b9C_')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [697]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[3]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [698]:
print(len(Count_of_sizes),len(Type_of_colors), len(Style_code))

1 1 1

In [699]:
import pandas as pd
df65=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df65

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Cloud White / Core Black / Cloud White,Product code: EG4958

In [700]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [701]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [702]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[6]/div/div/div/div/div/div/div[1]')
search_keyword.click()

In [719]:
Type_of_colors = []
Style_code = []

In [720]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label--mobile___3b9C_')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [721]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [722]:
print(len(Type_of_colors), len(Style_code))

1 1

In [723]:
import pandas as pd
df66=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df66

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Grey Three / Core Black / Cloud White,Product code: HP6007

In [724]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [725]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [726]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[7]/div/div/div/div/div/div/div[1]')
search_keyword.click()

In [732]:
Type_of_colors = []
Style_code = []

In [733]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label--mobile___3b9C_')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [734]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[5]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [735]:
print(len(Type_of_colors), len(Style_code))

1 1

In [736]:
import pandas as pd
df67=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df67

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Core Black / Cloud White / Core Black,Product code: GW3848

In [ ]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [ ]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [742]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[8]/div/div/div/div/div/div')
search_keyword.click()

In [763]:
Type_of_colors = []
Style_code = []

In [764]:
title_tags=driver.find_elements(By.CLASS_NAME, 'single-color-label___29kFh')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [765]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[5]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [766]:
print(len(Type_of_colors), len(Style_code))

1 1

In [767]:
import pandas as pd
df68=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df68

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Wonder Red / Cloud White / Wonder Taupe,Product code: HQ1402

In [ ]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [ ]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [776]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[9]/div/div/div/div/div/div')
search_keyword.click()

In [786]:
Type_of_colors = []
Style_code = []

In [787]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label--mobile___3b9C_')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [788]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [789]:
print(len(Type_of_colors), len(Style_code))

1 1

In [790]:
import pandas as pd
df69=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df69

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Core Black / Core Black / Cloud White,Product code: FX3632

In [791]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [792]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [793]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[10]/div/div/div/div/div/div')
search_keyword.click()

In [798]:
Type_of_colors = []
Style_code = []

In [799]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [800]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [801]:
print(len(Type_of_colors), len(Style_code))

1 1

In [802]:
import pandas as pd
df70=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df70

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Core Black / Grey Five / Carbon,Product code: HP2760

In [803]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [804]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [805]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[11]/div/div/div/div/div/div')
search_keyword.click()

In [810]:
Type_of_colors = []
Style_code = []

In [811]:
title_tags=driver.find_elements(By.CLASS_NAME, 'single-color-label___29kFh')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [812]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [813]:
print(len(Type_of_colors), len(Style_code))

1 1

In [814]:
import pandas as pd
df71=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df71

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Crew Navy / Stone / Hazy Blue / Core Black,Product code: EX2102

In [815]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [816]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [817]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[12]/div/div/div/div/div/div')
search_keyword.click()

In [822]:
Type_of_colors = []
Style_code = []

In [823]:
title_tags=driver.find_elements(By.CLASS_NAME, 'single-color-label___29kFh')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [824]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [825]:
print(len(Type_of_colors), len(Style_code))

1 1

In [826]:
import pandas as pd
df72=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df72

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Chalk White / Silver Green / Olive Strata,Product code: HQ6441

In [827]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [828]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [830]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[13]/div/div/div/div/div/div')
search_keyword.click()

In [831]:
Type_of_colors = []
Style_code = []

In [832]:
title_tags=driver.find_elements(By.CLASS_NAME, 'single-color-label___29kFh')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [833]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [834]:
print(len(Type_of_colors), len(Style_code))

1 1

In [835]:
import pandas as pd
df73=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df73

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Dove Grey S20 / Grey Six / Orange Rush,Product code: GA0899

In [836]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [837]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [838]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[14]/div/div/div/div/div/div')
search_keyword.click()

In [839]:
Type_of_colors = []
Style_code = []

In [840]:
title_tags=driver.find_elements(By.CLASS_NAME, 'single-color-label___29kFh')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [841]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [842]:
print(len(Type_of_colors), len(Style_code))

1 1

In [843]:
import pandas as pd
df74=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df74

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Tech Onix / Dove Grey S20 / Bright Orange,Product code: CM4822

In [844]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [845]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [848]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[15]/div/div/div/div/div/div')
search_keyword.click()

In [849]:
Type_of_colors = []
Style_code = []

In [850]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [851]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [852]:
print(len(Type_of_colors), len(Style_code))

1 1

In [853]:
import pandas as pd
df75=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df75

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Cloud White / Core Black / Cloud White,Product code: GW9195

In [854]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [855]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [856]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[16]/div/div/div/div/div/div')
search_keyword.click()

In [862]:
Type_of_colors = []
Style_code = []

In [863]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [864]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[5]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [865]:
print(len(Type_of_colors), len(Style_code))

1 1

In [866]:
import pandas as pd
df76=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df76

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Core Black / Better Scarlet / Cloud White,Product code: HP9014

In [ ]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [ ]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [871]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[17]/div/div/div/div/div/div')
search_keyword.click()

In [876]:
Type_of_colors = []
Style_code = []

In [877]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [878]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [879]:
print(len(Type_of_colors), len(Style_code))

1 1

In [880]:
import pandas as pd
df77=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df77

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Light Solid Grey / Light Solid Grey / Bold Gold,Product code: GY7479

In [881]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [883]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [884]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[18]/div/div/div/div/div/div')
search_keyword.click()

In [891]:
Type_of_colors = []
Style_code = []

In [892]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [893]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[3]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [894]:
print(len(Type_of_colors), len(Style_code))

1 1

In [895]:
import pandas as pd
df78=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df78

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Collegiate Navy / Semi Impact Orange / Cloud W...,Product code: GC0911

In [896]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [897]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [898]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[19]/div/div/div/div/div/div')
search_keyword.click()

In [899]:
Type_of_colors = []
Style_code = []

In [900]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [901]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[5]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [902]:
print(len(Type_of_colors), len(Style_code))

1 1

In [903]:
import pandas as pd
df79=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df79

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Legend Ink / Legend Ink / Shadow Navy,Product code: HP2677

In [904]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [905]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [906]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[20]/div/div/div/div/div/div')
search_keyword.click()

In [907]:
Type_of_colors = []
Style_code = []

In [908]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [909]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [912]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [910]:
print(len(Type_of_colors), len(Style_code))

1 1

In [911]:
import pandas as pd
df80=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df80

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Core Black / Dove Grey S20,Product code: GC0569

In [915]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [914]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [ ]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[21]/div/div/div/div/div/div')
search_keyword.click()

In [916]:
Type_of_colors = []
Style_code = []

In [917]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [918]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[3]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [919]:
print(len(Type_of_colors), len(Style_code))

1 1

In [920]:
import pandas as pd
df81=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df81

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Core Black / Cloud White / Core Black,Product code: GY1945

In [ ]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [ ]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [925]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[22]/div/div/div/div/div/div')
search_keyword.click()

In [926]:
Type_of_colors = []
Style_code = []

In [927]:
title_tags=driver.find_elements(By.CLASS_NAME, 'single-color-label___29kFh')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [928]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [929]:
print(len(Type_of_colors), len(Style_code))

1 1

In [930]:
import pandas as pd
df82=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df82

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Legend Ink / Cloud White / Legend Ink,Product code: GZ5892

In [931]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [933]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [934]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[23]/div/div/div/div/div/div')
search_keyword.click()

In [935]:
Type_of_colors = []
Style_code = []

In [936]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [937]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[5]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [938]:
print(len(Type_of_colors), len(Style_code))

1 1

In [939]:
import pandas as pd
df83=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df83

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Solar Red / Core Black / Lucid Blue,Product code: HP7634

In [101]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [102]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [942]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[24]/div/div/div/div/div/div')
search_keyword.click()

In [947]:
Type_of_colors = []
Style_code = []

In [948]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [949]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[3]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [950]:
print(len(Type_of_colors), len(Style_code))

1 1

In [951]:
import pandas as pd
df84=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df84

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Core Black / Cloud White / Grey Six,Product code: GA0910

In [104]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[25]/div/div/div/div/div/div')
search_keyword.click()

In [110]:
Type_of_colors = []
Style_code = []

In [111]:
title_tags=driver.find_elements(By.CLASS_NAME, 'single-color-label___29kFh')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [112]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[2]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [113]:
print(len(Type_of_colors), len(Style_code))

1 1

In [114]:
import pandas as pd
df85=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df85

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n4\n5\n6\n7\n8\n9\n10\n1...,Core Black / Cloud White,Product code: EX2038

In [43]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[26]/div/div/div/div/div/div')
search_keyword.click()

In [53]:
Type_of_colors = []
Style_code = []
Count_of_sizes = []

In [54]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="main-content"]/div[2]/div[2]/section/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [55]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [56]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [57]:
print(len(Type_of_colors), len(Style_code),len(Count_of_sizes))

1 1 1

In [58]:
import pandas as pd
df86=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df86

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n4\n5\n6\n7\n8\n9\n10\n1...,Legend Ink / Cloud White / Legend Ink,Product code: GZ5892

In [65]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[27]/div/div/div/div/div/div')
search_keyword.click()

In [71]:
Type_of_colors = []
Style_code = []

In [72]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [73]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[3]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [74]:
print(len(Type_of_colors), len(Style_code))

1 1

In [75]:
import pandas as pd
df85=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df85

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n4\n5\n6\n7\n8\n9\n10\n1...,Core Black / Cloud White / Grey Six,Product code: GA0910

In [79]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[29]/div/div/div/div/div/div')
search_keyword.click()

In [80]:
Type_of_colors = []
Style_code = []

In [81]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [82]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [83]:
print(len(Type_of_colors), len(Style_code))

1 1

In [84]:
import pandas as pd
df87=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df87

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n4\n5\n6\n7\n8\n9\n10\n1...,Core Black / Core Black / Cloud White,Product code: FX3624

In [85]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [86]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [87]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[30]/div/div/div/div/div/div')
search_keyword.click()

In [88]:
Type_of_colors = []
Style_code = []

In [89]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [90]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [91]:
print(len(Type_of_colors), len(Style_code))

1 1

In [92]:
import pandas as pd
df88=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df88

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n4\n5\n6\n7\n8\n9\n10\n1...,Tech Indigo / Impact Yellow F22,Product code: GC0728

In [ ]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [94]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [95]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[31]/div/div/div/div/div/div')
search_keyword.click()

In [96]:
Type_of_colors = []
Style_code = []

In [97]:
title_tags=driver.find_elements(By.CLASS_NAME, 'single-color-label___29kFh')
for i in title_tags[0:23]:
    title=i.text
    Type_of_colors.append(title)

In [98]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [99]:
print(len(Type_of_colors), len(Style_code))

1 1

In [100]:
import pandas as pd
df89=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df89

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n4\n5\n6\n7\n8\n9\n10\n1...,Core Black / Grey Six / Dove Grey S20,Product code: FW1662

In [120]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[32]/div/div/div/div/div/div')
search_keyword.click()

In [137]:
Type_of_colors = []
Style_code = []
Count_of_sizes = []

In [138]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="main-content"]/div[2]/div[2]/section/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [139]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:1]:
    title=i.text
    Type_of_colors.append(title)

In [140]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [141]:
print(len(Type_of_colors), len(Style_code),len(Count_of_sizes))

1 1 1

In [142]:
import pandas as pd
df90=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df90

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n3\n3.5\n4\n4.5\n5\n5.5\...,Core Black / Cloud White / Team Power Red,Product code: GX9887

In [34]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [35]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [8]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[40]/div/div/div/div/div/div')
search_keyword.click()

In [15]:
Type_of_colors = []
Style_code = []
Count_of_sizes = []

In [16]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="main-content"]/div[2]/div[2]/section/div[1]')
for i in title_tags[0:23]:
    title=i.text
    Count_of_sizes.append(title)

In [17]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:1]:
    title=i.text
    Type_of_colors.append(title)

In [18]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [19]:
print(len(Type_of_colors), len(Style_code),len(Count_of_sizes))

1 1 1

In [20]:
import pandas as pd
df91=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df91

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n6\n6.5\n7\n7.5\n8\n8.5\...,Cloud White / Cloud White / Grey Two,Product code: FX3631

In [23]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[41]/div/div/div/div/div/div')
search_keyword.click()

In [29]:
Type_of_colors = []
Style_code = []

In [30]:
title_tags=driver.find_elements(By.CLASS_NAME, 'single-color-label___29kFh')
for i in title_tags[0:1]:
    title=i.text
    Type_of_colors.append(title)

In [31]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[5]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [32]:
print(len(Type_of_colors), len(Style_code))

1 1

In [33]:
import pandas as pd
df92=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df92

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n6\n6.5\n7\n7.5\n8\n8.5\...,Cloud White / Core Black / Blue Dawn S23,Product code: HR0085

In [37]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[42]/div/div/div/div/div/div')
search_keyword.click()

In [43]:
Type_of_colors = []
Style_code = []

In [44]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:1]:
    title=i.text
    Type_of_colors.append(title)

In [45]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [46]:
print(len(Type_of_colors), len(Style_code))

1 1

In [47]:
import pandas as pd
df93=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df93

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n6\n6.5\n7\n7.5\n8\n8.5\...,Cloud White / Off White / Green,Product code: GX9885

In [48]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [49]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [52]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[44]/div/div/div/div/div/div')
search_keyword.click()

In [62]:
Type_of_colors = []
Style_code = []

In [63]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:1]:
    title=i.text
    Type_of_colors.append(title)

In [64]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[5]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [65]:
print(len(Type_of_colors), len(Style_code))

1 1

In [66]:
import pandas as pd
df94=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df94

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n6\n6.5\n7\n7.5\n8\n8.5\...,Core Black / Core Black / Cloud White,Product code: IG6001

In [67]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [68]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [74]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[35]/div/div/div/div/div/div')
search_keyword.click()

In [80]:
Type_of_colors = []
Style_code = []

In [81]:
title_tags=driver.find_elements(By.CLASS_NAME, 'single-color-label___29kFh')
for i in title_tags[0:1]:
    title=i.text
    Type_of_colors.append(title)

In [82]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[6]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [83]:
print(len(Type_of_colors), len(Style_code))

1 1

In [84]:
import pandas as pd
df95=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df95

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n6\n6.5\n7\n7.5\n8\n8.5\...,Cloud White / Cloud White / Core White,Product code: HP7598

In [85]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [86]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [87]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[36]/div/div/div/div/div/div')
search_keyword.click()

In [96]:
Type_of_colors = []
Style_code = []

In [97]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:1]:
    title=i.text
    Type_of_colors.append(title)

In [98]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [99]:
print(len(Type_of_colors), len(Style_code))

1 1

In [100]:
import pandas as pd
df96=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df96

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n6\n6.5\n7\n7.5\n8\n8.5\...,Cloud White / Cloud White / Cloud White,Product code: HP6012

In [ ]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [ ]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [ ]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[37]/div/div/div/div/div/div')
search_keyword.click()

In [112]:
Type_of_colors = []
Style_code = []

In [113]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:1]:
    title=i.text
    Type_of_colors.append(title)

In [114]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[4]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [115]:
print(len(Type_of_colors), len(Style_code))

1 1

In [116]:
import pandas as pd
df91=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df91

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n6\n6.5\n7\n7.5\n8\n8.5\...,Cloud White / Cloud White / Core Black,Product code: GW9283

In [142]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Men')

In [143]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="app"]/div/div[1]/div[1]/div/div/div[1]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[2]/div[1]')
search_keyword.click()

In [119]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[38]/div/div/div/div/div/div')
search_keyword.click()

In [124]:
Type_of_colors = []
Style_code = []

In [125]:
title_tags=driver.find_elements(By.CLASS_NAME, 'single-color-label___29kFh')
for i in title_tags[0:1]:
    title=i.text
    Type_of_colors.append(title)

In [126]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[3]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [127]:
print(len(Type_of_colors), len(Style_code))

1 1

In [128]:
import pandas as pd
df92=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df92

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n6\n6.5\n7\n7.5\n8\n8.5\...,Glory Red / Off White / Cream White,Product code: IG1062

In [131]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[39]/div/div/div/div/div/div')
search_keyword.click()

In [137]:
Type_of_colors = []
Style_code = []

In [138]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:1]:
    title=i.text
    Type_of_colors.append(title)

In [139]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[5]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [140]:
print(len(Type_of_colors), len(Style_code))

1 1

In [141]:
import pandas as pd
df93=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df93

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n6\n6.5\n7\n7.5\n8\n8.5\...,Core White / Carbon / Screaming Orange S21,Product code: HP7864

In [150]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[3]/div/div/div[2]/div[1]/div/div[47]/div/div/div/div/div/div')
search_keyword.click()

In [159]:
Type_of_colors = []
Style_code = []

In [160]:
title_tags=driver.find_elements(By.CLASS_NAME, 'color-label___2hXaD')
for i in title_tags[0:1]:
    title=i.text
    Type_of_colors.append(title)

In [161]:
title_tags=driver.find_elements(By.XPATH, '//*[@id="navigation-target-specifications"]/div/div/div/div[1]/ul[2]/li[3]')
for i in title_tags[0:1]:
    title=i.text
    Style_code.append(title)

In [162]:
print(len(Type_of_colors), len(Style_code))

1 1

In [163]:
import pandas as pd
df94=pd.DataFrame({'Count_of_sizes':Count_of_sizes,'Type_of_colors':Type_of_colors,'Style code':Style_code})
df94

,Count_of_sizes,Type_of_colors,Style code
0,Sizes\nFind your size\n6\n6.5\n7\n7.5\n8\n8.5\...,Cloud White / Cloud White / Green,Product code: FX5502

In [27]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))

In [28]:
driver.get("https://www.adidas.com")

In [30]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="__next"]/div[2]/div[2]/div/header/div[2]/div/div[2]/div/input')
search_keyword.clear()
search_keyword.send_keys('Shoes Women')

In [31]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="__next"]/div[2]/div[2]/div/header/div[2]/div/div[2]/div/div[2]/div/div[1]/div[2]/a[1]/div[1]/span[1]')
search_keyword.click()

In [32]:
search_keyword = driver.find_element(By.XPATH, '//*[@id="main-content"]/div/div[2]/div/div/div[2]/div[1]/div/div[1]/div/div/div/div/div/div/div[1]')
search_keyword.click()

In [37]:
Type_of_colors = []
Style_code = []
Count_of_sizes = []

In [38]:
title_tags=driver.find_elements(By.XPATH,"//ul[@data-auto-id='color_selector']/li//span[@class='gl-label']")
for i in title_tags[0:50]:
    title=i.text
    Count_of_sizes.append(title)

In [39]:
print(len(Count_of_sizes))

0

In [36]:
import pandas as pd
df94=pd.DataFrame({'Type_of_colors':Type_of_colors})
df94

Empty DataFrame
Columns: [Type_of_colors]
Index: []

In [ ]:
import requests
from bs4 import BeautifulSoup
def scrape_website(url):
    try:
        response = requests.get(url)
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            count_of_sizes = soup.find('span', {'class': 'count-of-sizes'}).text.strip() if soup.find('span', {'class': 'count-of-sizes'}) else 'N/A'
            color1 = soup.find('span', {'class': 'color1'}).text.strip() if soup.find('span', {'class': 'color1'}) else 'N/A'
            color2 = soup.find('span', {'class': 'color2'}).text.strip() if soup.find('span', {'class': 'color2'}) else 'N/A'
            color3 = soup.find('span', {'class': 'color3'}).text.strip() if soup.find('span', {'class': 'color3'}) else 'N/A'
            color4 = soup.find('span', {'class': 'color4'}).text.strip() if soup.find('span', {'class': 'color4'}) else 'N/A'
            color5 = soup.find('span', {'class': 'color5'}).text.strip() if soup.find('span', {'class': 'color5'}) else 'N/A'
            style_code = soup.find('span', {'class': 'style-code'}).text.strip() if soup.find('span', {'class': 'style-code'}) else 'N/A'
            return {
                'Count of Sizes': count_of_sizes,
                'Color1': color1,
                'Color2': color2,
                'Color3': color3,
                'Color4': color4,
                'Color5': color5,
                'Style Code': style_code
            }
        else:
            print(f"Failed to retrieve data from {url}. Status code: {response.status_code}")
            return None
    except Exception as e:
        print(f"An error occurred: {str(e)}")
        return None
urls_to_scrape = [
    'https://www.nike.com',
    'https://www.adidas.com',
    'https://us.puma.com/us/en',
    'https://www.skechers.com',
    'https://www.columbia.com/',
    'https://www.woodlandworldwide.com/'
]
for url in urls_to_scrape:
    scraped_data = scrape_website(url)
    if scraped_data:
        print(f"Data from {url}:\n{scraped_data}\n")

In [ ]:
import requests
from bs4 import BeautifulSoup
def scrape_website(url):
    try:
        response = requests.get(url)
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            reviews = soup.find('span', {'class': 'reviews'}).text.strip() if soup.find('span', {'class': 'reviews'}) else 'N/A'
            size = soup.find('span', {'class': 'size'}).text.strip() if soup.find('span', {'class': 'size'}) else 'N/A'
            comfort = soup.find('span', {'class': 'comfort'}).text.strip() if soup.find('span', {'class': 'comfort'}) else 'N/A'
            performance = soup.find('span', {'class': 'performance'}).text.strip() if soup.find('span', {'class': 'performance'}) else 'N/A'
            star_rating = soup.find('span', {'class': 'star-rating'}).text.strip() if soup.find('span', {'class': 'star-rating'}) else 'N/A'
            return {
                'Reviews': reviews,
                'Size': size,
                'Comfort': comfort,
                'Performance': performance,
                'Star Rating': star_rating
            }
        else:
            print(f"Failed to retrieve data from {url}. Status code: {response.status_code}")
            return None
    except Exception as e:
        print(f"An error occurred: {str(e)}")
        return None
urls_to_scrape = [
    'https://www.nike.com',
    'https://www.adidas.com',
    'https://us.puma.com/us/en',
    'https://www.skechers.com',
    'https://www.columbia.com/',
    'https://www.woodlandworldwide.com/'
]
for url in urls_to_scrape:
    scraped_data = scrape_website(url)
    if scraped_data:
        print(f"Data from {url}:\n{scraped_data}\n")